<a href="https://colab.research.google.com/github/tluistorres/Cursos/blob/main/Pandas_transforma%C3%A7%C3%A3o_e_manipula%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![img_conhecendo_biblioteca.jpg]()


![img_datasicence.png]()

# Aula 01 - Pandas:conhecendo a biblioteca

Com o Trello aberto, analisaremos o primeiro card da coluna "A fazer". Note que se chama "Importar e conhecer a base de dados" e nele constam duas tarefas:

importar os dados;
explorar as caractersticas gerais dos dados.
Passaremos este card para a coluna "Em andamento" e partiremos para a realizao das tarefas.

Para isso, usaremos um notebook no Google Colab, chamado de "projeto_imobiliaria.ipynb". Nele, deixamos alguns ttulos que correspondem s tarefas que faremos no decorrer do curso. Ele foi disponibilizado para download na atividade anterior a este vdeo.

Utilizaremos a ferramenta Pandas para desenvolver todo o nosso projeto. Trata-se de uma biblioteca para anlise de dados em Python, que possui diversos recursos para trabalharmos com dados. Com ela, podemos limpar, manipular, analisar e visualizar os dados.

O primeiro passo ser importar a biblioteca Pandas e apelid-la de pd:

# "projeto_imobiliaria.ipynb"

In [1]:
# O primeiro passo ser importar a biblioteca Pandas e apelid-la de pd:

import pandas as pd

# Em seguida, faremos a importao da base. Para isso, usaremos a url que consta em nosso Trello:

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

# Como ela est no formato CSV, podemos utilizar a funo read_csv() para realizar a leitura:


pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botnico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienpolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepagu;3;1;2;78;1800;800;40
32957  Apartamento;So Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

Perceba que possui a estruturao de uma tabela, mas no est bem formatada, pois os dados constam em uma s coluna, separados por ponto e vrgula.

Arquivos do tipo CSV tm a vrgula como separador, embora possamos encontrar separadores diferentes, como o ponto e vrgula, que  o caso da nossa base.

A funo read_csv() considera, por padro, que o arquivo lido tem a vrgula como separador. Quando este no  o caso,  necessrio especificar, na funo, que o arquivo possui um separador diferente:

Na clula seguinte, passaremos novamente o comando de leitura, informando sep, ou seja, o separador:

In [3]:
pd.read_csv(url, sep=';')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,So Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [4]:
# Agora, podemos salvar esta tabela em uma varivel dados e cham-la para nos certificar que foi salva corretamente:

dados = pd.read_csv(url, sep=';')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,So Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

Note que temos uma linha com reticncias, seguida das linhas finais do dataframe. Isso ocorre porque nossa base possui muitos registros. Sendo assim, o que podemos fazer para melhorar essa visualizao inicial  solicitar somente os primeiros registros usando o mtodo .head().

In [5]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN

Vale ressaltar, porm, que podemos escolher a quantidade de registros que devem ser retornados. Para isso, basta passar o nmero como parmetro, por exemplo, dados.head(3) para 3 registros.

H outro mtodo que tambm traz uma quantidade especfica de linhas, com a diferena que parte dos registros finais. Trata-se do mtodo .tail():

In [6]:
dados.tail()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,So Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

Assim como o mtodo anterior, este tambm nos permite definir a quantidade de registros passando um nmero como parmetro.

Para finalizar a importao dos dados, vamos verificar o tipo da varivel dados usando a funo type():

In [7]:
type(dados)

pandas.core.frame.DataFrame

Isso significa que a tabela gerada a partir da leitura dos dados  uma estrutura de dados chamada dataframe.  importante conhecermos essa estrutura porque a utilizaremos no decorrer do nosso projeto!

Agora que finalizamos a importao dos dados, podemos voltar ao card que est em andamento e marcar a tarefa "Importar os dados".

# Para saber mais: biblioteca Pandas

Pandas  uma biblioteca Python de cdigo aberto para anlise de dados. Ela fornece ferramentas poderosas e fceis de usar para manipulao e anlise de dados em formatos de tabelas, como CSV, Excel, SQL e muitos outros.

Com Pandas, podemos carregar dados de vrias fontes em um objeto chamado DataFrame, que  uma tabela de dados semelhante a uma planilha do Excel. Em seguida, podemos trabalhar com esses dados, realizando operaes como filtrar, ordenar, agregar e transformar.

A biblioteca Pandas  amplamente utilizada em aplicaes de cincia de dados, aprendizado de mquina, finanas e anlise de negcios. Ela  uma ferramenta essencial para profissionais que trabalham com dados, como analistas de dados, cientistas de dados e engenheiros de dados.

Em resumo, a biblioteca Pandas  uma ferramenta de alta capacidade para anlise de dados em Python, que permite trabalhar com dados em diferentes formatos e realizar vrias operaes para manipular, analisar e visualizar os dados de maneira eficiente e produtiva.

Para conhecer mais detalhes dessa biblioteca, recomendo um artigo de Pandas muito completo que temos aqui na Alura:

Pandas: o que , para que serve e como instalar

*   Pandas: o que , para que serve e como instalar

O Pandas fornece diversas funes para importar e exportar dados em diferentes formatos. As principais funes do Pandas para importar dados so as seguintes:

*   read_csv( ): Essa funo  usada para ler arquivos CSV (Comma Separated Values), que so arquivos de texto que contm dados separados por vrgulas.  possvel passar diversos parmetros para personalizar a leitura do csv, como delimitador, cabealho, tipo de encoding, entre outros.

*   read_excel( ): Essa funo  usada para ler arquivos do Excel (.xls ou .xlsx) e criar um DataFrame a partir dos dados.

*   read_json( ): Essa funo  usada para ler arquivos JSON (JavaScript Object Notation), que so arquivos de texto que contm dados em formato de objeto JavaScript.

*   read_html( ): Essa funo  usada para ler tabelas HTML, que so estruturas de dados organizadas em formato de tabela em uma pgina da web.

*   read_sql(): Essa funo  usada para ler dados de um banco de dados relacional, como o MySQL, PostgreSQL e SQL Server.

O Pandas  capaz de importar dados de diferentes formas, permitindo ajustar parmetros como a consulta, o nome da tabela e o tipo de dados das colunas.

-------------------------------------------------------------------------

A segunda e ltima tarefa do card "Importar e conhecer a base de dados"  explorar as caractersticas gerais dos dados. Ento,  isso que faremos agora!

De volta ao nosso notebook,  importante lembrar que se ficarmos um tempo sem acess-lo ou o fecharmos e o abrirmos novamente, precisamos executar novamente todas as clulas anteriores para que o processo de importao da base seja realizado. Para isso, basta ir em Ambiente de execuo > Executar tudo.

# Comearemos explorando a quantidade de linhas e colunas que nossa base possui:

In [8]:
dados.shape

(32960, 9)

Como retorno, obtemos a tupla (32960, 9), com dois elementos. O primeiro corresponde  quantidade de linhas; o segundo,  de colunas. Sendo assim, temos 32960 linhas e 9 colunas.

Veremos, agora, quais so as colunas:

In [9]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

# Perceba que nos retornou o nome das 9 colunas:

1.   Tipo: tipo de imvel;

1.   Bairro: bairro em que est localizado;

3.   Quartos: nmero de quartos;

4.   Vagas: nmero de vagas de garagem;

5.   Suites: nmero de sutes;

6.   Area: rea do imvel em metros quadrados;

7.   Valor: valor do imvel;

8.   Condominio: valor mensal do condomnio;

9.   IIPTU: valor do IPTU.

Com isso, podemos inferir o tipo de dado de cada coluna, mas  importante nos certificar para garantir que estejam coerentes. H vrias formas de acessar esta tipagem, mas, aqui, usaremos o mtodo info():

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

Note que temos acesso ao nome de cada coluna, a quantidade de dados no nulos existente na coluna em questo e o tipo de dado.

As colunas "Tipo" e "Bairro", por exemplo, so object; "Quartos", "Vagas" e "Area" so int; e "Valor", "Condominio" e "IPTU" so float.

Agora, vamos visualizar pelo menos uma coluna de cada tipo de dado (objeto, inteiro e float) para entender o que so.

Comecemos pela coluna "Tipo", que possui dados do tipo object. Para selecionar uma nica coluna, basta passar o nome do dataframe e o nome da coluna entre colchetes:

In [11]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

Trata-se de uma series, uma estrutura dos Pandas que  mais simples que um dataframe, j que  composta apenas por ndices e valores.

Perceba, ento, que os dados da coluna "Tipo", so strings, ou seja, dados textuais.

Vejamos uma coluna dos tipos int e float. Faremos a consulta das duas juntas, da seguinte forma:

In [12]:
dados[['Quartos', 'Valor']]

       Quartos   Valor
0            1  1700.0
1            2  7000.0
2            0  5200.0
3            1   800.0
4            1   800.0
...        ...     ...
32955        0   800.0
32956        3  1800.0
32957        2  1400.0
32958        2  3000.0
32959        0  6500.0

[32960 rows x 2 columns]

Notamos, ento, que os dados do tipo int so nmeros inteiros, que  o caso da coluna "Quarto". J os dados do float, da coluna "Valor", so decimais.

Conseguimos explorar diversas caractersticas da nossa base de dados, vimos a quantidade de linhas e colunas, quais so essas colunas e a tipagem de dados de cada uma. Feito isso, podemos marcar a segunda tarefa do card como feita e mov-lo para aba de concludo!

Finalizamos a tarefa de importao e explorao da nossa base de dados. Podemos, ento, partir para a primeira demanda solicitada pelo time de Machine Learning!

# Desafio: bora praticar?

Para praticar os mtodos aprendidos no decorrer dessa aula e tambm aprender novos, vamos realizar algumas anlises utilizando um arquivo csv diferente: alunos.csv.

1) Importe o arquivo alunos.csv e armazene seu contedo em um DataFrame Pandas.

2) Visualize as primeiras 7 linhas do DataFrame e as 5 ltimas.

3) Confira a quantidade de linhas e colunas desse DataFrame.

4) Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna.

Extra: Calcule algumas estatsticas descritivas bsicas dos dados do DataFrame (mdia, desvio padro, etc). Dica: pesquise pelo mtodo describe.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Voc pode baix-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das prximas aulas.

In [13]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)

dados.head(10)

     Nome  Idade  Notas  Aprovado
0     Ary     20    7.5      True
1     Ana     18    NaN     False
2   Ctia     27    2.5     False
3   Denis     18    5.0     False
4    Beto     21   10.0      True
5   Bruna     23    NaN     False
6    Dara     21    7.0      True
7  Carlos     19    6.0      True
8   Alice     35    5.6     False
9   Vitor     28    NaN     False

In [14]:
dados.tail()

      Nome  Idade  Notas  Aprovado
13   Mirla     25    9.0      True
14   Paulo     37    NaN     False
15  Mylena     29    7.0      True
16   Lucas     33    NaN     False
17   Nadia     34    8.0      True

Tanto o atributo shape quanto o mtodo info nos retornam a quantidade de linhas e colunas de um DataFrame. O info traz algumas informaes adicionais, ento, vamos utilizar aqui o `shape:

In [15]:

dados.shape

(18, 4)

Nesse momento, podemos utilizar o .columns para visualizar as colunas presentes no DataFrame. Alm disso, tambm podemos selecionar colunas especficas utilizando os colchetes "[ ]". E para visualizar os tipos de dados presentes em cada coluna, dessa vez optei por utilizar um atributo chamado dtypes

In [16]:
# visualizando os nomes das colunas

dados.columns

Index(['Nome', 'Idade', 'Notas', 'Aprovado'], dtype='object')

In [17]:
#selecionando mltiplas colunas

dados[['Idade', 'Notas']]

    Idade  Notas
0      20    7.5
1      18    NaN
2      27    2.5
3      18    5.0
4      21   10.0
5      23    NaN
6      21    7.0
7      19    6.0
8      35    5.6
9      28    NaN
10     21    NaN
11     24    4.5
12     26    9.5
13     25    9.0
14     37    NaN
15     29    7.0
16     33    NaN
17     34    8.0

In [18]:
# conferindo os tipos de dados de cada coluna

dados.dtypes

Nome         object
Idade         int64
Notas       float64
Aprovado       bool
dtype: object

In [19]:
dados.describe()

           Idade      Notas
count  18.000000  12.000000
mean   25.500000   6.800000
std     6.070662   2.204953
min    18.000000   2.500000
25%    21.000000   5.450000
50%    24.500000   7.000000
75%    28.750000   8.250000
max    37.000000  10.000000

O mtodo describe( )  uma das funes mais teis do Pandas para a anlise exploratria de dados. Essa funo  usada para calcular algumas estatsticas descritivas bsicas dos dados em um DataFrame ou em uma coluna especfica de um DataFrame.

_________________________________________________________________________
Nos ltimos vdeos, importamos a nossa base de dados e fizemos algumas exploraes inicias, para conhecermos as caractersticas gerais dessa base. Em todo o processo, utilizamos a biblioteca Pandas.

Conclumos as tarefas do primeiro card do nosso Trello. Agora, vamos partir para as demandas do time de Machine Learning.

Observao: Todas as atividades que realizaremos para o time de Machine Learning servem, basicamente, para preparar a base de dados. Assim, o time poder utiliz-la na criao de um modelo de precificao de imveis.

Nossas anlises e tratamentos sero baseadas nessa informao!

Estamos no nosso Trello, "Pandas: conhecendo a biblioteca". Na coluna "A fazer", vamos partir para o card de "Anlise exploratria dos dados". Ao abri-lo, encontramos uma descrio mais detalhada do que se trata essa etapa.

Basicamente, podemos dizer que a Anlise Exploratria de Dados  o momento em que buscamos entender algumas informaes mais especficas da nossa base de dados, alm de entender sua estrutura.

Comeamos a fazer um pouco dessa explorao nos vdeos anteriores e agora podemos realiz-la de forma mais direcionada, tentando responder algumas perguntas que faam sentido com o nosso contexto, como as que esto no card:

Quais os valores mdios de aluguel por tipo de imvel?
Qual o percentual de cada tipo de imvel na nossa base de dados?
Essas perguntas nos guiaro na nossa anlise exploratria. Vamos fechar o card e como iniciaremos a atividade, podemos arrast-lo para a coluna de "Em andamento". Agora, retornaremos ao notebook do curso, no Google Colab.

Estamos na seo de "Anlise exploratria de dados". A primeira pergunta que responderemos : qual o valor mdio de aluguel por tipo de imvel?

Para respond-la, vamos visualizar rapidamente as primeiras linhas da nossa base de dados, rodando o seguinte comando:

In [20]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)

In [21]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

# Como ela est no formato CSV, podemos utilizar a funo read_csv() para realizar a leitura:


pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botnico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienpolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepagu;3;1;2;78;1800;800;40
32957  Apartamento;So Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [22]:
# Agora, podemos salvar esta tabela em uma varivel dados e cham-la para nos certificar que foi salva corretamente:

dados = pd.read_csv(url, sep=';')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,So Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [23]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN

Para responder o valor mdio de aluguel por imvel, percebemos que as colunas que mais importaro so as de "Tipo" e "Valor", que se referem justamente ao tipo e preo dos aluguis.

# Mtodo mean( )

O Pandas possui um mtodo chamado mean () que nos permite calcular a mdia de um conjunto de dados. Vamos comear calculando a mdia dos valores da coluna "Valor". Passaremos dados, selecionaremos a coluna 'Valor', e adicionaremos .mean( ):

In [24]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

# Como ela est no formato CSV, podemos utilizar a funo read_csv() para realizar a leitura:

pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botnico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienpolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepagu;3;1;2;78;1800;800;40
32957  Apartamento;So Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [25]:
dados = pd.read_csv(url, sep=';')

In [26]:
dados['Valor'].mean()

np.float64(12952.659715265761)

Recebemos, como retorno, a mdia de valor de todos os valores da coluna. No  exatamente essa informao que queremos, mas, sim, a mdia de preos de aluguis, isto , de valores agrupados por tipo: a mdia de valores de aluguis de apartamentos, casas e assim sucessivamente.

Para isso, temos que agrupar nossos dados conforme o tipo de imvel. No Pandas existe o mtodo groupby( ), que realiza esse agrupamento por alguma coluna especfica do dataframe.

Vamos utiliz-lo e entender como funciona.

# Mtodo groupby( )

Passaremos o comando dados.groupby( ) numa nova clula. Nos parnteses, informaremos o nome da coluna a partir da qual desejamos agrupar os dados do nosso dataframe: 'Tipo'. Ento:

In [27]:
dados.groupby('Tipo')

O mtodo groupby( ) funciona em conjunto com outras funes do Pandas, como a sum de soma ou a mean que  a mdia. Com essas funes, podemos fazer agregaes conforme o agrupamento que realizamos.

Aplicaremos a funo de mdia, afinal,  isso que queremos calcular quando o agrupamento for feito. Aps o groupby( ), vamos passar .mean( ).

In [29]:
dados.groupby('Tipo').mean()

# Ocorrer erro.

TypeError: agg function failed [how->mean,dtype->object]

Nesse ponto,  importante nos atentarmos a um detalhe. Analisando rapidamente as colunas do nosso dataframe, notaremos que temos tanto colunas numricas quanto colunas de texto. No cdigo acima, fizemos um agrupamento e aplicamos um mtodo de agregao, o mean( ). .

Se voc estiver usando a verso 1 da biblioteca Pandas, automaticamente esse mtodo de agregao ser aplicado unicamente nas colunas numricas. No entanto, se voc estiver utilizando da verso 2 em diante, esse comportamento no ser o mesmo. Nesse caso, ao fazer o agrupamento e aplicar o mtodo de agregao, ele ser aplicado a todas as colunas, incluindo as de texto. Isso pode gerar um erro.

Para evitar que isso acontea, podemos especificar um parmetro no mtodo mean( ) (e nos outros mtodos de agregao tambm): numeric_only=True.

Com isso, especificamos que a mdia ser calculada apenas nas colunas numricas e no teremos nenhum erro. Ento:

In [ ]:
dados.groupby('Tipo').mean(numeric_only=True)

Ao executar essa clula, estamos agrupando nosso dataframe dados conforme a coluna Tipo e calculando a mdia de valores conforme esse agrupamento.

O retorno  um dataframe onde os ndices so os tipos de imveis presentes na nossa base de dados, porque agrupamos nossos dados a partir dessa coluna.

As outras colunas possuem a mdia por tipo de imvel de valores referentes  coluna em questo do dataframe original.

Por exemplo, os imveis do tipo "Apartamento" possuem uma mdia de 2.48 quartos, uma mdia de 1.23 vagas de garagem e assim sucessivamente. A coluna que realmente importa para ns  a de "Valor", pois  ela que apresenta o valor mdio do aluguel por tipo de imvel.

Os imveis do tipo "Apartamento" possuem uma mdia de preo de aluguel de R$4744 (quatro mil, setecentos e quarenta e quatro reais). Tambm podemos visualizar as mdias de preo dos outros tipos de imveis do dataframe.

# Melhorando a visualizao do dataframe

Podemos selecionar apenas a coluna de valor no dataframe, j que  apenas ela que nos interessa no momento. Vamos copiar o cdigo em que realizamos o agrupamento e calculamos a mdia. Podemos col-lo na clula seguinte e selecionar a coluna de valor abrindo colchetes antes do mtodo mean( ) e passando seu nome: ['Valor'].

Com isso, estamos selecionando uma coluna numrica especfica antes da aplicao do mtodo mean( ). Isso significa que esse mtodo no ser mais aplicado a todas as colunas do dataframe, mas apenas na coluna selecionada.

Ento, no precisamos mais utilizar o parmetro numeric_only=True no mtodo. Podemos apag-lo, ainda que deix-lo no v gerar nenhum erro.

Ento, teremos:

In [ ]:
dados.groupby('Tipo')['Valor'].mean()

O retorno desse comando apresenta apenas os valores da coluna "Valor" no formato de series. Como so muitas informaes, a visualizao no ficou to boa.

Podemos transformar essa visualizao em um dataframe. Para isso, basta copiar o cdigo acima, colar na prxima clula e passar colchetes duplos no momento de seleo da coluna valor: [['Valor']].

Alm disso, para deixar a visualizao ainda mais interessante, podemos ordenar os dados em ordem crescente: a menor mdia de valor de aluguel para a maior. Para isso, adicionamos um .sort_values( ) aps o mean( ), passando como parmetro a coluna "Valor" como critrio para ordenar os dados:

# Adicionamos um .sort_values( ) aps o mean( ), passando como parmetro a coluna "Valor" como critrio para ordenar os dados

In [ ]:
dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

A visualizao em dataframe ficou bem melhor! Alm disso, os dados da coluna "Valor" esto ordenados da menor mdia de preos de aluguis para a maior.

Como temos muitos dados, a visualizao ainda no  a ideal. Ficar analisando cada um dos nmeros conforme o tipo  trabalhoso. Para facilitar, podemos plotar um grfico utilizando esse dataframe.

# Criando um grfico

O primeiro passo , numa nova clula, salvar nosso dataframe em uma varivel que chamaremos de df_preco_tipo. Ela receber nosso cdigo anterior:

In [ ]:
df_preco_tipo = dados.groupby('Tipo')[['Valor']].mean().sort_values("Valor")

# Em seguida digitar o cdigo.

df_preco_tipo = dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

df_preco_tipo.plot(kind='barh', figsize=(14, 10), color ='blue');

Nesse cdigo, ns chamamos a varivel df_preco_tipo que est com o nosso dataframe. Em seguida adicionamos .plot( ), mtodo utilizado para plotar grficos com a biblioteca Pandas, e passamos alguns parmetros:



1.  O primeiro  o kind, onde especificamos o tipo de grfico que desejamos plotar. No nosso caso, escolhemos um grfico de barras horizontais, 'barh'.

2.  O segundo  o figsize, onde especificamos o tamanho do grfico que desejamos plotar.

3.  O terceiro e ltimo  o color, onde especificamos a cor das barras do grfico. No nosso caso, escolhemos 'blue', isto , azul.

O retorno  de um grfico em que o eixo y possui os tipos de imveis da nossa base de dados e o eixo x, a mdia do valor do aluguel (o eixo x est graduado de 0 a 500 mil, com intervalos de 100 mil).

Existe uma variedade de imveis (eixo y), desde prdio inteiro, que apresenta o valor mais caro, at quitinete, com o valor mais baixo.

Analisando o grfico, percebemos que os preos de aluguis mdios variam muito de um tipo de imvel para outro. O motivo disso  que nossa base de dados possui tanto imveis residenciais, como casas, apartamentos e quitinetes, quanto imveis comerciais, como hotel, conjunto comercial/sala, dentre outros.

Se estamos preparando essa base de dados para que seja usada pelo time de Machine Learning para criao de um modelo de precificao de imveis, no faz sentido deixar imveis residenciais e comerciais na mesma base, principalmente tendo valores to distintos. Isso pode prejudicar o aprendizado do modelo.

Considerando essa questo e tambm que o maior interesse da empresa imobiliria so imveis residenciais, podemos remover os imveis comerciais da base de dados.

-------------------------------------------------------------------------

# Para saber mais: entendendo o groupby

O mtodo groupby do Pandas permite agrupar e resumir dados de um DataFrame, com base em um ou mais critrios. Esses critrios podem ser variveis numricas ou categricas, como colunas ou ndices do DataFrame.

A ideia por trs do groupby  dividir os dados em grupos com base nos critrios selecionados e, em seguida, aplicar uma operao a esses grupos. Essa operao pode ser uma funo de agregao, como soma, mdia, contagem, desvio padro, entre outras, ou mesmo uma operao personalizada definida pela pessoa usuria.

Esse mtodo possui diversos parmetros, alguns deles so:

  1. by: esse  o parmetro mais comum e  usado para especificar a coluna ou colunas que queremos agrupar. Como argumento dele, podemos passar o nome de uma coluna ou uma lista de nomes de colunas;

  2. axis: utilizamos esse parmetro para especificar o eixo ao longo do qual queremos agrupar. O valor padro dele  0, o que significa que as linhas sero agrupadas. Se quisermos agrupar as colunas, devemos definir esse parmetro como 1;

  3. sort: esse parmetro  um booleano (True ou False) que indica se os grupos devem ser ordenados pelo valor da coluna de agrupamento. O valor padro  True;

  4. dropna: utilizamos esse parmetro para controlar se os valores ausentes (NaN) sero excludos ou no durante o processo de agrupamento. O valor padro  True.


Vamos analisar um exemplo simples utilizando o groupby.

Suponha que temos o seguinte DataFrame:

Cdigo do DataFrame:

In [ ]:
import pandas as pd

df = pd.DataFrame({
   'Animal': ['Cachorro', 'Gato', 'Elefante', 'Cachorro', 'Gato', 'Elefante'],
   'Cor': ['Preto', 'Branco', 'Cinza', 'Marrom', 'Preto', 'Marrom'],
   'Quantidade': [2, 3, 1, 4, 2, 2]
})
df

Aqui ns temos um DataFrame com dados referentes a alguns animais. Vamos utilizar o groupby para agrupar os dados pelo tipo de animal e realizarmos a soma da coluna "Quantidade" para conferirmos o total de cada tipo de animal:

In [ ]:
df.groupby('Animal').sum(numeric_only=True)

Podemos tambm usar o mtodo groupby para agrupar os dados por mltiplas colunas. Por exemplo, vamos agrupar pelo tipo do animal e tambm pela cor e realizar a soma da coluna "Quantidade":

In [ ]:
df.groupby(['Animal', 'Cor'])[['Quantidade']].sum()

Assim, podemos observar que o groupby  um mtodo muito til para situaes em que precisamos dividir os dados em grupos para analisar o comportamento desses grupos. Utilizando esse mtodo, ns podemos responder perguntas especficas sobre nossos conjuntos de dados.

Caso queira aprender mais sobre esse mtodo, deixo a sugesto de dois artigos:

  1. Pandas GroupBy: Your Guide to Grouping Data in Python;
  2. Pandas Groupby: 5 mtodos para conhecer em Python.
  
Ambos os artigos esto em ingls, mas podem ser facilmente traduzidos utilizando a extenso de traduo do Google Chrome.

# Removendo os imveis comerciais

Estamos com o notebook do curso aberto e comearemos analisando os tipos nicos de imveis presentes na nossa base de dados.

Anteriormente, selecionamos a coluna "Tipo" utilizando colchetes. Desta vez, adicionaremos um ponto antes da palavra e no usaremos colchetes: .Tipo.

Para visualizarmos os tipos nicos presentes nessa coluna, podemos usar o mtodo .unique( ).

In [ ]:
dados.Tipo.unique()

O mtodo .unique( ) nos retornou uma lista com todos os valores nicos existentes na coluna "Tipo". Ou seja, todos os tipos de imveis que possumos na base de dados.

Para no precisar copiar um por um dos imveis comerciais dessa lista e acelerar o processo, j temos a lista dos tipos de imveis que desejamos remover pronta. Basta col-la na prxima clula:

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala',
                      'Prdio Inteiro', 'Loja/Salo',
                      'Galpo/Depsito/Armazm',
                      'Casa Comercial', 'Terreno Padro',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chcara',
                      'Loteamento/Condomnio', 'Stio',
                      'Pousada/Chal', 'Hotel', 'Indstria']

A lista se chama imoveis_comerciais e contm todos os imveis que no so casa ou apartamento. Ns a executamos para salvar seu contedo.

O prximo passo  remover cada um dos registros da nossa base de dados em que o tipo do imvel seja alguns destes presentes na coluna.

Para fazer essa seleo, utilizaremos um mtodo do Pandas chamado query( ). Esse mtodo nos permite selecionar linhas especficas de um dataframe com base em uma condio especfica.

A condio que passamos para o mtodo query( )  sempre no formato de uma expresso, entre aspas. Vamos selecionar todas as linhas do nosso dataframe em que o tipo de imvel seja algum dos presentes na lista imoveis_comerciais.

Para isso, nos parnteses do mtodo query( ), entre aspas, adicionaremos a expresso @imoveis_comerciais in Tipo:

Com isso, estamos pedindo para que o query( ) selecione apenas as linhas da nossa base de dados onde, na coluna "Tipo", existem apenas componentes da nossa lista imoveis_comerciais. Usamos o @ antes do nome da varivel porque ele  exigido ao passar uma varivel numa expresso.

In [ ]:
dados.query('@imoveis_comerciais in Tipo')

O retorno  um dataframe com uma quantidade menor de linhas. Na coluna "Tipo" exitem apenas imveis dos tipos que esto em imoveis_comerciais.

Mas, o que queremos  o oposto disso. Ns selecionamos os imveis comerciais e desejamos retir-los da nossa base de dados, selecionando, portanto, apenas os imveis dos tipos residenciais. Ou seja, linhas em que a coluna "Tipo" no contenha nenhum dos componentes da nossa lista imoveis_comerciais.

Para fazer isso, basta copiar o cdigo do .query( ), colar na clula abaixo e, antes do in, adicionar o termo not.

In [ ]:
dados.query('@imoveis_comerciais not in Tipo')

Temos exatamente o oposto da seleo anterior.  possvel notar que agora, na coluna "Tipo", temos apenas imveis do tipo residencial como quitinete, casa e apartamento.

Tambm podemos conferir que a seleo est correta pela quantidade de linhas: antes tnhamos 9800 linhas, correspondentes aos imveis que desejvamos remover da base de dados. Agora, temos em torno de 23 mil.

Vamos salvar a seleo em uma nova varivel, que chamaremos de df. A declaremos na prxima clula:

In [ ]:
df = dados.query('@imoveis_comerciais not in Tipo')

Para conferir se o salvamento ocorreu corretamente  s visualizar os dados iniciais do dataframe, utilizando .head( ) na linha de baixo da clula:

In [ ]:
df = dados.query('@imoveis_comerciais not in Tipo')
df.head()

Tambm podemos conferir se os imveis da coluna "Tipo" so apenas os residenciais. Para isso, utilizaremos novamente o mtodo .unique( ), mas trocando dados por df:

In [ ]:
df.Tipo.unique()

 possvel conferir que temos apenas imveis do tipo: quitinete, casa, apartamento, casa de condomnio, flat, casa de vila, loft e studio. Temos bem menos tipos de imveis na nossa base de dados agora que removemos os de tipo comercial.

Por fim, vamos plotar o grfico outra vez. Assim, conseguiremos analisar se a mdia de preo no est variando tanto quanto antes. Vamos retornar ao grfico que plotamos anteriormente, copiar seu cdigo, colar em outra clula e substituir a varivel dados por df:

In [ ]:
df_preco_tipo = df.groupby("Tipo")[["Valor"]].mean().sort_values("Valor")

df_preco_tipo.plot(kind='barh', figsize=(14, 4), color ='purple');

O grfico est bastante diferente do anterior!  possvel notar que ainda existe uma grande variao em relao  mdia de preo de imveis, no entanto, essa variao  bem menor.

Agora podemos retornar ao nosso Trello, acessar o card de "Anlise exploratria dos dados" que est na coluna "Em andamento" e marcar a primeira tarefa como concluda, pois j respondemos a primeira pergunta: quais os valores mdios de aluguel por tipo de imvel?

Alm disso, identificamos um problema e resolvemos. Falta responder a segunda pergunta: o percentual de cada tipo de imvel presente na base de dados.

-------------------------------------------------------------------------

Observao: Na nova atualizao da biblioteca Pandas, a coluna de valores proporcionais, quando no dataframe, ser nomeada automaticamente como proportions. Com essa mudana,  necessrio alterar tambm a coluna selecionada para a criao da varivel df_percentual tipo:

In [ ]:
df_percentual_tipo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('proportion')

Estamos no card de "Anlise exploratria dos dados" (coluna "Em andamento" do trello). J respondemos a primeira pergunta e agora partiremos para a segunda: qual o percentual de cada tipo de imvel presente na base de dados?

Ou seja, precisamos descobrir quais tipos de imveis esto mais ou menos presentes na nossa base de dados.

# Qual o percentual de cada tipo de imvel na nossa base de dados?

Vamos comear visualizando novamente os tipos nicos existentes na nossa coluna "Tipo". Estamos trabalhando com a varivel df.

In [ ]:
df.Tipo.unique()

Os tipos nicos so: quitinete, casa, apartamento, casa de condomnio, flat, casa de vila, loft e studio. Precisamos contar quantas vezes cada um desses tipos aparecem na nossa base de dados. No Pandas, existe um mtodo que faz justamente isso: o values_counts ( ).

# Mtodo value_counts( )

Vamos selecionar mais uma vez a coluna "Tipo" e contar os valores.

In [ ]:
df.Tipo.value_counts()

O resultado  uma series, onde os ndices so tipos de imveis que esto na base de dados e em valores, temos quantas vezes cada um desses tipos aparecem na nossa base de dados.

Como a nossa pergunta  qual o percentual de cada tipo de imvel, precisamos visualizar essas quantidades em percentuais. Isso  simples! Basta acrescentar um parmetro no value_counts( ) chamado normalize=True.

In [ ]:
df.Tipo.value_counts(normalize=True)

O retorno apresenta as mesmas informaes, mas no formato de percentual. Para melhorarmos essa visualizao, vamos realizar o mesmo processo que fizemos anteriormente para transformar o series em dataframe.

# Mtodo to_frame( ) - converte uma series em um dataFrame.

Vamos copiar o cdigo com value_counts( ). Desta vez, utilizaremos o mtodo to_frame( ) que converte uma series em um dataframe.

In [ ]:
df.Tipo.value_counts(normalize=True).to_frame()

A series foi convertida em dataframe. A coluna de valores foi nomeada como "Tipo", mas no tem problema, pois se trata apenas de uma visualizao.

Vamos ordenar tambm o nosso dataframe do menor para o maior percentual.

Para isso, adicionaremos .sort_values( ) e passaremos o nome da coluna 'Tipo'.

In [ ]:
df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

Agora, os percentuais esto ordenados do menor para o maior. Porm, sabemos que essa ainda no  a melhor visualizao. Vamos criar um grfico para compararmos esses percentuais de forma mais fcil.

O primeiro passo  salvar o dataframe em uma varivel, que chamaremos de df_percentual_tipo.

In [ ]:
df_percentual_tipo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

In [ ]:
df_percentual_tipo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

df_percentual_tipo.plot(kind='bar', figsize=(14, 4), color ='green', edgecolor='black',
                        xlabel = 'Tipos', ylabel = 'Percentual');

Passamos df_percentual_tipo, nome da varivel onde salvamos o dataframe. Depois, .plot( ), para plotarmos o grfico. Nos parnteses, indicamos que estamos plotando um grfico de barras verticais. Com figsize definimos o tamanho, com color a cor das barras (verde).

Ainda nos parnteses do .plot( ), passamos dois parmetros: xlabel, que  o nome do eixo x, e o y_label, que  o nome do eixo y.

O retorno  um grfico de barras, onde o eixo x corresponde aos tipos nicos que temos na nossa base de dados (da origem para a extremidade positiva): studio; loft; casa de vila; flat; quitinete; casa; casa de condomnio; aparamento.

O eixo y corresponde ao percentual dos tipos da nossa base de dados. Ele est graduado de 0.0 a 0.8, com intervalos de 01.

Analisando o grfico, podemos notar que os imveis do tipo apartamento representam a maioria da nossa base de dados: mais de 80% dos dados. Pensando nisso:

# Faz sentido manter os outros tipos de imveis na nossa base de dados?

Casas e apartamentos do Rio de Janeiro possuem caractersticas muito distintas. Consequentemente, os preos dos aluguis desses imveis tambm variam bastante, como notamos na anlise anterior.

Considerando isso e que os apartamentos representam a maior parte da nossa base de dados, faz sentido trabalharmos apenas com os imveis do tipo apartamento.

Ento, vamos selecionar apenas os imveis do tipo apartamento e trabalhar apenas com eles daqui para frente.

# Selecionando apenas os imveis do tipo apartamento

Nesta etapa, utilizaremos o mtodo query( ) e passaremos a expresso que corresponde  condio que queremos: selecionar as linhas em que, na coluna "Tipo", o imvel seja do tipo apartamento.

Para isso, vamos indicar o nome da coluna e dizer que ela  igual a apartamento. Sendo que "Apartamento" deve estar entre aspas tambm.

Como estamos utilizando aspas simples para especificar a condio, dentro dessa condio, quando for necessrio usar aspas, temos que utilizar outro tipo de aspas, como as aspas duplas. Isso vale tambm para o contrrio.

Vamos rodar a clula!

In [ ]:
df.query('Tipo == "Apartamento"')

O resultado  um dataframe em que todas as linhas so do tipo apartamento. Vamos salvar esse comando em uma varivel df. Tambm adicionaremos df.head( ) para conferirmos se est correto.

In [ ]:
df = df.query('Tipo == "Apartamento"')
df.head()

 O dataframe foi retornado, apenas com imveis do tipo apartamento. Assim, finalizamos nossa anlise exploratria! Podemos retornar ao trello, concluir a segunda tarefa do nosso card de "Anlise exploratria dos Dados" e arrast-lo para a coluna de "Concludo".

# Para saber mais: alterando os nomes de colunas

Quando trabalhamos com bases de dados, em alguns momentos, pode ser necessrio fazermos alteraes nos nomes das colunas. Por exemplo, quando criamos o seguinte DataFrame no nosso projeto:

In [ ]:
df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

Podemos notar que a coluna com os percentuais, ficou nomeada como "Tipo". E se quisssemos mudar o nome dela para "Percentuais"?

Nesse caso, ns podemos utilizar o mtodo rename( ) para mudar o nome dessa coluna. Esse mtodo nos permite especificar um dicionrio que associa o nome antigo da coluna ao novo nome que queremos atribuir. Ento, vamos fazer isso:

In [ ]:
# Salvando o DataFrame em uma varivel

df_exemplo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

# Alterando o nome da coluna "Proportion" para "Percentuais"

df_exemplo.rename(columns={'proportion': 'Percentuais'}, inplace=True)

# Visualizando o DataFrame

df_exemplo

# Desafio: bora praticar?

O time de ML chegou com algumas demandas de ltima hora para resolvermos nesse momento da anlise exploratria. Essas demandas so:

1) Calcular a mdia de quartos por apartamento;

2) Conferir quantos bairros nicos existem na nossa base de dados;

3) Analisar quais bairros possuem a mdia de valor de aluguel mais elevadas;

4) Criar um grfico de barras horizontais que apresente os 5 bairros com as mdias de valores de aluguel mais elevadas.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Voc pode baix-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das outras aulas.

Como vamos utilizar a mesma base de dados do nosso projeto, no notebook de resoluo dos desafios, eu fiz novamente a importao da nossa base de dados e apliquei as alteraes que j realizamos nela at aqui.

Vale ressaltar que em algumas situaes podemos utilizar diferentes mtodos do Pandas para fazer a mesma coisa. Ento, as solues abaixo no so a nica forma de resolver os desafios propostos.

1 - Para calcular a mdia de quartos, podemos selecionar a coluna de interesse e aplicar o mtodo mean( ):

In [ ]:
df['Quartos'].mean()

2 - Uma forma de conferir quantos bairros nicos existem na base de dados, seria utilizando o mtodo unique( ), que vai nos retornar uma lista com os bairros nicos. E logo em seguida utilizar a funo len, para contar quantos elementos existem nessa lista:

In [ ]:
len(df['Bairro'].unique())

Alm disso, tambm podemos utilizar um mtodo do prprio Pandas que j faz a contagem de elementos nicos de uma coluna especfica de forma direta. Esse mtodo  o nunique( ):

In [ ]:
df['Bairro'].nunique()

3 - Para analisar quais bairros possuem a mdia de valor de aluguel mais elevada, ns podemos:

*   agrupar nossa base de dados de acordo com a coluna Bairro;

*   aplicar o mtodo mean;

*   colocar o resultado em um DataFrame e orden-lo.

In [ ]:
df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False)

O parmetro ascending=False  usado na funo sort_values( ) para ordenar os valores em ordem decrescente (do maior para o menor).

4 - Como ns queremos criar um grfico com apenas os 5 bairros que possuem a mdia de aluguel mais elevada, ns podemos utilizar o .head( ) para selecionar as 5 primeiras linhas do DataFrame que criamos no desafio 3 e salvar isso em uma varivel:

In [ ]:
df_bairros = df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False).head()

Em seguida, podemos criar o grfico:

In [ ]:
df_bairros.plot(kind='barh', figsize=(14,4), color='blue');

# Verificando dados nulos

Abrimos o nosso notebook, e para comear vamos descobrir qual a coluna da nossa base de dados possuem dados nulos usando o mtodo isnull. Para isso, na seo "Lidando com dados nulos" selecionamos a primeira clula e digitamos df.isnull( ) (sendo df o nome do nosso dataframe, a varivel). Podemos executar essa clula.

Como retorno, temos um dataframe booleano. Onde temos apenas true e false, sendo que false representa que o dado que est naquela determinada posio no  um dado nulo, j o true representa justamente o contrrio, significa que o dado  nulo.

In [ ]:
df.isnull()

Pelo fato do nosso dataframe ser enorme e possuir vrias linhas, essa visualizao no  a ideal para identificarmos quais colunas possuem dados nulos e quais no possuem.

Para que possamos visualizar isso de forma mais explcita, podemos usar a funo sum. Esta soma todos os true e false e nos retorna a quantidade de dados nulos existentes em cada coluna.

Para tal, copiamos a linha de cdigo que fizemos anteriormente: df.isnull( ). E colamos na clula seguinte adicionando .sum( ) na sequncia.

Os verdadeiros correspondem ao valor 1, e os falsos ao valor 0. Assim, quando fizermos a soma de todos esses valores, vamos ter o total de valores nulos por coluna.

In [ ]:
df.isnull().sum()

Temos o nome de cada coluna  esquerda, e  direita a quantidade de dados nulos existentes em cada uma delas. Notamos que somente o valor, o condomnio e o IPTU possuem valores nulos. Com isso identificado, precisamos tratar esses dados nulos.

Como as colunas que possuem valores nulos so numricas, vamos substituir os valores nulos pelo valor zero. Vale ressaltar que nem sempre essa  a melhor abordagem e que esse tratamento de valores nulos sempre ir depender do projeto que estamos trabalhando.

Para aplicar essa substituio, usamos um mtodo chamado de fillna( ). Descendo para a prxima clula, escrevemos df.fillna( ) passando o valor que desejamos substituir os valores nulos. No nosso caso  o nmero zero, portanto, escrevemos:

In [ ]:
df.fillna(0)

Logo aps, executamos essa clula.

Como retorno, obtemos um dataframe com os valores nulos substitudos por zero (no exibimos todas as linhas do retorno):

Entretanto, para aplicarmos essa mudana definitiva no nosso dataframe precisamos atribuir a ele novamente a nossa varivel df. Podemos copiar a linha de cdigo da clula anterior e acrescentamos df = antes:

In [ ]:
df = df.fillna(0)

Executamos mais uma vez, e para verificarmos que no h nenhum dado nulo na nossa base de dados, vamos copiar o cdigo que fazemos a soma (que confere a quantidade de valores nulos por coluna) e colamos abaixo da clula de atribuio.

In [ ]:
df.isnull().sum()

Nenhuma das nossas colunas possuem valores nulos. Assim conclumos mais uma etapa do nosso projeto.

Voltando ao Trello, clicamos no card "Tratar valores nulos" e em "Tarefas" selecionamos as caixas de seleo para marcar as tarefas como concludas.

Tarefas

 Verificar a existncia de dados nulos
 Tratar os dados nulos
Em seguida arrastamos esse card para a coluna "Concludo".

-------------------------------------------------------------------------

# Para saber mais: lidando com dados nulos

Tratar dados nulos em uma base de dados  muito importante porque esses dados faltantes podem interferir diretamente na qualidade das anlises e nos resultados obtidos. Quando existem dados nulos em um conjunto de dados, podem ocorrer problemas como vis, reduo da acurcia e impreciso nas informaes obtidas.

Alm disso, algumas anlises e modelos estatsticos no so capazes de lidar com a presena de dados faltantes. Por isso, o tratamento dos dados nulos  fundamental para garantir a confiabilidade e a preciso das anlises e decises tomadas a partir desses dados.

Existem diversas formas de tratar dados nulos com o Pandas. Algumas das principais formas so:

 1. Remover os dados nulos:  possvel remover as linhas ou colunas que possuem valores nulos utilizando o mtodo dropna( ) . Esse mtodo remove todas as linhas ou colunas que possuem pelo menos um valor nulo.

 2. Preencher os dados nulos: Utilizando o mtodo fillna( ), podemos preencher os valores nulos com um valor especfico. Alm disso, tambm  possvel utilizar argumentos especficos do mtodo fillna( ) como o method=ffill ou method=bfill para preencher os valores nulos com o valor anterior ou posterior, respectivamente.

 3. Interpolar os dados nulos:  possvel utilizar o mtodo interpolate( ) para preencher os valores nulos com valores interpolados, ou seja, valores calculados a partir dos valores vizinhos.

 importante escolher a melhor forma de tratar os dados nulos de acordo com a situao especfica e o objetivo da anlise de dados.

No Trello, na coluna "A fazer", clicamos no card "Remover registros inconsistentes". Nele, temos a seguinte descrio e tarefas:

# Descrio

Alguns registros existentes na base de dados no fazem muito sentido, por exemplo:

 1. partamentos que possuem valor de aluguel igual a 0;
 2. apartamentos com o valor do condomnio igual a 0.

Esses registros so inconsistentes, por isso devemos remov-los da nossa base de dados.

# Tarefas

 1. Remover apartamentos com valor igual a 0

 2. Remover apartamentos com condomnio igual a 0

Vamos remover registros que no fazem sentido ou que simplesmente no precisam constar na nossa base de dados. Alguns desses registros so em que os apartamentos possuem valor de aluguel igual a 0 e tambm condominio igual a 0.

Para a equipe de machine learning, no faz sentido deixarmos esses registros na base de dados, podemos remov-los. Antes vamos arrastar o card para a coluna "Em andamento".

Abrindo o nosso notebook, vamos selecionar todas as linhas que desejamos remover. Isto : todas as linhas em que a coluna valor ou condomnio sero igual a 0 e , para isso, usamos o mtodo query.

Na primeira clula, escrevemos df.query(' ') passando a expresso de acordo com o que desejamos selecionar no nosso dataframe. No caso, desejamos todas as linhas em que a coluna valor ou que a coluna condomnio seja igual a 0.

In [ ]:
df.query('Valor == 0 | Condominio == 0')

Observe que ou a coluna valor  igual a 0 ou a coluna condomnio  igual a 0.

Essas so as linhas que precisamos remover do nosso dataframe. Para isso, copiamos o cdigo da clula que rodamos para esse dataframe e colamos na clula abaixo.

Agora, vamos capturar os ndices dessas linhas que desejamos apagar usando o .index.

In [ ]:
df.query('Valor == 0 | Condominio == 0').index

Vamos armazenar todos esses ndices em uma varivel chamada de registros_a_remover. Para isso, vamos na clula seguinte e escrevemos registros_a_remover = df.query('Valor == 0 | Condomnio == 0').index.

In [ ]:
registros_a_remover = df.query('Valor == 0 | Condominio == 0').index

Executamos a clula para armazenar esses ndices. Agora, removemos as linhas que possuem esses ndices da nossa base de dados usando um mtodo chamado de drop. Escrevemos df.drop( ) passando o que desejamos deletar que  a varivel registros_a_remover.

Na sequncia, especificamos um parmetro chamado de axis que passamos 0 ou 1. O zero significa que desejamos remover linhas, j o 1 significa que queremos remover as colunas. Para o nosso cenrio, passamos o nmero 0 para o parmetro axis para removermos as linhas.

Logo aps vamos especificar mais um parmetro chamado de inplace passando o valor true. Especificamos esse parmetro para que essas alteraes sejam aplicadas no dataframe, sem precisarmos fazer uma atribuio (colocando df = na frente do cdigo).

O inplace faz isso automaticamente para ns.

In [ ]:
df.drop(registros_a_remover, axis=0, inplace=True)

A clula foi executada com sucesso! Teoricamente, as linhas que solicitamos foram removidas da nossa base de dados. Mas para garantirmos isso, executamos novamente a query: df.query('Valor == 0 | Condominio == 0').

Como retorno, temos um dataframe vazio:

In [ ]:
df.query('Valor == 0 | Condominio == 0')

Isso significa que no temos nenhuma linha na nossa base de dados em que o valor ou do aluguel ou condomnio so 0. Assim conseguimos remover o que nos foi solicitado.

Mas ser que no h mais nada na nossa base de dados que possa ser removido? Vamos conferir.

Na clula seguinte, escrevemos df.head() para visualizarmos as primeiras linhas do nosso dataframe.

No retorno, temos:

In [ ]:
df.head()

Analisando a coluna "Tipo", temos somente apartamento. Isso ocorre porque anteriormente selecionamos somente imveis do tipo apartamento para trabalharmos. Logo, no faz sentido deixarmos essa coluna "Tipo" uma vez que ela possui um valor nico.

Para garantirmos isso, usamos o mtodo unique( ).

In [ ]:
df.Tipo.unique()

Ele nos informa que o nico valor existente na coluna "Tipo"  o apartamento. Logo, podemos remover tambm essa coluna usando o mtodo drop( ). Escrevemos na clula seguinte df.drop('Tipo', axis=1, inplace=True).

In [ ]:
df.drop('Tipo', axis=1, inplace=True)

Foi executado com sucesso, mas para garantir que essa coluna foi removida vamos visualizar a nossa base de dados rodando comando df.head( ).

In [ ]:
df.head()

# Mtodo drop

O mtodo drop( ) da biblioteca Pandas permite remover uma ou mais linhas e/ou colunas de um DataFrame. Essa remoo pode ser realizada de forma permanente no DataFrame original.  possvel especificar os ndices das linhas e/ou colunas a serem removidos, bem como o eixo em que a remoo deve ocorrer.

Suponha que temos o seguinte DataFrame, salvo em uma varivel chamada dados:

Cdigo para criao do DataFrame:

In [ ]:
import pandas as pd

dados = pd.DataFrame([['Feira', 'Cebola', 2.5],
                        ['Mercado', 'Cebola', 1.99],
                        ['Supermercado', 'Cebola', 1.69],
                        ['Feira', 'Tomate', 4],
                        ['Mercado', 'Tomate', 3.29],
                        ['Supermercado', 'Tomate', 2.99],
                        ['Feira', 'Batata', 4.2],
                        ['Mercado', 'Batata', 3.99],
                        ['Supermercado', 'Batata', 3.69]],
                        columns = ['Local', 'Produto', 'Preo'])
dados

 Resposta correta : dados.drop([2, 5, 8], axis=0, inplace=True)

Nosso trello est aberto e acessaremos o prximo card da coluna "A fazer", o card "Aplicar filtros".

O time de Machine Learning precisa de algumas informaes especficas para avaliar o oramento de alguns apartamentos alguns cenrios:

 1. Apartamentos que possuem 1 quarto e aluguel menor que R$ 1200;

 2. Apartamentos que possuem pelo menos 2 quartos, aluguel menor que R$ 3000 e rea maior que 70 metros quadrados.

Ento, temos que encontrar formas de aplicar esses filtros na nossa base de dados, deixando as informaes mais compreensveis, assim o time de Machine Learning poder acess-las.

Comearemos realizando o processo de sempre: fechar o card e arrast-lo para a coluna de "Em andamento". Agora, vamos para o notebook do curso - aula 3.

# Filtro 1: Apartamentos com 1 quarto e aluguel < R$ 1200

Para aplicarmos esse filtro e realizar as selees, poderamos utilizar o mtodo query( ), porm, escolheremos um processo manual de desta.

O primeiro passo  selecionar os apartamentos com um quarto. Para isso, vamos pegar a varivel que est com o dataframe, df, e selecionar a coluna Quartos, que  de nosso interesse. Fora dos colchetes, adicionaremos "igual igual a 1".

In [ ]:
df['Quartos'] == 1

Ainda no conseguimos visualizar todos os dados da maneira em que precisamos. Vamos armazenar a seleo em uma varivel, selecao1, e pass-la para o nosso dataframe.

In [ ]:
selecao1 = df['Quartos'] == 1

O dataframe Pandas tem a propriedade de receber uma series booleana: as linhas com valor "True" so consideradas e as com valor "False" no so lidas. Vamos conferir isso na prtica!

Passaremos df, seguido da nossa varivel entre colchetes.

In [ ]:
selecao1 = df['Quartos'] == 1

df[selecao1].head(5)

O retorno  um dataframe com todos os nossos dados, mas apenas as linhas em que a coluna "Quartos" possui valor 1, exatamente a seleo que desejvamos fazer.

Agora, repetiremos o processo para a segunda seleo: apartamentos com aluguel menor que 1200. Para isso, passaremos df, selecionaremos a coluna Valor, que contm o valor do aluguel, utilizamos o operador <(menor) para indicar valor menor que 1200.

In [ ]:
df['Valor'] < 1200

In [ ]:
# Vamos salvar essa seleo em uma segunda varivel, selecao2, e pass-la para o nosso dataframe.

selecao2 = df['Valor'] < 1200

df[selecao2].head()

O retorno  um dataframe, mas, desta vez, no estamos preocupados com a coluna "Quartos", j que o filtro  na coluna "Valor", que sempre ter valores menores que 1200.

Para obter os dois cenrios juntos, 1 quarto e aluguel menor que R$ 1200, precisamos  necessrio juntar as duas selees e aplic-las ao nosso dataframe.

Na prxima clula, vamos criar uma varivel chamada selecao_final. Nela, uniremos as outras duas variveis que criamos anteriormente.

In [ ]:
selecao_final = (selecao1) & (selecao2)

Lembrando que o operador & significa and/e.

A varivel selecao_final vai filtrar conforme a seleo da coluna "Quartos" e conforme a seleo da coluna "Valor". Agora, vamos aplic-la ao nosso dataframe.

In [ ]:
selecao_final = (selecao1) & (selecao2)

df[selecao_final].head()

O retorno  um dataframe com dois filtros aplicados: apenas linhas em que a coluna "Quartos"  igual a 1 e apenas linhas em que a coluna "Valor"  menor que 1200.

Agora podemos salvar essa seleo no dataframe em outra varivel que ser de fcil acesso ao time de Machine Learning.

In [ ]:
df_1 = df[selecao_final]

# Filtro 2: Apartamentos com 2 quartos, aluguel < R$ 3000 e rea > 70 metros quadrados

In [ ]:
selecao = (df['Quartos'] >= 2) & (df['Valor'] < 3000) & (df['Area'] > 70)

Criamos uma varivel chamada selecao e nela realizamos as trs selees solicitadas. A primeira  para quando a coluna "Quartos" tiver um valor maior ou igual a 2. Utilizamos o operador and para uni-la  prxima seleo: quando o valor do aluguel for menor que 3 mil.

Em seguida, utilizamos outra vez o operador and para unir a terceira e ltima seleo s demais, quando a rea do apartamento  maior que 70. Na prxima linha, passaremos a seleo ao nosso dataframe.

In [ ]:
selecao = (df['Quartos'] >= 2) & (df['Valor'] < 3000) & (df['Area'] > 70)

df[selecao]

Obtivemos o dataframe resultante do filtro que criamos. Vamos salvar df[selecao] em outra varivel, caso seja necessrio utiliz-la depois.

In [ ]:
df_2 = df[selecao]

Conseguimos aplicar todos os filtros solicitados! Podemos retornar ao nosso trello, acessar o card "Aplicar filtros", concluir a tarefa "Aplicar os filtros necessrios" (basta clicar na caixa de seleo) e arrastar o card at a coluna de "Concludo".

Para finalizarmos a ltima demanda do time de Machine Learning, vamos acessar o prximo card da coluna "A fazer": o card "Salvar os dados". Em seguida, podemos arrast-lo para a coluna "Em andamento" e retornar ao notebook.

# Salvando os dados

Como lemos esse arquivo no formato CSV,  recomendvel que agora, no momento de salvar, ele seja salvo neste mesmo formato. Para isso, utilizaremos um mtodo do Pandas chamado to_csv( ).

# Mtodo to_csv( )

Comearemos chamando a varivel do nosso dataframe, df.to_csv( ). O primeiro parmetro que passaremos  o nome escolhido para salvar o arquivo: dados_apartamentos.csv.

Para salv-lo, basta executar a clula apertando "Shift + Enter".

In [ ]:
df.to_csv('dados_apartamentos.csv')

Os arquivos que salvamos no Colab aparecem na seo de "Files (Arquivos)", localizada na barra lateral esquerda. Basta acess-la para encontrar os dados_apartamentos.csv.

Podemos selecion-lo para a visualizao de uma prvia da nossa tabela e como ela foi salva.

Tambm  recomendvel tentar ler o arquivo para garantir que tudo foi salvo da maneira que espervamos. Vamos fechar a barra lateral direita que foi aberta, fechar a seo de arquivos e ler o arquivo.

Como o arquivo est na seo de arquivos do Google Colab, basta passar o seu nome para a funo read.csv() e executar a clula para realizar a leitura.

In [ ]:
df.to_csv('dados_apartamentos.csv')

pd.read_csv('dados_apartamentos.csv')

O retorno  um dataframe completo, com algo diferente dos anteriores: a coluna "Unnamed: 0". Quando salvamos um arquivo em formato CSV, ele automaticamente gera novos ndices ordenados para cada uma das nossas linhas e os ndices antigos do nosso dataframe vo para outra coluna: a "Unnamed: 0". Ela no tem nenhuma utilidade.

Para salvarmos os nossos dados sem essa coluna, podemos adicionar um parmetro no momento do salvamento. Ento, copiaremos a linha de cdigo do to_csv( ) e, colaremos na prxima clula e, aps o nome do arquivo, adicionaremos vrgula, seguida do parmetro index=False.

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False)

Basta passar o mesmo nome, dados_apartamentos.csv e, automaticamente, o arquivo que j temos na seo de "Files" ser sobrescrito.

Aps executar a clula, podemos realizar a leitura do arquivo novamente e testar se ele de fato foi salvo sem a coluna "Unnamed: 0".

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False)

pd.read_csv('dados_apartamentos.csv')

Deu certo! O retorno  um dataframe sem a coluna extra: "Unnamed: 0".

Lembrando que, quando usamos o to_csv() para salvar um arquivo em formato CSV, automaticamente ele  salvo separado por vrgulas (que  o padro do CSV).

No entanto, quando realizamos a leitura da nossa base de dados, notamos que ela estava separada por "ponto e vrgula ( ; )". Sendo assim, quando salvarmos a nova verso da nossa base de dados,  recomendvel manter esse padro e salv-la em CSV, separada por ponto e vrgula. Vamos fazer isso!

Esse processo  bastante simples! Vamos copiar nosso ltimo cdigo do .to_csv e acrescentar apenas mais um parmetro aps o index=False: sep=';'.

O parmetro sep nos permite indicar qual separador preferimos utilizar para separar cada coluna do arquivo CSV.

Para garantir que a opo de ponto e vrgula foi salva com sucesso, vamos realizar a leitura, inicialmente, sem especificar o separador.

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False, sep=';')

pd.read_csv('dados_apartamentos.csv')

O retorno  um dataframe que no est formatado corretamente, porque no especificamos que o separador  ponto e vrgula. Ento, vamos fazer a leitura correta agora, especificando o separador.

In [ ]:
pd.read_csv('dados_apartamentos.csv', sep=';')

Agora, sim, o dataframe foi salvo corretamente em CSV e as nossas colunas esto todas separadas por ponto e vrgula.  possvel baixar esse arquivo acessando a seo "File" e apertando os trs pontinhos que esto  frente do nome do arquivo: dados_apartamentos.csv.

Vamos selecionar a primeira opo que  "Fazer download" e aguardar alguns segundos. Pronto! Nosso arquivo foi baixado e est na nossa mquina.

Finalizamos as demandas do time de Machine Learning e podemos acessar a coluna "Em andamento" do trello, abrir o card "Salvar os dados", concluir a tarefa "Salvar o dataframe completo aps todas as modificaes" e arrast-lo at a coluna "Concludo".

# Desafio: salvando os dados filtrados

Durante o desenvolvimento do nosso projeto, ns aplicamos alguns filtros na nossa base de dados e salvamos os DataFrames resultantes em diferentes variveis, sendo elas: df_1 e df_2.

Com base nisso, salve esses DataFrames em 2 arquivos csv distintos para que o time de ML possa ter acesso a esses dados de forma mais prtica.

Para salvar esses DataFrames no formato csv, podemos utilizar o mtodo to_csv que j conhecemos:

In [ ]:
df_1.to_csv('filtro_1.csv', index=False, sep=";")

df_2.to_csv('filtro_2.csv', index=False, sep=";")

Com os arquivos salvos, pode ser interessante tambm realizar a leitura de cada um deles, utilizando o read_csv( ) para garantir que tudo ocorreu corretamente.

# Para saber mais: salvando em diferentes formatos

O Pandas oferece diversos mtodos para salvar arquivos em diferentes formatos. Alguns exemplos so:

 1. to_csv( ): salva o DataFrame em um arquivo CSV (Comma-Separated Values);

 2. to_excel( ): salva o DataFrame em um arquivo Excel;

 3. to_json( ): salva o DataFrame em um arquivo JSON (JavaScript Object Notation).

Esses so apenas alguns exemplos, existem outros mtodos disponveis no Pandas para salvar arquivos em diferentes formatos. Caso queira conhec-los, acesse a documentao:

User guide - IO tools

# Desafio: bora praticar?

Para praticar os mtodos aprendidos no decorrer dessa aula e tambm aprender novos, vamos realizar alguns tratamentos e selees utilizando um arquivo csv diferente: alunos.csv.

Esse arquivo  o mesmo utilizado para resoluo dos desafios da aula 1 e possui dados referentes a alunos de um curso superior.

Com base nisso, solucione os problemas propostos abaixo utilizando os conhecimentos adquiridos at aqui.

1) Verifique se a base de dados possui dados nulos e, caso tenha, realize o tratamento desses dados nulos da forma que achar mais coerente com a situao.

2) Os alunos "Alice" e "Carlos", no fazem mais parte da turma. Sendo assim, remova-os da base de dados.

3) Aplique um filtro que selecione apenas os alunos que foram aprovados.

4) Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv".

Extra: Ao conferir as notas dos alunos aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade, tinham um ponto extra que no foi contabilizado.

Sendo assim, substitua as notas 7.0 da base de dados por 8.0. Dica: pesquise pelo mtodo replace.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Voc pode baix-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das prximas aulas.

# Bora resolver esses desafios?

Vale ressaltar que, em algumas situaes, podemos utilizar diferentes mtodos do Pandas para fazer a mesma coisa. Ento, as solues abaixo no so a nica forma de resolver os desafios propostos.

1) Podemos comear verificando a existncia de dados nulos:

In [ ]:

import pandas as pd

alunos = pd.read_csv('/content/alunos.csv')

dados = alunos

In [ ]:
dados.isnull().sum()

E com o resultado, vamos notar que apenas a coluna "Notas" possui dados nulos. Nesse caso, podemos pensar que os alunos que esto sem nota muito provavelmente estavam com 0. Sendo assim, podemos substituir os valores nulos por 0:

In [ ]:
dados = dados.fillna(0)

dados

2) Para removermos os alunos "Alice" e "Carlos" da nossa base de dados, precisamos pegar os ndices das linhas onde os nomes deles esto localizados e utilizar o mtodo drop para remover as respectivas linhas:

In [ ]:
# salvando os ndices das linhas a serem removidas em uma varivel

alunos_a_remover = dados.query('Nome == "Alice" | Nome == "Carlos"').index

In [ ]:
# removendo as linhas referentes aos alunos "Alice" e "Carlos"

dados.drop(alunos_a_remover, axis=0, inplace=True)

3) Nesse caso, nosso primeiro passo  criar uma varivel onde ns realizamos a seleo apenas dos alunos aprovados:

In [ ]:
selecao = dados['Aprovado'] == True

In [ ]:
dados[selecao]

4) Para salvarmos o DataFrame apenas com os alunos aprovados, ns podemos comear salvando o DataFrame resultante do desafio 3 em uma varivel:

In [ ]:
alunos_aprovados = dados[selecao]

Em seguida, podemos utilizar o mtodo to_csv para salv-lo no formato csv:

In [ ]:
alunos_aprovados.to_csv('alunos_aprovados.csv', index=False)

Extra: O mtodo replace  utilizado para substituir um determinado valor por outro. No caso da nossa base de dados, ns queremos substituir os valores 7.0 por 8.0. Para isso, ns podemos utilizar o seguinte trecho de cdigo:

In [ ]:
alunos_aprovados.replace(7.0, 8.0)

E para salvarmos essa alterao de forma definitiva, podemos atribu-la a nossa varivel:

In [ ]:
alunos_aprovados = alunos_aprovados.replace(7.0, 8.0)

alunos_aprovados

Nos ltimos vdeos, atendemos todas as demandas solicitadas pelo time de machine learning:

importamos e exploramos a base de dados;
fizemos anlises exploratrias;
aplicamos tratamentos e filtros;
salvamos os dados.
Mas nossas demandas no acabaram. Vamos ao nosso trello para verificar o que ainda precisamos fazer.

Note que temos dois cards que correspondem s demandas do time de desenvolvimento do site da imobiliria. Um deles  o "Criar colunas numricas" que, como o prprio nome sugere, indica que precisamos criar colunas deste tipo que daro suporte para que o time de desenvolvimento tenha acesso a algumas informaes mais sumarizadas e possa colocar as informaes no site de divulgao dos imveis.

Segundo as informaes do card, a primeira coluna a ser criada  "valor_por_mes", onde colocaremos um compilado dos gastos mensais de cada imvel, incluindo aluguel e condomnio. A segunda coluna  "valor_por ano" e corresponde aos gastos anuais por imvel, ou seja, IPTU mais 12 meses de aluguel e condomnio.

Passaremos este card para a coluna "Em andamento", indicando que estamos realizando suas atividades.

Agora, voltemos ao nosso notebook para iniciar estes passos.

Comearemos importando novamente nossa base de dados. Isso porque, para o site da imobiliria, as informaes de todos os imveis so importantes. Mas lembre-se que, anteriormente, trabalhamos apenas com apartamentos, ento no faz sentido continuar utilizando o mesmo dataframe.

Faremos a importao salvando-a em uma varivel url. Em seguida, fazemos a leitura na varivel dados:

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

dados = pd.read_csv(url, sep=';')

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')
dados.head()

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')
dados.head()

A importao funcionou, ento partiremos para a criao das colunas numricas, comeando por "valor_por_mes".

Para isso, chamamos o dataframe como se fssemos escolher uma coluna existente, porm, passamos o nome da coluna que ser criada:

In [38]:
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio']

Basicamente, os dados dessas colunas sero somados, linha por linha, e armazenados na nova coluna "Valor_por_mes". Para nos certificar de que funcionou, acrescentaremos uma visualizao das primeiras linhas da base de dados.

In [39]:
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio']

dados.head(7)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao,Valor_por_mes
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana,2200.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN,Casa em Jardim Botnico,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca,9220.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro,1190.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN,Apartamento em Higienpolis,1030.0
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN,Apartamento em Vista Alegre,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,Apartamento em Cachambi,1601.0

Perceba que, ao final do dataframe, foi adicionada a coluna "Valor_por_mes" com a soma realizada. Criamos a primeira coluna numrica! Contudo, podemos notar que, a operao no foi efetuada para as linhas que possuem valores NaN. Precisamos realizar o tratamento dessas informaes e repetir o processo anterior:

In [40]:
dados.fillna(0,inplace = True)
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio']
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao,Valor_por_mes
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana,2200.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,0.0,0.0,Casa em Jardim Botnico,7000.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca,9220.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro,1190.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,0.0,Apartamento em Higienpolis,1030.0

Agora, criaremos "Valor_por_ano" seguindo um procedimento semelhante. Para esta coluna, devemos considerar os gatos mensais multiplicados por 12 (meses do ano) somado ao valor do IPTU.

In [41]:
dados['Valor_por_ano'] = dados['Valor_por_mes'] * 12 + dados['IPTU']

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao,Valor_por_mes,Valor_por_ano
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana,2200.0,26460.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,0.0,0.0,Casa em Jardim Botnico,7000.0,84000.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca,9220.0,111751.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro,1190.0,14300.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,0.0,Apartamento em Higienpolis,1030.0,12360.0

Note que esta nova coluna foi corretamente criada com os dados resultantes do clculo.

Assim, finalizamos a criao das colunas numricas solicitadas pelo time de desenvolvimento. Podemos, ento, marcar as tarefas do card como feitas e mov-lo para a coluna de concludo!

# Operaes entre colunas - Exerccio.

In [42]:
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0],
    'IPVA': [2000.0, 5000.0, 1700.0, 2200.0, 1000.0],
    'Desconto': [380.0, 450.0, 277.0, 400.0, 150.0]
}

df = pd.DataFrame(dados)
df

       Nome            Motor   Ano  Quilometragem     Valor    IPVA  Desconto
0     Jetta  Motor 4.0 Turbo  2019            0.0   88000.0  2000.0     380.0
1    Passat     Motor Diesel  2003         5712.0  106000.0  5000.0     450.0
2  Crossfox  Motor Diesel V8  1991        37123.0   72000.0  1700.0     277.0
3       DS5        Motor 2.0  2019            0.0   89000.0  2200.0     400.0
4     Fusca        Motor 1.6  1990       120000.0   32000.0  1000.0     150.0

Precisamos criar uma coluna chamada "Valor_total" que possui o valor do carro, somado com o IPVA e subtrados os valores de desconto. Qual das alternativas abaixo apresenta o cdigo correto para a criao dessa coluna?

Resp.: df['Valor_total'] = df['Valor'] + df['IPVA'] - df['Desconto']

De volta ao trello, note que temos o card "Criar colunas categricas", que se trata de uma demanda do time de desenvolvimento.

A primeira coluna ser chamada de "Descrio" e deve conter uma sumarizao das principais informaes de cada um dos imveis da nossa base de dados.

Entre elas  necessrio constar o tipo de imvel, o bairro, a quantidade de quartos e de vagas de garagem.

A segunda coluna se chamar "Possui_suite" e ser binria, onde devemos informar se o imvel tem sute ou no.

Vamos iniciar as atividades, ento podemos passar este trello para a coluna "Em andamento".

De volta ao notebook, criaremos a coluna "Descrio" seguindo um procedimento semelhante ao utilizado para a criao das colunas numricas:

In [43]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN

In [36]:
dados['Descricao'] = dados['Tipo'] + dados['Bairro']

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,QuitineteCopacabana
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN,CasaJardim Botnico
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/SalaBarra da Tijuca
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,ApartamentoCentro
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN,ApartamentoHigienpolis

In [37]:
dados['Descricao'] = dados['Tipo'] + ' em ' + dados['Bairro']

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN,Casa em Jardim Botnico
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN,Apartamento em Higienpolis

In [44]:
dados['Descricao'] = dados['Tipo'] + ' em ' + dados['Bairro'] + ' com ' + \
                                        dados['Quartos'].astype(str) + ' quarto(s) ' + \
                                        ' e ' + dados['Vagas'].astype(str) + ' vaga(s) de garagem.'
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana com 1 quarto(s) e 0 v...
1,Casa,Jardim Botnico,2,0,1,100,7000.0,NaN,NaN,Casa em Jardim Botnico com 2 quarto(s) e 0 v...
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca com...
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro com 1 quarto(s) e 0 vag...
4,Apartamento,Higienpolis,1,0,0,48,800.0,230.0,NaN,Apartamento em Higienpolis com 1 quarto(s) e...

Agora, criaremos a coluna "Possui_suite", seguindo o procedimento semelhante ao adotado para criar as demais colunas.

In [45]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x > 0 else "No")

Neste comando, usamos o mtodo .apply(), utilizado para aplicar uma determinada funo em um conjunto especfico de dados. No nosso caso, esse conjunto  a coluna "Suites", e a funo,  do tipo lambda - funes personalizadas que podem ser escritas em uma nica linha.

Nesta funo, x equivale a cada linha da coluna de sutes. Ento, fizemos uma condicional if em que se o valor de x, ou seja, o registro da linha, for maior que zero, deve ser colocado "Sim", caso contrrio (else), coloca-se "No".

Vamos adicionar um comando de visualizao e executar a clula:

In [46]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x > 0 else "No")

In [47]:
dados['Suites']

0        0
1        1
2        0
3        0
4        0
        ..
32955    0
32956    2
32957    0
32958    0
32959    0
Name: Suites, Length: 32960, dtype: int64

In [48]:
dados['Possui_suite'].head()

0    No
1    Sim
2    No
3    No
4    No
Name: Possui_suite, dtype: object

Neste comando, usamos o mtodo .apply( ), utilizado para aplicar uma determinada funo em um conjunto especfico de dados. No nosso caso, esse conjunto  a coluna "Suites", e a funo,  do tipo lambda - funes personalizadas que podem ser escritas em uma nica linha.

Nesta funo, x equivale a cada linha da coluna de sutes. Ento, fizemos uma condicional if em que se o valor de x, ou seja, o registro da linha, for maior que zero, deve ser colocado "Sim", caso contrrio (else), coloca-se "No".

Vamos adicionar um comando de visualizao e executar a clula:

In [49]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x > 0 else "No")

Para nos certificar que os dados esto corretos, basta analisarmos a coluna "Suites" e analisar a quantidade para cada imvel. Quando o nmero de sutes for igual a zero, o dado de "Possui_suite" deve ser "No"; quando for maior que zero, o dado deve ser "Sim"

Conclumos a criao das colunas solicitadas pelo time de desenvolvimento. Para finalizar, salvaremos essa base de dados em um arquivo para que o time de desenvolvimento possa acess-la quando necessrio.

Ns a salvaremos no formato CSV e a chamaremos de "dados_completos_dev.csv", passando alguns parmetros, como index e sep:

In [50]:
dados.to_csv('dados_completos_dev.csv', index=False, sep=';')

Para garantir que o salvamos, basta acessar a aba de arquivos, na lateral esquerda, e verificar se ele consta na listagem.

Feito isso, vamos ao Trello, acessamos o card em andamento, marcamos as atividades e movemos o card para a coluna de concludo!

Atendemos todas as demandas dos times de Machine Learning e de Desenvolvimento, concluindo nosso projeto com sucesso!

# Para saber mais: criando colunas

Existem diversas maneiras de criar colunas em um DataFrame no Pandas. Alguns exemplos so:

## 1 - Atribuio direta de valores a uma nova coluna:

In [51]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = [7, 8, 9]
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## 2 - Criao de uma coluna a partir de operaes entre outras colunas:

In [52]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df['A'] + df['B']

df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

## 3 - Utilizao do mtodo assign() para criar uma nova coluna:

In [53]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df = df.assign(C=[7, 8, 9])

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## 4 - Utilizao do mtodo apply( ) para aplicar uma funo a uma coluna existente e criar uma nova coluna:

In [54]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df['A'].apply(lambda x: x * 2)

df

   A  B  C
0  1  4  2
1  2  5  4
2  3  6  6

Caso queira se aprofundar nesse assunto, consulte a documentao:

[How to create new columns derived from existing columns?](https://)

# Desafio: bora praticar?

Para praticar os mtodos aprendidos no decorrer dessa aula e tambm aprender novos, vamos realizar alguns tratamentos e selees utilizando um arquivo csv diferente: alunos.csv.

Esse arquivo  o mesmo utilizado para resoluo dos desafios da aula 1 e 3 e possui dados referentes a alunos de um curso superior. Com base nisso, solucione os problemas propostos abaixo utilizando os conhecimentos adquiridos at aqui.

1) Os alunos participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles.

Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles.

2) Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras.

3) Como houve uma pontuao extra, alguns alunos que no tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

 - True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);
 - False: caso o aluno esteja reprovado (nota final deve ser menor que 6).
4) Faa uma seleo e verifique quais alunos no tinham sido aprovados anteriormente, mas foram aprovados aps a soma dos pontos extras.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Voc pode baix-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das prximas aulas.

Vale ressaltar que em algumas situaes podemos utilizar diferentes mtodos do Pandas para fazer a mesma coisa. Ento, as solues abaixo no so a nica forma de resolver os desafios propostos.

1) Para criar a coluna de "Pontos_extras", podemos utilizar o mtodo apply para aplicar uma funo na coluna "Notas". Essa funo deve apenas multiplicar 0.4 pelo valor da nota de cada aluno e colocar o resultado na nossa nova coluna:

In [56]:
import pandas as pd

alunos = pd.read_csv('/content/alunos.csv')

dados = alunos

Vale ressaltar que em algumas situaes podemos utilizar diferentes mtodos do Pandas para fazer a mesma coisa. Ento, as solues abaixo no so a nica forma de resolver os desafios propostos.

1) Para criar a coluna de "Pontos_extras", podemos utilizar o mtodo apply para aplicar uma funo na coluna "Notas". Essa funo deve apenas multiplicar 0.4 pelo valor da nota de cada aluno e colocar o resultado na nossa nova coluna:

In [57]:
dados['Pontos_extras'] = dados['Notas'].apply(lambda x: x*0.4)
dados

         Nome  Idade  Notas  Aprovado  Pontos_extras
0         Ary     20    7.5      True           3.00
1         Ana     18    NaN     False            NaN
2       Ctia     27    2.5     False           1.00
3       Denis     18    5.0     False           2.00
4        Beto     21   10.0      True           4.00
5       Bruna     23    NaN     False            NaN
6        Dara     21    7.0      True           2.80
7      Carlos     19    6.0      True           2.40
8       Alice     35    5.6     False           2.24
9       Vitor     28    NaN     False            NaN
10     Daniel     21    NaN     False            NaN
11       Igor     24    4.5     False           1.80
12  Sthefanie     26    9.5      True           3.80
13      Mirla     25    9.0      True           3.60
14      Paulo     37    NaN     False            NaN
15     Mylena     29    7.0      True           2.80
16      Lucas     33    NaN     False            NaN
17      Nadia     34    8.0      True           3.20

In [58]:
dados['Notas_finais'] = dados['Notas'] + dados['Pontos_extras']
dados

         Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais
0         Ary     20    7.5      True           3.00         10.50
1         Ana     18    NaN     False            NaN           NaN
2       Ctia     27    2.5     False           1.00          3.50
3       Denis     18    5.0     False           2.00          7.00
4        Beto     21   10.0      True           4.00         14.00
5       Bruna     23    NaN     False            NaN           NaN
6        Dara     21    7.0      True           2.80          9.80
7      Carlos     19    6.0      True           2.40          8.40
8       Alice     35    5.6     False           2.24          7.84
9       Vitor     28    NaN     False            NaN           NaN
10     Daniel     21    NaN     False            NaN           NaN
11       Igor     24    4.5     False           1.80          6.30
12  Sthefanie     26    9.5      True           3.80         13.30
13      Mirla     25    9.0      True           3.60         12.60
14      Paulo     37    NaN     False            NaN           NaN
15     Mylena     29    7.0      True           2.80          9.80
16      Lucas     33    NaN     False            NaN           NaN
17      Nadia     34    8.0      True           3.20         11.20

3) Para a criao da coluna "Aprovado_final", ns podemos utilizar o mtodo apply para aplicar uma funo na coluna "Notas_finais". Essa funo deve colocar True, caso a nota final seja maior ou igual a 6, e, caso contrrio, ela deve colocar False:

In [59]:
dados['Aprovado_final'] = dados['Notas_finais'].apply(lambda x: True if x >= 6 else False)
dados

,Nome,Idade,Notas,Aprovado,Pontos_extras,Notas_finais,Aprovado_final
0,Ary,20,7.5,True,3.00,10.50,True
1,Ana,18,NaN,False,NaN,NaN,False
2,Ctia,27,2.5,False,1.00,3.50,False
3,Denis,18,5.0,False,2.00,7.00,True
4,Beto,21,10.0,True,4.00,14.00,True
5,Bruna,23,NaN,False,NaN,NaN,False
6,Dara,21,7.0,True,2.80,9.80,True
7,Carlos,19,6.0,True,2.40,8.40,True
8,Alice,35,5.6,False,2.24,7.84,True
9,Vitor,28,NaN,False,NaN,NaN,False
10,Daniel,21,NaN,False,NaN,NaN,False
11,Igor,24,4.5,False,1.80,6.30,True
12,Sthefanie,26,9.5,True,3.80,13.30,True
13,Mirla,25,9.0,True,3.60,12.60,True
14,Paulo,37,NaN,False,NaN,NaN,False
15,Mylena,29,7.0,True,2.80,9.80,True
16,Lucas,33,NaN,False,NaN,NaN,False
17,Nadia,34,8.0,True,3.20,11.20,True

4) Essa seleo pode ser realizada utilizando o mtodo query:

In [60]:
dados.query('Aprovado == False & Aprovado_final == True')

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True

In [62]:
# Ou tambm pode ser feita de forma mais manual:

selecao = (dados['Aprovado'] == False) & (dados['Aprovado_final'] == True)

dados[selecao]

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True

![img_trasnf_manipulaca.jpg]()

# Pandas:transformao e manipilao de dados: Aula 01 - Conhecendo problemas.

A rea de dados possui muitas aplicaes, em diversos tipos de negcio  entre eles, o turismo.

Como exemplo, podemos aplic-la na precificao do aluguel de imveis a curto prazo.

Neste curso, faremos uma preparao de dados. Isso significa que no faremos uma anlise deles, mas sim a sua transformao e manipulao, para que atinjam um objetivo  neste caso, a soluo do nosso problema.

Nossa aplicao visa realizar um estudo dos nossos dados, com o objetivo de criar uma soluo com precificao inteligente.

# Precificao Inteligente

Trata-se de um algoritmo capaz de analisar as caractersticas de um imvel  como comodidade, tamanho, ocupao do espao em determinado perodo  e sugerir  pessoa anfitri um preo a ser cobrado por dirias que garanta o lucro em momentos de alta demanda.

O problema est na estrutura dos nossos dados.

Vamos conhec-los e analis-los.

# Conhecendo os dados

Para conhecer os nossos dados, utilizaremos o Google Colab. Ele deve estar vazio e conectado.

Vamos retirar as opes da barra de ferramentas superior, acessando-a e clicando no boto "Alternar a visibilidade do cabealho", no canto superior direito.

Vamos importar os dados. Para isso, acessaremos a barra de ferramentas lateral,  esquerda da tela, onde clicaremos no boto "Arquivos".

Com isso, ser aberta uma barra secundria  direita, onde veremos o contedo da pasta "Arquivos".

Nela, clicaremos no boto "Fazer upload para o armazenamento da sesso" que abrir uma janela com o explorador do nosso computador. Neste, por sua vez, buscaremos as bases de dados abaixo, que j devero ter sido baixadas.


dados_hospedagem.json
moveis_disponiveis.json
Observao: O link para download das bases de dados esto disponveis nas atividades desta aula.

Clicaremos no arquivo dados_hospedagem.json e no boto "Abrir". Com isso, realizaremos o upload dos primeiros dados a serem trabalhados em nosso Notebook do Google Colab.

Vamos esperar o arquivo ser carregado. Quando este processo terminar, veremos na barra secundria lateral o nome do nosso arquivo.

Para conhecer os dados, utilizaremos a biblioteca Pandas. Para isso, na primeira linha de cdigo, adicionaremos o import pandas.

Alm disso, incluiremos o comando as pd para podermos utilizar o pd quando chamarmos esta biblioteca. Por fim, pressionaremos "Shift+Enter", o que descer o cursor para a linha 2.

Vamos ler o arquivo que importamos. Para isso, precisaremos do mtodo read_json(), j que nosso arquivo  do tipo JSON.

Na linha atual, atribuiremos um novo dataframe, chamado dados. Ele receber os dados de hospedagem por meio do pd.read_json().

In [70]:

dados = pd.read_json('/content/dados_hospedagem.json')

Entre os parnteses do mtodo, adicionaremos o caminho at o arquivo que importamos. Para colet-lo, voltaremos  barra secundria  direita, onde o buscaremos e clicaremos no boto  sua direita, que possui um cone de trs pontos.

Ser aberta uma lista suspensa, onde selecionaremos a opo "copiar caminho". Com isso, teremos o caminho do arquivo vinculado  nossa rea de transferncia.

Voltando  linha 2, entre os parnteses do read_json( ), abriremos e fecharemos aspas simples, para criar uma string. Entre elas, pressionaremos "Ctrl+V", o que colar todo o caminho para a leitura do arquivo JSON.

In [66]:
dados = pd.read_json('/content/dados_hospedagem.json')

In [71]:
dados = pd.read_json('/content/dados_hospedagem.json')

dados.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

Temos uma visualizao de como  o nosso arquivo, na qual percebemos que os dados esto aninhados em formato de dicionrio. Isso dificulta o entendimento.

Por exemplo, observaremos que a linha 0  um dicionrio que possui a chave avaliacao_geral, o valor 10.0 e outra chave com o nome exibido parcialmente (experiencia_local...).

# Para saber mais: precificao inteligente

A precificao inteligente para hospedagem  uma estratgia de estimao de preos de forma automatizada e dinmica, que considera fatores como oferta e demanda, sazonalidade, eventos locais, caractersticas do local, entre outros.

Com base nessas informaes, um algoritmo pode ajustar os preos para maximizar a receita e a rentabilidade da pessoa proprietria.

Normalmente essa estratgia  aplicada a um modelo de inteligncia artificial que ajusta automaticamente os preos das dirias. Por exemplo, se a demanda por hospedagem em um determinado destino aumentar, a precificao inteligente ajustar automaticamente os preos das dirias para cima, com o fim de maximizar a receita da propriedade.

Da mesma forma, se a demanda diminuir, a precificao inteligente ajustar os preos para baixo para manter a ocupao da propriedade e evitar perdas financeiras.

Embora o machine learning seja frequentemente usado em sistemas de precificao inteligente, existem outras abordagens que podem ser usadas para implementar esses sistemas. Por exemplo, pode-se usar um modelo de regras baseado em lgica e heursticas para definir as condies e regras de precificao.

Mesmo assim,  importante ressaltar que o uso de machine learning pode oferecer benefcios adicionais, como a capacidade de analisar grandes volumes de dados, identificar padres de comportamento do consumidor e ajustar os preos de forma mais precisa e dinmica.

## Continuaremos a leitura e o desbravamento dos nossos dados.

Anteriormente, descobrimos que eles esto aninhados em dicionrios. Para estud-los e identificar onde podemos prepar-los, trat-los e transform-los, precisamos que estejam destrinchados.

Vamos fechar a aba secundria "Arquivos",  direita, para termos uma visualizao ampla do nosso cdigo.

Na primeira clula disponvel abaixo do ltimo retorno, utilizaremos o mtodo json_normalize( ) que far exatamente o que precisamos: a normalizao desses dados  neste caso, da coluna info_moveis.

Reatribuiremos os dados do dataframe para que o novo dataframe seja normalizado. Para isso, rodaremos o comando dados = pd.json_normalize( ).

Dentro dos parnteses, adicionaremos como parmetro um dados, junto a um bloco de colchetes. Este receber em seu interior, entre aspas simples, a coluna a ser normalizada: info_moveis.

No final desta linha, fora do json_normalize( ), pressionaremos "Enter" para descer de linha. Nesta, pediremos uma observao dos nossos dados normalizados, digitando dados.

In [72]:
dados = pd.json_normalize(dados['info_moveis'])
dados

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

Nele, vemos dados numricos, de texto e tambm listas com os dois tipos.

Para realizar o tratamento focado em cada tipo de dado, precisaremos realizar um desagrupamento, removendo-os das listas. Faremos isso a seguir.

# Desafio: trabalhando em outros contextos

Chegou a hora de pr em prtica tudo o que aprendemos durante as aulas.

Preparei dois projetos extras para desenvolvermos durante o curso, para garantir que possamos praticar bastante!

Para isso, vamos trabalhar com 2 novos conjuntos de dados, mas que dessa vez sero bem menores. As bases de dados esto disponveis para download abaixo:

### 1. Projeto desafio 1: vendas online - dados_vendas_clientes.json;

### 2. Projeto desafio 2: administrao de condomnios - dados_locacao_imoveis.json.

Em cada aula, desenvolveremos uma etapa dos projetos. Portanto, salve seu cdigo de construo em cada desafio para que possa aplic-lo nos desafios posteriores.

# Etapa 1

Projeto desafio 1: vendas online

O objetivo desse projeto  realizar uma anlise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contm os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que  o perodo de durao do evento.

Essa anlise vai identificar o cliente com a maior compra na semana, que ir receber um prmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratgias para atrair mais clientes.

A base de dados utilizada nessa anlise  a dados_vendas_clientes.json e contm informaes importantes sobre os clientes como, o nome de cadastro do cliente, o valor total pago na compra e o dia da compra.

Sabendo essas informaes, o desafio do projeto 1: vendas online ser abrir a base de dados com Pandas e aplicar o json_normalize.

-------------------------------------------------------------------------

Projeto desafio 2: administrao de condomnios

A administrao de condomnios  uma tarefa que requer muita ateno e organizao. Entre as diversas responsabilidades da gesto est o recebimento dos aluguis dos locatrios. Para garantir uma boa sade financeira do empreendimento,  fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece.

Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguis no condomnio de alguns moradores.

Disponibilizo a base de dados dados_locacao_imoveis.json, que contm informaes sobre o apartamento dos locatrios, o dia acordado para o pagamento do aluguel, o dia da efetivao do pagamento de aluguel e o valor do aluguel.

Com essas informaes, o desafio do projeto 2: administrao de condomnios ser similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

# Projeto desafio 1: vendas online

In [73]:
# Import do pandas
import pandas as pd
# Ler o arquivo json com read_json
dados = pd.read_json('/content/dados_vendas_clientes.json')
# Aplicar json_normalize na coluna dados_vendas
dados = pd.json_normalize(dados['dados_vendas'])
# Mostrar valores
dados

# Projeto desafio 2: administrao de condomnios

In [ ]:
# Import do pandas
import pandas as pd
# Ler o arquivo json com read_json
dados = pd.read_json('/content/dados_locacao_imoveis.json')
# Aplicar json_normalize na coluna dados_locacao
dados = pd.json_normalize(dados['dados_locacao'])
# Mostrar valores
dados

# Minhas solues com o projeto dos desafios foram feitas em um notebook python que ser disponibilizado ao final do curso.

# Para saber mais: descrio dos dados

Quando trabalhamos com um conjunto de dados qualquer, precisamos saber quais informaes esses dados esto trazendo, pois s assim conseguiremos estud-lo e analis-lo para desenvolver uma soluo de anlise e tratamento de dados para ele.

Nesse curso, vamos trabalhar com o conjunto de dados presentes no arquivo dados_hospedagem.json e, para que seja possvel avanar nos estudos quanto aos dados fornecidos por esse arquivo, vamos entender o que cada coluna traz de informao.

 - avaliacao_geral: refere-se  mdia de notas dadas para a avaliao da hospedagem no imvel.

 - experiencia_local: descreve as experincias oferecidas durante a hospedagem no imvel.

 - max_hospedes: informa a quantidade mxima de hspedes que o local permite.

 - descricao_local: descreve o imvel.

 - descricao_vizinhanca: descreve a vizinhana ao redor do imvel.
 - quantidade_banheiros: informa a quantidade de banheiros disponveis.

 - quantidade_quartos: informa a quantidade de quartos disponveis.

 - quantidade_camas: informa a quantidade de camas disponveis.

 - modelo_cama: informa o modelo de cama oferecido.

 - comodidades: informa as comodidades oferecidas pelo imvel.

 - taxa_deposito: informa a taxa de depsito mnima para segurana de hospedagem.

 - taxa_limpeza: informa a taxa cobrada para o servio de limpeza.

 - preco: refere-se ao preo base a ser cobrado pela diria no imvel.

Anteriormente, conhecemos nossos dados e observamos que em algumas colunas temos dados agrupados em listas. Para facilitar o acesso  esses dados a fim de que possamos trabalh-los, precisamos desagrup-los.

As colunas que contm os dados agrupados em listas so:

 - descricao_local;

 - descricao_vizinhanca;

 - quantidade_banheiros;

 - quantidade_quartos;

 - quantidade_camas;

 - modelo_cama;

 - comodidades;

 - taxa_deposito;

 - taxa_limpeza;

 - preco.

# Coletando os nomes das colunas

Para desagrupar esses dados, podemos utilizar o mtodo .explode( ), que separa as informaes em linhas. Ele requer que enviemos o nome das colunas que sero transformadas, ento o primeiro passo  coletar esses nomes.

Para isso, criaremos uma lista chamada colunas onde transformaremos os valores em listas:

In [ ]:
colunas = list(dados.columns)
colunas

Obtemos, ento, a listagem dos nomes de todas as colunas do dataframe:

['avaliacao_geral', 'experiencia_local', 'max_hospedes', 'descricao_local', 'descricao_vizinhanca', 'quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas', 'modelo_cama', 'comodidades', 'taxa_deposito', 'taxa_limpeza', 'preco']

As colunas "avaliacao_geral", "experiencia_local" e "max_hospedes" no esto agrupadas em listas. Dessa forma, usaremos o .explode() a partir de "descricao_local", que correspondem ao ndice 3.

# Usando o .explode() para desagrupar

Como queremos que nosso dataframe no possua dados agrupados em listas, vamos reatribuir essas informaes para os dados j destrinchados em linhas.

Para isso, passamos o mtodo .explode( ) especificando as colunas de dados que queremos que sejam separados em linhas. Ou seja, a lista colunas a partir do ndice 3, seguido de :, que indica que deve ir at o ltimo valor da lista.

In [81]:
dados = dados.explode(colunas[3:])
dados

In [ ]:
dados.head()

Perceba, porm, que o ndice no est correto, pois o zero se repete diversas vezes, assim como outros nmeros. Precisamos, ento, resetar os ndices.

# Resetando os ndices para ordenar os dados

Para isso, usaremos o mtodo .reset_index( ) passando os parmetros inplace=True e drop=True. O primeiro substitui os ndices no dataframe, j o segundo trata-se da criao de uma coluna com os ndices antigos, porm, sendo True, no teremos essa criao. Por fim, passamos a visualizao dos primeiros registros com dados.head( ).

In [79]:
dados.reset_index(inplace = True,drop=True)
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

# Verificando os tipos de dados

 possvel notar as caractersticas dos dados do nosso dataframe: h textos e nmeros inteiros e float. Mas precisamos garantir que estejam com a tipagem correta para que possamos utiliz-los em tratamentos futuros.

Para isso, usaremos o mtodo .info( ), que nos retorna os tipos de dados:

In [ ]:
dados.info()

Perceba que a coluna "Dtype" traz todos os dados como sendo do tipo object. H trs possibilidades para que um dado seja identificado assim:

 1. por termos tipos diferentes de dados em uma mesma coluna;

 2. quando os dados possuem um tipo especfico que no foi identificado na leitura do Pandas;

 3. todos os tipos so strings.

Para trabalharmos com estatstica, por exemplo, precisamos que os dados numricos sejam corretamente tipados como nmeros. Sendo assim, quando temos vrias colunas do tipo object, a transformao da tipagem precisa ser feita manualmente.  o que faremos no vdeo seguinte!

### Comearemos a converso dos nossos dados pelas colunas numricas. Para isso, usaremos o mtodo .astype( ). Mas, primeiro, importaremos a biblioteca NumPy, que nos fornecer um tipo de dado (inteiro e float) para podermos converter as colunas numricas no nosso dataframe.

In [76]:
import numpy as np

# Tratando dados numricos: convertendo para tipo inteiro

Iniciaremos o tratamento pela coluna "max_hospedes", que  de nmeros inteiros.

O mtodo .astype( ) nos permite converter colunas para um tipo especfico de dado. Sendo assim, chamamos nosso dataframe dados e passamos a coluna que queremos converter entre colchetes ['max_hospedes'].

Em seguida, chamamos o mtodo .astype( ) passando o tipo de dado para o qual vamos alterar, no caso, np.int64, que  um tipo especfico de inteiro com preciso de 64 bits.

In [78]:
dados['max_hospedes'].astype(np.int64)

0      1
1     10
2     11
3     12
4     14
      ..
65     5
66     6
67     7
68     8
69     9
Name: max_hospedes, Length: 70, dtype: int64

In [82]:
dados['max_hospedes'] = dados['max_hospedes'].astype(np.int64)

In [83]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       70 non-null     object
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: int64(1), object(12)
memory usage: 7.2+ KB

 possvel realizar este mesmo processo para as demais colunas com dados do tipo inteiro. Mas, ao invs de fazermos uma a uma, realizaremos um s comando para todas elas.

Para isso, criaremos uma varivel col_numericas, que ser uma lista com as colunas cujos dados devem ser do tipo inteiro. So elas "quantidade_banheiros", "quantidade_quartos", "quantidade_camas".

In [84]:
col_numericas = ['quantidade_banheiros','quantidade_quartos','quantidade_camas']

In [88]:
dados[col_numericas] = dados[col_numericas].astype(np.int64)

In [87]:
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [88]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

## Tratando dados numricos: convertendo para tipo float

A coluna "avaliacao_geral" deve ser do tipo float, ento faremos um processo semelhante, mas agora convertendo para float64:

In [89]:
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [90]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

H um detalhe para o qual devemos estar atentos: as colunas "taxa_deposito", "taxa_limpeza" e "preco" so do tipo float porque correspondem a valores de moeda.

Note, inclusive, que possuem cifro $ e, por se tratar de uma moeda estrangeira, h nmeros que possuem vrgulas na sua composio.

Tendo isso em vista, tambm podemos convert-los para float, j que  ideal estarem definidos assim para podermos trabalhar com precificao inteligente.

Mas ser que o .astype( ) vai funcionar em dados com cifro ($) e vrgula ( , )? Vamos tentar!

In [92]:
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$','').replace(',','').strip())

In [93]:
dados['preco'] = dados['preco'].astype(np.float64)

# Obtemos um erro, porque no  possvel aplicar a converso em dados que contenham o caractere de cifro.

# Sendo assim, precisamos, primeiros, tratar esses dados.  o que faremos a seguir

ValueError: setting an array element with a sequence.

# Para saber mais: preciso de valores numricos

Em geral, quando os dados so muito grandes e temos pouca memria disponvel,  comum utilizar tipos de dados mais compactos para reduzir o consumo de memria. Mas,  sempre importante garantir que a escolha do tipo de dados no prejudique a preciso ou a acurcia dos resultados.

Quando trabalhamos com nmeros inteiros com Python, podemos ter diversos tipos de dados, cada um com suas limitaes e caractersticas. Durante as aulas, trabalhamos com o int64, um inteiro com preciso de 64 bits. Para entender o significado dessa preciso,  importante conhecer alguns termos tcnicos, como byte e bit:

 - Byte:  uma unidade de medida de informao, que representa um  conjunto de 8 bits.

 - Bit:  a menor unidade de informao utilizada em sistemas digitais, podendo assumir os valores de 0 ou 1.

# Tipo Inteiro

Com os conceitos de bit e byte claros, podemos, ento, entender melhor o significado do int64, que  o tipo inteiro que utiliza 8 bytes de armazenamento - 8 bits em cada byte, resultando em 64 bits ao total. Esse tipo inteiro  capaz de representar nmeros muito grandes, que podem variar de -9.223.372.036.854.775.808 a 9.223.372.036.854.775.807.

Alm dele, temos outros inteiros que podem ter sua preciso definida, como o int32, um tipo de dado inteiro que utiliza 4 bytes - 8 bits em cada byte, resultando em 32 bits ao total. Ele  capaz de representar nmeros inteiros menores do que os representados pelo int64, com um mximo de -2.147.483.648 a 2.147.483.647.

Pode ser mais comum encontrar os tipos int64 e int32, mas pode ser necessrio, em algumas situaes, utilizar outros tipos de dados inteiros, como o int8 ou o int16. Tipos de dados como esses so teis quando  preciso economizar mais memria e no se est trabalhando com grandes valores. Voc pode conferir os tipos de inteiros na tabela abaixo:

A escolha de qual valor de preciso vai depender da situao e da natureza dos dados sendo manipulados. Se os valores que esto sendo analisados so relativamente pequenos, o uso do int32, por exemplo, pode ser o suficiente, podendo economizar espao em memria. Entretanto, se tivssemos trabalhando com dados cientficos, por exemplo, que precisam de valores bem grandes, precisaramos talvez utilizar o int64.

# Tipo float

Alm dos inteiros, outros tipos de dados, como o float, tambm utilizam essa opo de preciso como opo de controle de espao na memria. De maneira semelhante aos nmeros inteiros, o tipo float tambm apresenta opes de preciso: entre os tipos mais comuns esto o float32e o float64.

O tipo float64  um nmero de ponto flutuante com 64 bits de preciso, que representa um nmero decimal com at 15 dgitos. Por outro lado, o 'float32'  menor tanto em sua capacidade de bits, com 32 ao total, quanto em sua capacidade de preciso de casas decimais, com a capacidade de preciso at 7 dgitos.

Vamos focar no tratamento da coluna "preco" que, por conter caracteres como cifro e vrgula, no pode ser convertido para o tipo float.

Precisamos que os dados fiquem no padro float, ou seja, apenas os nmeros seguidos de ponto e casas decimais.

Para isso, vamos primeiro observar nossa coluna:

In [95]:
dados['preco']

0     [$110.00, $45.00, $55.00, $52.00, $85.00, $50....
1     [$350.00, $300.00, $425.00, $300.00, $285.00, ...
2                                             [$975.00]
3     [$490.00, $550.00, $350.00, $350.00, $350.00, ...
4                                    [$200.00, $545.00]
                            ...
65    [$150.00, $200.00, $143.00, $150.00, $350.00, ...
66    [$99.00, $185.00, $250.00, $200.00, $275.00, $...
67    [$218.00, $350.00, $450.00, $149.00, $99.00, $...
68    [$275.00, $199.00, $400.00, $325.00, $300.00, ...
69                                   [$250.00, $350.00]
Name: preco, Length: 70, dtype: object

Cada elemento dessa coluna  uma string, ento podemos fazer uma funo que passe linha por linha para remover os caracteres.

Para isso, usaremos o mtodo .apply( ) com lambda, que aplica uma funo especfica a cada elemento, no caso, a remoo dos caracteres.

Dentro de .apply( ), passamos uma funo lambda que ler cada elemento x, ou seja, os dados de cada linha. Feito isso, usaremos o mtodo .replace( ) para substituir os caracteres de cifro e vrgula por nada, ou seja, por uma string vazia. Depois, usaremos .strip( ) para remover qualquer caractere antes ou depois do elemento.

In [96]:
dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip())

# Vai d erro!

AttributeError: 'list' object has no attribute 'replace'

Note que os dados j no possuem cifro e vrgula.

Agora, basta atribuirmos o comando  coluna "preco":

In [97]:
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip())

Usando .astype( ) depois do tratamento realizado, tentaremos fazer a converso para float64 utilizando .astype( ):

In [98]:
dados['preco'] = dados['preco'].astype(np.float64)

In [99]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

Ainda nos resta converter as colunas "taxa_deposito" e "taxa_limpeza", que precisam de um tratamento semelhante  "preco". Faremos a seguir!

# Tratando nmeros em strings Exemplo.

Para fazer um estudo financeiro de distribuio salarial em uma empresa, voc precisa transformar os dados referentes aos cargos e deix-los prontos para um estudo estatstico.

Desse modo, ao ler o arquivo com dados, voc encontra o seguinte DataFrame:

cargo       	quantidade   	salario

0	Gerncia	  2 pessoas   	$10.000 reais

1	Coordenao	1 pessoa	    $8.000 reais

2	Superviso	3 pessoas	    $7.000 reais

3	Analista	  4 pessoas    	$5.000 reais

4	Assistente	5 pessoas   	$4.000 reais

5	Operao	  3 pessoas	    $3.500 reais

6	Auxiliar	  2 pessoas   	$3.000 reais

7	Estgio	    1 pessoa	    $1.500 reais

8	Assessoria	1 pessoa    	$2.500 reais

9	Consultoria	1 pessoa	    $6.000 reais

Marque a alternativa que torna os dados da coluna quantidade e salario valores numricos, ou seja, colunas int e float sem a existncia do texto que acompanha cada valor.

Para voc ter um suporte nos testes, busque utilizar o cdigo abaixo para criar o DataFrame df e encontrar a soluo da atividade:

In [ ]:
import pandas as pd
import numpy as np

# dados da firma
dados = {
    'cargo': ['Gerencia', 'Coordenao', 'Superviso', 'Analista', 'Assistente', 'Operao', 'Auxiliar', 'Estgio', 'Assessoria', 'Consultoria'],
    'quantidade': ['2 pessoas', '1 pessoa', '3 pessoas', '4 pessoas', '5 pessoas', '3 pessoas', '2 pessoas', '1 pessoa', '1 pessoa', '1 pessoa'],
    'salario': ['$10.000 reais', '$8.000 reais', '$7.000 reais', '$5.000 reais', '$4.000 reais', '$3.500 reais', '$3.000 reais', '$1.500 reais', '$2.500 reais', '$6.000 reais']
}

# transformando o dicionrio em DataFrame
df = pd.DataFrame(dados)

# df  o DataFrame com os dados da firma
df

Res.: Removemos os textos que esto em volta dos nmeros com apply e lambda.

df['quantidade'] = df['quantidade'].apply(lambda x: x.replace(' pessoas', '').replace(' pessoa', ''))
df['salario'] = df['salario'].apply(lambda x: x.replace('$', '').replace(' reais', '').replace('.',''))
Depois, transformamos as colunas para o tipo numrico com o astype.

df['quantidade'] = df['quantidade'].astype(np.int64)
df['salario'] = df['salario'].astype(np.float64)

A funo replace substitui os textos pelos valores vazios '', removendo-os da string original. Em seguida,  necessrio utilizar o astype para converter as colunas em numricas, com o tipo int64 para a coluna quantidade e float64 para a coluna salario.

Agora, ao invs de converter somente uma coluna, como fizemos com "preco", faremos a converso de duas: "taxa_deposito" e "taxa_limpeza".

# Separar as duas colunas em um dataframe

Iniciaremos visualizando-as:

In [101]:
dados[['taxa_deposito','taxa_limpeza']]

,taxa_deposito,taxa_limpeza
0,"[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $..."
1,"[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $..."
2,"[$1,000.00]",[$300.00]
3,"[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ..."
4,"[$300.00, $2,000.00]","[$40.00, $150.00]"
...,...,...
65,"[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,..."
66,"[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00..."
67,"[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $..."
68,"[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80..."
69,"[$1,000.00, $500.00]","[$150.00, $0]"

Note que, assim como a coluna "preco", temos dados com cifro e vrgula. Porm, para convert-los, no usaremos o mtodo .apply( ), pois ele  utilizado para linhas e colunas.

Aplicar o .applymap( )

Quando tratamos da converso de um dataframe, no qual passaremos por cada elemento,  mais vivel utilizarmos o mtodo .applymap().

Dentro dos parnteses deste mtodo, aplicamos o mesmo processo aplicado  "preco". Ou seja, a funo lambda e os mtodos .replace( ) e .strip( ):

In [104]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: x.replace('$','').replace(',','').strip())

# Transformar valores para float

Vamos transformar os valores dessas colunas para float utilizando o mtodo .astype( ):

In [105]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].astype(np.float64)

In [106]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

Nosso dataframe tambm possui dados textuais que precisam ser manipulados, ento os trataremos na aula a seguir!

# Desafio: trabalhando em outros contextos

Voltemos a pr em prtica tudo o que aprendemos durante as aulas.

Disponibilizei novamente os 2 novos conjuntos de dados para download abaixo:

 - Projeto desafio 1: vendas online - dados_vendas_clientes.json;

 - Projeto desafio 2: administrao de condomnios - dados_locacao_imoveis.json.

Lembrando: So dois projetos de tratamento que sero construdos durante o andamento do curso. Portanto, salve seu cdigo de construo em cada desafio para que possa aplic-lo nos desafios posteriores.

# Etapa 2

 - Projeto desafio 1: vendas online

Lemos a base de dados no desafio anterior, agora podemos avanar nas transformaes desses dados. Ento, o novo desafio do projeto 1 ser dividido em algumas metas:

 1. Remover os dados em listas dentro do DataFrame;

 2. Verificar os tipos de dados;

 3. Identificar colunas numricas;

 4. Transformar a coluna numrica para o tipo numrico.

 5. Projeto desafio 2: administrao de condomnios

Lemos a base de dados no desafio anterior, agora podemos avanar nas transformaes desses dados. Ento, da mesma forma que o projeto 1, o desafio do projeto 2 est listado em algumas metas:

 - Remover os dados em listas dentro do DataFrame;

 - Verificar os tipos de dados;

 - Identificar colunas numricas;

 - Transformar a coluna numrica para o tipo numrico.

Podem existir diversas formas de solucionar uma questo. Irei apresentar como eu solucionei os problemas e no quer dizer que essas so as melhores solues, mas so uma opo de soluo.

# Projeto desafio 1: vendas online

In [ ]:
# Coletar os valores das colunas e verificar
colunas = list(dados.columns)
colunas

# Destrinchar as listas com explode
dados = dados.explode(colunas[1:])
# Resetar os index das linhas
dados.reset_index(drop=True,inplace=True)
# Observar o DataFrame
dados

# Verificar os tipos de dados com info
dados.info()

# A coluna numrica  a 'Valor da compra'
dados['Valor da compra']

# Iniciar a transformao
# Import da biblioteca numpy
import numpy as np
# Remover os textos presentes na base
# Trocar as vrgulas separadoras do decimal por ponto
dados['Valor da compra'] = dados['Valor da compra'].apply(lambda x: x.replace('R$ ', '').replace(',','.').strip())
# Alterar os tipo de dado para float
dados['Valor da compra'] = dados['Valor da compra'].astype(np.float64)
# Verificar a transformao
dados.info()

# Projeto desafio 2: administrao de condomnios

In [ ]:
# Coletar os valores das colunas e verificar
colunas = list(dados.columns)
colunas

# Destrinchar as listas com explode
dados = dados.explode(colunas[1:])
# Resetar os index das linhas
dados.reset_index(drop=True,inplace=True)
# Observar o DataFrame
dados

# Verificar os tipos de dados com info
dados.info()

# A coluna numrica  a 'valor_aluguel'
dados['valor_aluguel']

# Iniciar a transformao
# Import da biblioteca numpy
import numpy as np
# Remover os textos presentes na base
# Trocar as vrgulas separadoras do decimal por ponto
dados['valor_aluguel'] = dados['valor_aluguel'].apply(lambda x: x.replace('$ ', '').replace(' reais', '').replace(',','.').strip())
# Alterar os tipo de dado para float
dados['valor_aluguel'] = dados['valor_aluguel'].astype(np.float64)
# Verificar a transformao
dados.info()

# Minhas solues com o projeto dos desafios foram feitas em um notebook python que ser disponibilizado ao final do curso.

# Aula 03 - Dados Textuais

Pensando na aplicao dos dados que estamos trabalhando agora,  interessante fazer um estudo sobre os servios oferecidos por cada imvel. Por exemplo: a descrio do local, a vizinhana e comodidades que aquele imvel oferece podem tambm ser parmetros desse estudo.

Podemos tratar esses textos buscando criar uma estrutura mais acessvel para realizar essa anlise textual. Nessa aula, realizaremos a manipulao dos textos de cada coluna textual para criar uma estrutura de tokenizao simples.

A tokenizao  a diviso do texto em tokens, ou seja, unidades menores. Esses tokens podem ser palavras, slabas, conjuntos de palavras e assim por diante, dependendo do tipo de aplicao.

Como faremos uma tokenizao simples, separaremos o texto apenas por palavras. Ou seja, os tokens sero cada palavra do nosso texto.

# Manipulao dos textos

Podemos comear a estruturar a tokenizao padronizando o nosso texto para letras minsculas. Ento, de volta ao Google Colab, o primeiro passo ser manipular os dados da coluna descricao_local. Essa coluna ser o foco inicial da nossa aula.

Numa nova clula, vamos escrever a chamada dessa coluna:

In [107]:
dados['descricao_local']

0     [This clean and comfortable one bedroom sits r...
1     [Welcome to the heart of the 'Ballard Brewery ...
2     [New modern house built in 2013.  Spectacular ...
3     [Our NW style home is 3200+ sq ft with 3 level...
4     [Perfect for groups. 2 bedrooms, full bathroom...
                            ...
65    [Our cozy little bungalow is the perfect place...
66    [Bright clean 2 bedroom 1 bath appartment in t...
67    [Beautiful end-unit townhome with lots of dayl...
68    [Heart of Ballard new townhome with 4 BRs + ba...
69    [This business-themed modern home features:  *...
Name: descricao_local, Length: 70, dtype: object

Podemos observar que temos letras maisculas nos textos. Para converter todos esses elementos para letras minsculas, podemos utilizar o mtodo str().

Com ele, conseguimos ler a nossa srie como se ela fosse elementos de strings, de modo similar aos mtodos apply e applymap.

Ento, ao lado de dados['descricao_local'], colocamos um .str(). Isso j far o processo de leitura dos elementos dessa coluna como strings. A partir disso, podemos aplicar os mtodos originrios do tipo string nesse dataframe. Ento, se queremos transformar essas letras para minsculas, utilizaremos o mtodo lower( ):

In [108]:
dados['descricao_local'].str.lower()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
65   NaN
66   NaN
67   NaN
68   NaN
69   NaN
Name: descricao_local, Length: 70, dtype: float64

Ou seja, o resultado desse mtodo so as frases com apenas letras minsculas. Para atribuir esses dados que acabamos de criar, podemos fazer a atribuio de costume:

In [109]:
dados['descricao_local'] = dados['descricao_local'].str.lower()

In [111]:
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,NaN,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,NaN,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,NaN,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,NaN,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,NaN,[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

## Descobrimos como manipular um texto dentro de um dataframe com o str( ). Com isso, poderemos partir para a prxima etapa da nossa tokenizao simples: a retirada de caracteres que no trazem nenhuma informao.

# Removendo caracteres com Regex

In [112]:
dados['descricao_local'][3169]

In [122]:
dados['descricao_local'] = dados['descricao_local'].str.replace('[^a-zA-Z0-9\-\']',' ',regex=True)

In [ ]:
dados['descricao_local'] = dados['descricao_local'].str.replace('(?<!\w)-(?!\w)',' ',regex=True)

In [120]:
dados['descricao_local'] = dados['descricao_local'].str.split()

dados.head()

In [122]:
dados['comodidades'] = dados['comodidades'].str.replace('\{|}|\"','',regex=True)

In [117]:
dados['comodidades'] = dados['comodidades'].str.split(',')

dados.head()

In [123]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')

dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [119]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [124]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [125]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [126]:
dt_data.head()

    id       data  vaga_disponivel preco
0  857 2016-01-04            False  None
1  857 2016-01-05            False  None
2  857 2016-01-06            False  None
3  857 2016-01-07            False  None
4  857 2016-01-08            False  None

In [128]:
dt_data['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

In [130]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

# Aula 04 - Para saber mais: o tipo datetime

# Para saber mais: o tipo datetime

A classe datetime  um tipo de dado que representa uma data e hora especficas em Python. Ela permite trabalhar e manipular dados de ano, ms, dia, hora, minuto, segundo e microssegundo, alm de dias da semana, como segunda, tera, quarta, etc.

Essa classe  definida no mdulo datetime e  fundamental na manipulao de datas e horrios em Python. Com ela,  possvel realizar operaes de clculo de diferenas entre datas, formatao de datas e horas em diferentes formatos, alm de ser muito til em anlises de dados que envolvem sries temporais.

Com a biblioteca Pandas,  possvel realizar diversas operaes com datas e horrios, como a converso de dados de string para datetime, a filtragem de dados baseada em intervalos de tempo especficos, a agregao de dados por hora, dia, ms ou ano, entre outras funcionalidades. Desse modo, com essa biblioteca,  possvel realizar diversas operaes com datas de forma simples e eficiente dentro de um conjunto de dados.

## Biblioteca datetime

Conseguimos trabalhar diretamente com o datetime atravs da biblioteca datetime, uma biblioteca padro do Python que fornece classes para trabalhar com datas e horas. Com essa biblioteca,  possvel criar objetos de data e hora, realizar clculos de tempo, formatar datas e horas em diferentes formatos e muito mais.

Dentro da biblioteca datetime, existe a classe datetime, que representa uma data e hora especficas. Veja um exemplo:

In [ ]:
import datetime

# criando um objeto datetime com a data e hora atual

agora = datetime.datetime.now()

print("Data e hora atual:", agora)

Neste exemplo, o mtodo now( ) da classe datetime  usado para criar um objeto que representa a data e a hora atual. O objeto resultante  armazenado na varivel agora e, em seguida,  impresso na tela usando a funo print( ).
Outra classe importante na biblioteca datetime  a classe date, que representa apenas uma data.

In [ ]:
import datetime

# criando um objeto date com a data de hoje

hoje = datetime.date.today()

print("Data de hoje:", hoje)

Neste exemplo, o mtodo today( ) da classe date  usado para criar um objeto que representa a data de hoje. O objeto resultante  armazenado na varivel hoje e, em seguida,  impresso na tela usando a funo print( ).

A biblioteca datetime tambm permite realizar operaes matemticas com datas e horas. Veja um exemplo de como calcular a diferena entre duas datas:

In [ ]:
import datetime

# criando dois objetos date com datas diferentes

data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

# calculando a diferena entre as duas datas

diferenca = data_2 - data_1

print("Diferena entre as duas datas:", diferenca)

Neste exemplo, dois objetos date so criados com datas diferentes. Em seguida, o operador de subtrao  usado para calcular a diferena entre as duas datas. O resultado  armazenado na varivel diferenca e, em seguida,  impresso na tela usando a funo print( ).

Para se aprofundar nos usos do tipo datetime consulte o artigo Python datetime: Como fao para definir data e hora em Python? e tambm a documentao da biblioteca datetime.

# Transformando os dados para tempo

Temos uma base de dados aliada  nossa antiga base de dados com a qual trabalhamos nas aulas anteriores. Mas desta vez, ela contm as vagas dirias disponibilizadas em vrios imveis para hospedagem durante o ano de 2016.

Esta  uma base que mostra a oferta de imveis disponveis para aluguel durante este ano, o que pode ser interessante para a precificao inteligente, o foco da nossa aplicao.

Isso quer dizer que lidaremos com dados de tempo, ou seja, o tipo de dado datetime.

Vamos voltar ao nosso Google Colab, onde faremos o upload deste notebook.

# Vamos utilizar a base de dados moveis_disponiveis.json.

Observao: A base de dados utilizada neste vdeo est disponvel para download entre as atividades da primeira aula deste curso.

Para subir os dados, acessaremos a barra de ferramentas lateral,  esquerda da tela, onde clicaremos no boto "Arquivos".

Com isso, ser aberta uma aba lateral secundria  direita, onde veremos o contedo da pasta "Arquivos"  entre eles, o arquivo dados_hospedagem.json que foi importado anteriormente.

Nesta aba, clicaremos no boto "Fazer upload para o armazenamento da sesso". Na janela do explorador, buscaremos a base de dados abaixo, que j dever ter sido baixada.

moveis_disponiveis.json
Clicaremos no arquivo e em seguida no boto "Abrir". Com isso, realizaremos o upload desta base de dados. Por ser extensa, o processo pode demorar.

Vamos esperar o arquivo ser carregado no Google Colab. Quando este processo terminar, veremos na aba secundria lateral o nome do nosso arquivo junto ao arquivo dados_hospedagem.json.

Vamos realizar a leitura da nova base e transform-la em dataframe.

Com o Pandas instalado em nossa biblioteca, criaremos um dataframe chamado dt_data, o qual receber os dados de moveis_disponiveis. Para isso, digitaremos o comando abaixo na primeira linha.

In [ ]:
dt_data = pd.read_json()

Entre os parnteses do mtodo, adicionaremos o caminho at o arquivo que importamos. Para colet-lo, voltaremos  aba secundria  direita, onde o buscaremos e clicaremos no boto  sua direita, que possui um cone de trs pontos.

Ser aberta uma lista suspensa, onde selecionaremos a opo "copiar caminho". Com isso, teremos o caminho do arquivo vinculado  nossa rea de transferncia.

Voltando  linha 1, entre os parnteses do read_json( ), abriremos e fecharemos aspas simples, entre as quais pressionaremos "Ctrl+V" para colar todo o caminho de leitura do arquivo JSON.

In [ ]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')

Pressionaremos "Ctrl+Enter" para descer de linha e escreveremos um dt_data.head() para observar esta base de dados.

In [ ]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')

dt_data.head()

Notamos que no  necessrio realizar novamente o passo da normalizao com o JSON, pois quando utilizamos o read_json( ), nossa base veio pronta.

Temos quatro colunas: id, data, vaga_disponivel e preco. Dentre elas, aquela que mais nos interessa  a data.

Vemos que ela possui o formato "ano-ms-dia" (AAAA-MM-DD). Este  um formato padro da estrutura do datetime, portanto, no precisamos nos preocupar com a formatao.

Nos resta verificar se os dados esto no tipo datetime. Para isso, selecionaremos a prxima clula e adicionaremos o mtodo info().

In [ ]:
dt_data.info()

Nele, notaremos que o tipo (Dtype) da segunda linha (que representa a coluna data)  object. Transformaremos esta coluna no tipo desejado  o temporal, ou seja, o datetime.

O Pandas fornece o mtodo to_datetime( ) que nos permite transformar a coluna de um dataframe em datetime. Vamos chamar o Pandas pelo comando pd e utilizar este mtodo em nossa clula.

Dentro dos parnteses, vamos adicionar um dt_data[ ], que receber entre os colchetes a coluna a ser modificada (data) entre aspas simples, para verificarmos a disponibilidade de datas durante o ano.

In [ ]:
pd.to_datetime(dt_data['data'])

Contudo, devemos nos atentar ao formato informado abaixo da tabela de dados:

dtype: datetime64[ns]

O formato deixou de ser object e passou a ser datetime64, portanto, conseguimos converter esses dados com o mtodo to_datetime( ).

Para realizar a atribuio, voltaremos  clula que possui o comando recm-executado.  esquerda deste comando, adicionaremos um dt_data['data'] junto ao sinal de igual. Desta forma, ocorrer a substituio da coluna data antiga pela nova que convertemos.

In [ ]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

Pressionaremos "Shift+Enter" para rodar o comando. Um sinal de check ser exibido  esquerda da clula, indicando que a execuo foi bem-sucedida.

Na clula seguinte, utilizaremos novamente o info( ), pressionando em seguida "Shift+Enter".

In [ ]:
dt_data.info()

Convertemos o tipo do nosso dado para datetime. A seguir, poderemos construir um conjunto que mostre a oferta de imveis por meses.

# Manipulando dados temporais

Vamos focar em manipular nossos dados de tempo para construir um conjunto com as ofertas de mveis disponveis para aluguel ao longo do ano de 2016.

Para comear, voltaremos ao Google Colab. Nele, visualizaremos novamente a situao atual do nosso dataframe, rodando o comando abaixo com "Shift+Enter":

In [ ]:
dt_data.head()


Concentraremos nossa anlise nas colunas data e vaga_disponivel. No caso desta ltima, j sabemos que possui valores boolianos true e false e realiza uma verificao, onde o retorno true significa que, naquela data determinada, havia uma vaga naquele imvel. J o retorno false indica que no temos vaga naquela data.

Nas atividades desta aula, descobrimos o mtodo chamado strftime, capaz de formatar os valores de data para o formato que quisermos.

Se conseguirmos agrupar todas as datas de determinados meses e contar quantas vezes a coluna vaga_disponivel for true, conseguiremos obter um calendrio com a quantidade de vagas disponveis durante o ms.

Construiremos esta formatao selecionando na visualizao apenas o ano e o ms. Para isso, escreveremos na clula o comando dt_data[ ], selecionando entre colchetes e aspas simples a coluna data.

Fora dos colchetes, adicionaremos um ponto, o comando dt para chamar o tipo datetime (assim como fizemos com o str), outro ponto, e por fim, o strftime( ) que far a formatao do tempo.

Entre os parnteses deste mtodo, adicionaremos aspas simples. Entre estas, por sua vez, adicionaremos a formatao desejada  neste caso, um &Y-%m, onde Y maisculo representa o ano (Year) e m minsculo representa o ms (month).

Adicionamos uma barra entre eles para que o retorno seja feito no formato "YYYY-mm".

In [ ]:
dt_data['data'].dt.strftime('%Y-%m')

Com isso, conseguiremos agrupar todos esses meses e tambm as vagas disponveis em cada ms do ano de 2016. Para isso, utilizaremos o mtodo groupby.

Temos alguns dias do ano de 2017, mas criaremos um subset com com todos os dados disponveis.

Em uma nova clula, abaixo do ltimo retorno, digitaremos o comando dt_data.groupby( ).

Especificaremos a categoria que ser agrupada  ou seja, a seleo "anoms" que realizamos no ltimo comando executado. Para isso, vamos copiar todo esse comando e colar entre os parnteses do groupby( ).

 direita do comando colado, ainda dentro do groupby( ), adicionaremos entre colchetes a coluna a ser agrupada por ms  a vaga_disponivel.

 direita desta coluna, adicionaremos um sum ( ) para realizar uma soma com este agrupamento.

Como os valores so boolianos, o Python considerar o true como 1 e o false como 0. Sempre que houver uma vaga disponvel, ou seja, true, ele somar 1, nos retornando no final a soma de todas as vagas disponveis.

In [ ]:
dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

Nele, temos os conjuntos de meses agrupados e a quantidade de valores true para cada ms. Este  o nosso subset informando as vagas disponveis por ms coletadas e acessadas pelo banco de dados.

Atribuiremos este resultado a uma varivel chamada subset. Para isso, acessaremos a ltima clula executada e,  esquerda do cdigo anterior, adicionaremos um subset junto ao sinal de igual.

In [ ]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

Com isso, teremos armazenado esses dados. Vamos visualiz-los novamente, apertando o "Enter" e digitando na nova linha um subset.

In [ ]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

subset

Com esta manipulao, construmos um subconjunto de dados que indicam a oferta dos imveis disponveis. Acreditamos que isso ajudar bastante a equipe de anlise de dados.

# Desafio: faa voc mesmo

Nessa aula, aprendemos a manipular os dados temporais atravs do tipo datetime. Entendemos como transformar uma coluna para datetime e, depois, manipulamos esses dados. Mesmo assim, nem todos os dados do conjunto moveis_disponiveis.json foram tratados.

Durante as aulas desse curso, descobrimos como transformar e trabalhar com valores numricos, por exemplo, removendo valores numricos dentro de um texto e transformando-os em um tipo numrico, como int64 ou float64.

Sabendo disso, nessa atividade, proponho que voc faa a transformao dos dados na coluna preco do conjunto de dados moveis_disponiveis.json para o tipo numrico float64. Lembrando que, antes de fazer isso, voc precisa preencher os valores vazios na coluna por um valor. Uma sugesto: substitua pela string '0.0'.

Fique  vontade para seguir com os mesmos passos dados em aula ou, se preferir, realizar outros aprimoramentos, como a remoo de algum caractere ou de stopwords. Na seo Opinio da pessoa instrutora, voc vai encontrar uma possibilidade de resoluo para essa atividade.

Para transformar os dados da coluna preco, realizei os mesmos passos seguidos em aula. Mas como explicado anteriormente, voc tem liberdade para aplicar outros processos no tratamento.

In [ ]:
# importamos a biblioteca numpy
import numpy as np

# utilizamos o mtodo fillna para preencher os elementos vazios por '0.0'
# definimos o parmetro de inplace para True para substituir no DataFrame

dt_data['preco'].fillna('0.0', inplace = True)

# apagamos o $ e as vrgulas com apply lambda

dt_data['preco'] = dt_data['preco'].apply(lambda x: x.replace('$', '').replace(',',''))

# transformamos os tipos de dados para float64

dt_data['preco'] = dt_data['preco'].astype(np.float64)

# observamos o resultado final

dt_data

# Desafio: trabalhando em outros contextos

Voltemos a pr em prtica tudo o que aprendemos durante as aulas.

Disponibilizei novamente os 2 novos conjuntos de dados para download abaixo:

Projeto desafio1: vendas online - dados_vendas_clientes.json;

Projeto desafio 2: administrao de condomnios - dados_locacao_imoveis.json.

Lembrando: Esses dois projetos de tratamento foram construdos durante o andamento do curso. Portanto, considere os desenvolvimentos anteriores para a realizao dessa etapa final.

Etapa 4

## Projeto desafio 1: vendas online

Nas etapas anteriores, j trabalhamos com vrios tipos de dados, agora podemos trabalhar com os dados de tempo.

Na coluna Data de venda, temos datas em formato 'dia/ms/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualizao de subconjunto que possa contribuir no objetivo do contexto que os dados esto inseridos.

Se voc no lembra o problema do projeto desafio 1, vou deixar abaixo o texto da situao para facilitar o encontro da informao:

O objetivo desse projeto  realizar uma anlise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contm os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que  o perodo de durao do evento.

Essa anlise vai identificar o cliente com a maior compra na semana, que ir receber um prmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratgias para atrair mais clientes.

## Projeto desafio 2: administrao de condomnios

Assim como no projeto desafio 1, trabalhamos com todas as colunas exceto as que envolvem datas.

Nas colunas datas_de_pagamento e datas_combinadas_pagamento, temos datas em formato 'dia/ms/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualizao de subconjunto que possa contribuir no objetivo do contexto que os dados esto inseridos.

Se voc no lembra o problema do projeto desafio 2, vou deixar abaixo o texto da situao para facilitar o encontro da informao:

A administrao de condomnios  uma tarefa que requer muita ateno e organizao. Entre as diversas responsabilidades da gesto est o recebimento dos aluguis dos locatrios. Para garantir uma boa sade financeira do empreendimento,  fundamental que esses pagamentos sejam feitos de forma regular e pontual.

No entanto, sabemos que nem sempre isso acontece. Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguis no condomnio fictcio de alguns moradores.

Podem existir diversas formas de solucionar uma questo. Irei apresentar como eu solucionei os problemas e no quer dizer que essas so as melhores solues, mas so uma opo de soluo.

# Projeto desafio 1: vendas online

In [ ]:
# Transformar para o tipo datetime definindo o formato de data como DD/MM/AAAA ('%d/%m/%Y')
dados['Data de venda'] = pd.to_datetime(dados['Data de venda'], format='%d/%m/%Y')
# Visualizar o resultado
dados

# Verificar o resultado da transformao
dados.info()

# Calcular o total arrecadado em compras por cada cliente
total_compras = dados.groupby(['Cliente'])['Valor da compra'].sum()
# Visualizar o resultado
total_compras

# Projeto desafio 2: administrao de condomnios

In [ ]:
# Transformar para o tipo datetime definindo o formato de data como DD/MM/AAAA ('%d/%m/%Y')
dados['datas_combinadas_pagamento'] = pd.to_datetime(dados['datas_combinadas_pagamento'], format='%d/%m/%Y')
dados['datas_de_pagamento'] = pd.to_datetime(dados['datas_de_pagamento'], format='%d/%m/%Y')

# Visualizar o resultado
dados

# Para contribuir na soluo do contexto  possvel calcular a diferena de dias
# entre a data combinada e a data de pagamento com dt.days
dados['atraso'] = (dados['datas_de_pagamento'] - dados['datas_combinadas_pagamento']).dt.days

# Observar o novo DataFrame
dados

# Calcular a mdia de tempo de atraso por apartamentos
media_atraso = dados.groupby(['apartamento'])['atraso'].mean()

# Visualizar o resultado
media_atraso

Minhas solues com o projeto dos Desafios foram feitas em um notebook python que voc pode acessar nos links abaixo:

 - [Projeto desafio 1 - vendas online](https://);

 - [Projeto desafio 2 - administrao de condomnios](https://).

![img_pandasIO.jpg]()

# Pandas I/O: trabalhando com diferentes formatos de arquivos: lendo dados HTML e XML - Aula 04.

Dados:https://github.com/alura-cursos/Pandas/blob/main/filmes_wikipedia.html


Escrever um arquivo no formato HTML pode ser especialmente til quando voc deseja compartilhar os seus dados com pessoas que no tm acesso  biblioteca Pandas ou outras ferramentas de carregamento de dados.

Os dados podem ser consultados diretamente no navegador ou incorporados numa pgina web, facilitando muito a visualizao.

# Criando o arquivo HTML



# Lendo pginas web

# Projeto

Uma pessoa est criando um sistema de recomendao de filmes. Mas, para isso, ela precisa de dados de filmes, de avaliaes que as pessoas deram para eles.

Ela encontrou um artigo web sobre os 100 melhores filmes listados pelo Instituto Americano de Cinema. Esse artigo est na Wikipedia e, na lateral direita da pgina, temos uma tabela contendo outros artigos criados pelo mesmo instituto, de 1998 a 2008. H uma verso atualizada de 2007 do nosso artigo em questo, mas verificaremos a de 1988 primeiro.

Descendo a pgina, encontramos uma tabela interessante para o projeto, contendo as seguintes colunas: nome do filme, ano de lanamento, diretor, produtora e a posio no ranking, indo do primeiro ao centsimo lugar.

Por fim, mais abaixo na pgina, encontramos um quadro que parece uma tabela contendo apenas os nomes dos filmes, sua posio no ranking e seus respectivos links para a pgina da Wikipedia, onde podemos checar a sinopse e conhecer mais sobre eles.

Queremos obter a segunda tabela. Mas, antes disso, precisamos confirmar se isso  realmente uma tabela. Como fazer isso numa pgina web?

# Checando a tabela

Clicando em qualquer lugar da tela com o boto direito do mouse, clicamos na opo "Inspecionar", para inspecionar a pgina. Com isso, uma nova aba se abrir  direita da tela, exibindo o contedo da pgina em HTML.

Ou seja, acessamos todos os cdigos usados por trs da pgina, onde podemos inclusive pesquisar o que quisermos. Pressionando "Ctrl + F" no teclado, surgir uma pequena caixa de busca sobre o segundo menu de opes da aba, em que digitamos o que queremos localizar.

Geralmente, quando temos tabelas em uma pgina, elas possuem uma tag em HTML chamada "table", que significa "tabela" em ingls. Uma tag  sempre composta por um sinal de menor e maior com a palavra no meio, ento digitamos <"table"> na caixa de busca.

Fazendo isso, localizamos as tabelas no cdigo da pgina. A caixa de busca indica que h trs ocorrncias dessa tag no cdigo, e podemos navegar por elas pelas setas  direita da caixa.

A primeira  a tabela de artigos sobre a qual falamos primeiro. Clicamos na seta para baixo para localizar a segunda tabela, de nosso interesse. A terceira  aquela estrutura que parecia uma tabela, e agora sabemos que  uma tabela de fato.

E agora, como podemos carregar esses dados utilizando a biblioteca Pandas?

Para comear, fechamos a aba de inspeo da pgina. Salvamos essa pgina em HTML para que voc possa acompanhar a aula com o mesmo material do vdeo, porque pode ser que essa pgina sofra alguma atualizao no futuro. Vamos carreg-la no Google Colab.

# Importaes

Vamos importar a biblioteca Pandas no Colab, digitando e executando:

# Nova seo

In [ ]:
import pandas as pd

Agora, importamos a pgina HTML. No menu lateral esquerdo, clicamos em "Arquivos" (cone de pasta). Na aba de Arquivos, clicamos em "Fazer upload" (cone de documento com um "+") na barra superior.

Selecionamos o arquivo filmes_wikipedia e clicamos em "Abrir", e depois em "Ok" no aviso do Colab. Um novo item chamado filmes_wikipedia.html surgir no menu de Arquivos.

Agora, copiamos o caminho desse arquivo. Para isso, clicamos nos trs pontos verticais  direita do item filmes_wikipedia.html e, em seguida, em "Copiar caminho". J podemos fechar o menu de Arquivos.

# Varivel dados_html

Na segunda clula, vamos criar uma varivel chamada dados_html. Ela receber o chamado de Pandas, com pd, e a funo de leitura de arquivos HTML: .read_html(). Entre os parnteses colocamos aspas simples e colamos o caminho que acabamos de copiar:

In [ ]:
dados_html = pd.read_html('/content/filmes_wikipedia.html')

dados_html

Aparentemente  uma lista, porque comea com colchetes. Primeiro temos os dados daquela primeira tabela, comeando em 1998 e indo at 2008. Abaixo disso, temos os dados da segunda tabela e, por fim, os dados da terceira.

Mas, por que no surgiu um dataframe?

A funo read_html() busca pelas tags <table> e transforma esses dataframes em uma lista. Ou seja, nossa lista contm os dataframes um abaixo do outro. Podemos confirmar isso ao verificar o tipo da varivel criada, dados_html, executando o seguinte comando:

In [ ]:
len(dados_html)

In [ ]:
type(dados_html)

# Acessando um dataframe especfico

Se quisermos acessar um dataframe especfico entre esses trs, podemos simplesmente usar sua posio na lista. Ento, para visualizar o segundo dataframe, que contm os dados de nosso interesse, vamos criar uma nova varivel.

Chamaremos essa nova varivel de top_filmes, ou seja, os melhores filmes. Nela vamos chamar dados_html e, entre colchetes, passamos a posio desejada desse dataframe, que ser o nmero 1.

Lembre-se que, em Python, a indexao sempre comea em zero. Ento, o primeiro item  o nmero zero, o segundo  o nmero um, e o terceiro ser o nmero dois.

In [ ]:
top_filmes = dados_html[1]

In [ ]:
top_filmes

Escrevendo arquivos HTML

Vamos salvar o dataframe top_filmes em HTML. Para isso, numa nova clula, digitamos o nome do dataframe junto da funo .to_html(). Entre os parnteses abrimos aspas simples e damos um nome para esse arquivo, como "top_filmes.html":

In [ ]:
top_filmes.to_html('top_filmes.htm')

# Visualizando os dados no navegador

Agora, vamos checar esse arquivo que foi salvo clicando em "Arquivos" (cone da pasta) no menu lateral esquerdo e, na aba de Arquivos, clicamos nos trs pontos verticais do item top_filmes.html e, em seguida, em "Fazer download".

Feito o download, vamos clicar no arquivo exibido na barra inferior do navegador. O arquivo  aberto automaticamente numa nova aba do navegador, exibindo a tabela que obtivemos no Colab com todos os dados em suas respectivas colunas, do 1 ao 100. Fantstico!

Conseguimos pegar aquela tabela e disponibiliz-la num formato possvel de abrir no navegador e tambm incorporar numa pgina web. Voc pode, inclusive, melhorar essa visualizao se tiver alguma familiaridade com o front-end.

Alm do formato HTML, podemos salvar esses dados em outros formatos. A pessoa que est criando esse sistema de recomendao provavelmente vai querer tratar esses dados e adicionar informaes novas. Para isso,  interessante ter um arquivo no formato CSV ou um formato Excel para trabalhar mais facilmente.

In [ ]:
pd.read_html('/content/top_filmes.html')

In [ ]:
dados_html = pd.read_html('/content/filmes_wikipedia.html')
dados_html

In [ ]:
# Salvando em formato CSV

top_filmes.to_csv()

Vamos salvar esse mesmo top_filmes no formato CSV. Para isso voltamos ao Colab e, numa nova clula, vamos digitar top_filmes e usar a funo to_csv(). Entre os parnteses, passamos o nome do arquivo entre aspas simples, como 'top_filmes_1998.csv'.

Tambm precisamos passar o index=False quando salvamos um arquivo no formato CSV ou Excel, para evitar que uma nova coluna de index seja adicionada ao dataframe.

In [ ]:
top_filmes.to_csv('top_filmes_1998', index=False)

Executamos essa clula e, novamente, voltamos ao menu de Arquivos. O arquivo top_filmes.1998.csv j foi salvo, ento clicamos no menu de trs pontos verticais e, depois, em "Copiar caminho" apenas para verificar se est tudo certo com o arquivo.

Fechamos o menu. Numa nova clula digitamos pd.read_csv() e, entre os parnteses, colamos o caminho copiado entre aspas:

Ao executar essa clula, a sada recebida  o dataframe desejado. Ento, temos um arquivo CSV contendo esses dados! A pessoa que est criando o sistema de recomendao pode utilizar esse arquivo e seguir com as futuras anlises.

Mas, alm de encontrar esses dados na Wikipedia, essa pessoa tambm encontrou um arquivo com informaes mais detalhadas, contendo uma srie de filmes com as notas que usurios atriburam. Mas, esse arquivo est num formato diferente: o XML.

In [ ]:
dados = pd.read_csv('/content/top_filmes_1998')

In [ ]:
dados.head()

# Para saber mais: o que  HTML?

HTML (Hypertext Markup Language - Linguagem de marcao de hipertexto)  o cdigo que usamos para estruturar uma pgina web e seu contedo. O HTML consiste em uma srie de elementos que so usados para delimitar ou agrupar diferentes partes do contedo para que ele aparea ou atue de determinada maneira.

Um documento HTML comea com a tag <"html"> e termina com a tag <"/html">.

Ele tambm contm um cabealho (<"head">) que descreve o ttulo da pgina e outras informaes relevantes; e um corpo (<"body">) que contm o contedo da pgina. O cabealho e o corpo so delimitados pelas tags <"head"> e <"/head">, e <"body"> e <"/body">, respectivamente.

Dentro do corpo podemos usar vrios elementos para criar a estrutura do contedo. Note cada detalhe no exemplo a seguir:

tags <"h1"> a <"h6"> : criar ttulos e subttulos.

tags <"p">: criar pargrafos.

tags <"ul"> e <"li"> : criar listas no ordenadas.

tags <"img">: inserir imagens.

tags <"table">, <"tr">, <"th"> e <"td">: criar tabelas.

Alm disso, podemos usar atributos nos elementos HTML para especificar propriedades adicionais.

Por exemplo: podemos usar o atributo src na tag <img> para indicar o endereo da imagem que queremos mostrar, ou o atributo href na tag <a> para indicar o endereo do link que queremos criar.

Caso queira aprofundar ainda mais nesse assunto recomendamos os seguintes artigos:

O que  o HTML e suas tags? Parte 1: estrutura bsica.

O que  o HTML e suas tags? Parte 2: elementos inline.

O que  o HTML e suas tags? Parte 3: elementos block-level.

-------------------------------------------------------------------------

Lendo/Escrevendo arquivos XML

Dados: https://github.com/alura-cursos/Pandas/blob/main/imdb_top_100.xml

Agora temos um arquivo mais detalhado sobre os filmes, porm ele est no formato XML.

Para entender como esse formato  estruturado, vamos abrir o GitHub em que este arquivo est localizado. Ele  o arquivo imdb_top_1000.xml; ou seja, os dados desse arquivo foram obtidos do IMDB, uma base de dados que contm informaes sobre filmes e sries, onde as pessoas atribuem uma nota s obras que assistem.

# O que  XML?

Esse nome  uma sigla da expresso em ingls Extensible Markup Language, ou "Linguagem de marcao estendida". Sua estrutura de tags  muito parecida com o HTML.

No nosso arquivo, temos uma tag logo no incio chamada <"data">. Essa  a tag raiz que indica o incio do documento. Em seguida temos uma tag chamada "row">, "linha" em portugus. Para cada linha, temos vrias tags que contm as informaes que estaro em cada uma das colunas.

Na primeira linha, por exemplo, temos as seguintes informaes:

In [ ]:
<data>
  <row>
    <index>0</index>
    <Poster_Link>https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg</Poster_Link>
    <Series_Title>The Shawshank Redemption</Series_Title>
    <Released_Year>1994</Released_Year>
    <Certificate>A</Certificate>
    <Runtime>142 min</Runtime>
    <Genre>Drama</Genre>
    <IMDB_Rating>9.3</IMDB_Rating>
    <Overview>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</Overview>
    <Meta_score>80.0</Meta_score>
    <Director>Frank Darabont</Director>
    <Star1>Tim Robbins</Star1>
    <Star2>Morgan Freeman</Star2>
    <Star3>Bob Gunton</Star3>
    <Star4>William Sadler</Star4>
    <No_of_Votes>2343110</No_of_Votes>
    <Gross>28,341,469</Gross>
  </row>

# Lendo um arquivo XML

amos ler esse arquivo no Google Colab. Para isso, fazemos seu upload clicando em "Arquivo > Fazer upload" no menu lateral esquerdo. Localizamos e selecionamos o arquivo imd_top_1000 e clicamos em "Abrir".

Com o arquivo carregado no menu de Arquivos, clicamos nos trs pontos verticais e em "Copiar caminho". Fechamos o menu e voltamos para os cdigos.

Para comear, importamos a biblioteca Pandas:

In [ ]:
import pandas as pd

In [ ]:
# Em seguida, criamos uma varivel chamada dados_imdb, que ser igual a pd.red_xml(), uma nova funo.
# Dentro dos parnteses, abrimos aspas simples e colamos o caminho para o arquivo:

dados_imdb = pd.read_xml('/content/imdb_top_1000.xml')

Temos as seguintes informaes no dataframe: um link para o pster de cada um dos filmes, os ttulos, ano de publicao, certificado, durao do filme, gnero, nota no IMDB, sinopse, meta score, diretor, atores principais, nmero de votos e oramento.

In [ ]:
dados_imdb.head()

# Escrevendo um arquivo XML

Fizemos a leitura de um arquivo XML e entendemos sua estrutura! Agora, podemos escrever no formato XML.

Para isso, numa nova clula, vamos escrever o nome da nossa varivel dados_imdb e usar a funo to_xml(' '). Dentro dos parnteses e aspas, damos o nome do arquivo, como "filmes_imdb.xml":

In [ ]:
dados_imdb.to_xml('filmes_imdb.xml')

Ao executar essa clula, salvamos um arquivo no formato XML. Verificamos um novo arquivo chamado filmes_imdb.xml no menu de Arquivos!

Essa funo to_xml(), para salvar no formato XML,  muito til quando trabalhamos com bancos de dados ou outros sistemas que se integrem facilmente a esse formato.

# Para saber mais: o que  XML?

XML  uma linguagem de marcao que permite criar e descrever dados de forma estruturada e padronizada. Ela  composta por linhas de comandos que usam tags para definir os elementos e os atributos dos dados.

A estrutura bsica de um documento XML  formada por:

Uma declarao inicial que indica a verso, o encoding e o tipo do documento.
Um elemento raiz que contm todos os outros elementos do documento.
Elementos filhos que podem ter outros elementos ou contedo de texto dentro deles.
Atributos que fornecem informaes adicionais sobre os elementos.
Um exemplo simples de um documento XML :

In [ ]:
# Um exemplo simples de um documento XML :

# xml
# <?xml version="1.0" encoding="UTF-8"?>
# <animais>
#   <animal nome="Mel" tipo="cachorro" cor="marrom"/>
#   <animal nome="Vick" tipo="gato" cor="branco"/>
# </animais>

Neste exemplo, <"animais">  o elemento raiz, <"animal">  um elemento filho com trs atributos (nome, tipo e cor) e Mel e Vick so os contedos de texto dos elementos.

Podemos encontrar mais informaes sobre a estrutura XML na pgina: XML para iniciantes - Suporte da Microsoft.

# Entendendo a estrutura XML

Gabriel est analisando dados de uma loja online de produtos eletrnicos. Ele recebeu um arquivo XML que contm informaes sobre os produtos da loja, como: nome, preo e categoria.

<"produto">

  <"produto id="1"">

    <"nome>Smartphone</nome">

    <"preco>4500.00</preco">

    <categoria>Celulares</categoria>

  <"/produto">

  <"produto id="2"">

    <"nome>Notebook</nome">

    <"preco>5000.00</preco">

    <"categoria>Computadores</categoria">

  <"/produto">

  <"produto id="3"">

    <"nome>Tablet</nome">

    <"preco>2000.00</preco">

    <"categoria>Celulares</categoria">

  <"/produto">

<"/produtos">

Analise o arquivo XML acima e escolha a alternativa correta.

Alternativa correta

O arquivo XML  composto por um elemento raiz chamado <produtos> e trs elementos filhos chamados <produto>, cada um com um atributo id.


A alternativa descreve corretamente a estrutura do arquivo XML. H um elemento raiz <produtos> que contm todos os outros elementos do documento.Os elementos filhos <produto> contm o atributo id.

-------------------------------------------------------------------------


# Desafio: lendo uma tabela de uma pgina web

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Vanessa  uma cientista de dados que est realizando algumas anlises com dados ambientais. Ela est desenvolvendo um projeto para avaliar o impacto ambiental das atividades humanas em diferentes pases do mundo, mas para isso precisa das estimativas populacionais desses pases.

Ao pesquisar na internet, encontrou uma tabela de estimativas populacionais em um artigo da pgina Wikipdia.

Assim como Vanessa, seu desafio  obter um DataFrame da tabela que contm as informaes do nmero de habitantes de cada pas.

Ver opinio do instrutor

Para ler a pgina, basta passar o endereo  funo read_html. Para a primeira tabela ser exibida atribumos o primeiro elemento da lista, com [0]:


pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

In [ ]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

In [ ]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[1]

# Pandas I/O: trabalhando com diferentes formatos de arquivos: anipulando arquivos JSON - Aula 03

Dados:

 - https://github.com/alura-cursos/Pandas/blob/main/pacientes.json
 - https://github.com/alura-cursos/Pandas/blob/main/pacientes_2.json

# Lendo arquivos JSON

In [ ]:
import pandas as pd

In [ ]:
dados_pacientes = pd.read_json('/content/pacientes.json')

dados_pacientes

In [ ]:
dados_pacientes_2 = pd.read_json('/content/pacientes_2.json')

dados_pacientes_2

# **Normalizando arquivos JSON**

In [ ]:
df_normalizado = pd.json_normalize(dados_pacientes_2['Pacientes'])

df_normalizado

# Para saber mais: aprofundando na normalizao

Normalizao de dados  um processo importante em cincia de dados que tem como objetivo organizar e padronizar dados para facilitar a anlise e comparao entre eles. Quando se trata de dados no formato JSON (JavaScript Object Notation - Notao de Objetos JavaScript),  comum que eles estejam aninhados, o que pode dificultar sua anlise e manipulao.


A biblioteca Pandas possui uma funo chamada json_normalize() que permite a transformao dos dados em um formato tabular, facilitando a visualizao e anlise das informaes. A seguir vamos aprender como usar essa funo para normalizar diferentes tipos de JSON em DataFrames.


# Normalizando um JSON simples

Abaixo temos uma varivel chamada dados e dentro dela h um objeto JSON com trs chaves e seus respectivos valores:

In [ ]:

dados = {'Pesquisa': 'Principais Indicadores de Doenca Cardiaca', 'Ano': 2020, 'Numero_Pacientes':3}

# Para normalizar essa varivel, podemos passa-l dentro da funo json_normalize e analisar o DataFrame obtido:

df = pd.json_normalize(dados)
df

O resultado parece timo! Temos 3 colunas que so as nossas chaves e uma linha contendo os valores para cada chave.

# Normalizando um JSON com vrios nveis

Existem situaes em que o arquivo JSON pode conter mais de um objeto, como  o caso do exemplo abaixo, no qual temos uma lista, armazenada na varivel json_lista, contendo dois objetos JSON:

In [ ]:
json_lista = [
    { 'ID': '01', 'Faixa_etaria': '55-59', 'Sexo_biologico': 'feminino'},
    { 'ID': '02', 'Faixa_etaria': '80 ou +', 'Sexo_biologico': 'feminino'}
]

# Para normalizar essa lista podemos aplicar a funo json_normalize:

pd.json_normalize(json_lista)

A funo json_normalize()  capaz de converter cada registro da lista em uma linha de forma tabular.

# Normalizando um JSON com uma lista aninhada

Vamos comear analisando a normalizao quando os dados so um dicionrio. Temos um dicionrio armazenado na varivel json_obj. Note que na chave Saude temos outro dicionrio:

In [ ]:
json_obj = {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      }

# Fazendo a normalizao:

pd.json_normalize(json_obj)

O DataFrame gerado possui uma coluna para cada informao contida no dicionrio que estava em Saude. As colunas criadas possuem o prefixo Saude., pois as informaes vieram dessa mesma chave.

# Dados como uma lista de dicionrios

Agora ns temos uma lista de dicionrios armazenada na varivel json_list:

In [ ]:
json_list = [
    {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      },
      {
          'ID': '02',
          'Faixa_etaria': '80 ou +',
          'Sexo_biologico': 'Feminino',
          'Saude': {'Dificuldade_caminhar': 'Nao',
                    'Atividade_fisica': 'Sim',
                    'IMC': 20.34,
                    'Doenca_cardiaca': 'Sim'}
       }
       ]

# Fazendo a normalizao:

pd.json_normalize(json_list)

Podemos analisar que todos os valores aninhados em cada registro da lista foram convertidos em colunas separadas. E os dados que ns normalizamos no vdeo anterior? Lembra que a normalizao deles foi feita de um jeito diferente?

Recapitulando, vamos copiar os dados do arquivo pacientes_2.json e armazen-los numa varivel chamada dados_dict.

In [ ]:
dados_dict = {
  "Pesquisa": "Principais Indicadores de Doenca Cardiaca",
  "Ano": 2020,
  "Pacientes": [
    {
      "ID": "01",
      "Faixa_etaria": "55-59",
      "Sexo_biologico": "Feminino",
      "Raa": "Branca",
      "IMC": 16.6,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 3,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 5,
      "Problemas_saude": [
        "Diabetes",
        "Asma",
        "Cancer_pele"
      ]
    },
    {
      "ID": "02",
      "Faixa_etaria": "80 ou +",
      "Sexo_biologico": "Feminino",
      "Raa": "Branca",
      "IMC": 20.34,
      "Fumante": "Nao",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 0,
      "Saude_mental": 0,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 7,
      "Problemas_saude": [
        "AVC"
      ]
    },
    {
      "ID": "03",
      "Faixa_etaria": "65-69",
      "Sexo_biologico": "Masculino",
      "Raa": "Branca",
      "IMC": 26.58,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 20,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 8,
      "Problemas_saude": [
        "diabetes",
        "Asma"
      ]
    }
  ]
}

# Se tentarmos normalizar esses dados:

pd.json_normalize(dados_dict)

Podemos observar que nossa lista aninhada  colocada em uma nica coluna Pacientes. Ento, ns usamos o seguinte cdigo para normalizar os dados, especificando qual coluna est aninhada:

In [ ]:
pd.json_normalize(dados_dict['Pacientes'])

Tambm podemos fazer isso utilizando o parmetro record_path como ['Pacientes']. Esse parmetro  usado na funo *pd.json_normalize()* para especificar o caminho para os registros que devem ser normalizados em um DataFrame separado:

In [ ]:
pd.json_normalize(dados_dict, record_path=['Pacientes'])

# Com ambos os cdigos o resultado  o mesmo.

O resultado parece timo, mas no inclui as colunas Pesquisa e Ano. Para inclu-las, podemos usar o parmetro meta para especificar outras colunas que queremos no DataFrame.

In [ ]:
pd.json_normalize(
    dados_dict,
    record_path =['Pacientes'],
    meta=['Pesquisa', 'Ano']
)

Dessa forma temos todas as colunas presentes no DataFrame!

Importante: Na aula ns realizamos a normalizao em um arquivo com o formato JSON. No entanto, a funo json_normalize() aceita apenas um dicionrio ou uma lista de dicionrios. Por isso, no vdeo foi usada a estratgia de usar o cdigo: pd.json_normalize(dados_pacientes_2['Pacientes']). Porm, se tentarmos usar parmetros da funo json_normalize em um arquivo JSON podem surgir erros. Para contornar isso, precisamos importar o mdulo json e ler os arquivos conforme o cdigo abaixo:

# Importando a biblioteca Pandas

In [ ]:
# Importando a biblioteca Pandas

import pandas as pd

# Importando o mdulo JSON

import json

# Lendo o arquivo json usando o mdulo Python JSON

with open('pacientes_2.json','r') as f:
    dados = json.loads(f.read())

# Normalizando os dados com os parmetros record_path e meta

pd.json_normalize(dados, record_path='Pacientes', meta=['Pesquisa', 'Ano'])

E, assim, aprendemos como normalizar arquivos JSON simples, com mltiplos nveis e aninhados.

J conseguimos normalizar o nosso arquivo JSON, mas e se quisermos salvar o arquivo normalizado?

Para fazer isso, chamaremos o data frame normalizado digitando df_normalizado. Para salv-lo em formato JSON, usaremos a funo .to_json(). Dentro dos parnteses, inseriremos aspas simples e daremos um nome para o arquivo, j indicando o formato em que ele ser salvo (historico_pacientes_normalizado.json).

In [ ]:
df_normalizado.to_json('historico_pacientes_normalizado.json')

Executaremos esta clula e, se abrirmos novamente o cone de pasta do lado esquerdo (pasta "Arquivos"), observaremos o arquivo "historico_pacientes_normalizado" em meio  lista de arquivos abertos. Clicando no cone de trs pontos,  possvel fazer download, renomear o arquivo, exclui-lo, copiar o caminho ou atualiz-lo.

Clicaremos em "Copiar caminho" e fecharemos a aba esquerda. Para fazer a leitura do arquivo que acabamos de salvar, escreveremos pd.read_json('/content/historico_pacientes_normalizado.json'). Ao executar esta clula, obteremos o data frame normalizado.

Aqui vai uma dica importante: salvamos o arquivo em formato JSON, mas voc tambm pode salvar o seu arquivo em formato CSV ou EXCEL, podendo us-los para facilitar anlises futuras. Assim, voc no precisar 'salvar ou converter o mesmo arquivo vrias vezes.

In [ ]:
pd.read_json('/content/historico_pacientes_normalizado.json')

# Para saber mais: obtendo arquivos JSON de APIs

Existem vrios formatos que podem ser usados em APIs e um dos mais comuns  o JSON (JavaScript Object Notation). O JSON  um formato leve de troca de informaes entre sistemas que utiliza uma notao baseada em objetos do JavaScript.

Ns temos a seguinte situao-problema: Uma empresa de tecnologia est em fase de expanso e deseja otimizar sua base de contatos e a forma como gerencia suas interaes com os clientes e parceiros.

A equipe de vendas e atendimento ao cliente est enfrentando dificuldades para acompanhar todos os contatos, entender as necessidades dos diferentes perfis de clientes, e personalizar o atendimento de forma eficiente. Para solucionar isso, a empresa precisa de uma maneira organizada e automatizada para coletar, gerenciar e segmentar informaes de seus clientes e parceiros, como nome, e-mail, endereo, telefone e empresa em que trabalham.

Nesta situao, podemos acessar a API JSONPlaceholder para coletar os dados dos contatos, que incluem nome, e-mail, endereo, telefone, entre outros.

Com esses dados, a equipe pode melhorar suas operaes e a comunicao com os clientes.

Uma maneira comum de acessar APIs  por meio da biblioteca requests. Para isso, tambm  necessrio importar o mdulo json:

In [ ]:
import requests

import json

# Os dados da JSONPlaceholder sero obtidos com a funo request.get('url'). Dentro dela ns passamos o endereo da API:

dados_usuarios = requests.get('https://jsonplaceholder.typicode.com/users')

# Conseguimos recuperar os resultados usando a funo json.loads()
# Para isso,  necessrio passar a varivel dados_usuarios, criada anteriormente com o atributo text que retorna o contedo da resposta.

resultado = json.loads(dados_usuarios.text)

# Em seguida, podemos visualizar o DataFrame.

pd.DataFrame(resultado)

Agora sabemos como utilizar a biblioteca requests e o mdulo JSON para obter dados de APIs!

# Desafio: normalizando o JSON obtido na API

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

O DataFrame mostrado abaixo foi gerado aps a obteno de dados da API JSONPlaceholder:

In [ ]:
# Lembrando que para obter os dados da API JSONPlaceholder, devemos usar os seguintes cdigos:

import requests

import json

dados_usuarios = requests.get('https://jsonplaceholder.typicode.com/users')

resultado = json.loads(dados_usuarios.text)

# Para normalizar os dados precisamos importar a biblioteca Pandas e podemos utilizar a funo json_normalize:

import pandas as pd
dados_usuarios_normalizado = pd.json_normalize(resultado, sep='_')

Dica: Ao usar o argumento sep=' _ ' no mtodo pd.json_normalize, voc garante que os subcampos de dados aninhados sejam desaninhados com os nveis unidos por um sublinhado (_). Isso facilita o acesso e a manipulao dos dados no DataFrame, mantendo uma estrutura mais clara.

In [ ]:
# Vamos checar o DataFrame normalizado:

dados_usuarios_normalizado

# Pandas I/O: trabalhando com diferentes formatos de arquivos: tilizando Planilhas - Aula 02

Dados: https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx

## Lendo arquivos Excell

## Excel: utilizando planilhas

Temos um novo conjunto de dados: um grupo de pesquisa com dados das emisses de gs carbnico (CO2) pelos pases ao longo dos anos. Eles querem analisar esses dados com o objetivo de entender os impactos ambientais gerados pelos pases e pensar em questes de sustentabilidade.

Os dados esto em uma planilha, mas o grupo de pesquisa gostaria de usar a biblioteca Pandas no Colab. Ser possvel?

Para comear, entenderemos o que  uma planilha. De incio, vamos abrir a ferramenta Google Planilhas e criar um documento vazio. Na parte superior, teremos colunas nomeadas por letras. Na lateral esquerda, temos colunas numeradas a partir do nmero um.

Na rea central, temos as clulas. Atualmente, elas esto vazias, mas podem conter informaes numricas ou textuais. Cada uma delas tem uma posio especfica, exibida no canto superior esquerdo.

Ao clicar na clula da linha 4 na coluna E, por exemplo, temos a posio "E4". Saber a posio  importante entender onde os dados esto localizados e fazer anlises.

No canto inferior esquerdo,  possvel alterar entre pginas. No canto esquerdo, temos o smbolo de mais, com o qual podemos adicionar mais pginas.

Em cada pgina, podemos adicionar informaes diferentes, de assuntos distintos. Trata-se de uma forma interessante de organizar nossos dados.

Nessas planilhas, os dados podem estar nos formato Excel (.xlsx) ou CSV, que aprendemos anteriormente. A seguir, vamos conferir em que formato esto os dados do nosso grupo de pesquisa.

No GitHub, temos o arquivo emissoes_CO2.xlsx. Pela extenso .xlsx ao final do nome do arquivo, sabemos que se trata do formato Excel.

Ao abri-lo, notaremos que no  possvel visualiz-lo no GitHub (como visualizamos o CSV em aulas anteriores). Em vez disso, temos a seguinte mensagem:

*Sorry about that, but we cant show files that are this big right now.*

Desculpe sobre isso. No podemos mostrar o arquivos, pois eles so muito grandes agora.

Logo acima dessa mensagem, temos o link "View raw" para visualizar os dados brutos. Ao clicar nele, ser feito um download. Para conferir esses dados,  necessrio ter o Excel instalado no computador ou carregar o arquivo no Google Planilhas.

A seguir, aprenderemos como ler esse arquivo com a biblioteca Pandas. Aps conectar o ambiente no Google Colab, vamos comear importando a biblioteca Pandas na primeira clula:

Agora temos todas as informaes separadas e normalizadas!

import pandas as pd

Aps executar, vamos declarar uma varivel chamada url, na segunda clula. Ela armazenar o endereo da planilha, isto , o link do arquivo no GitHub:

In [ ]:
url = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'

Como comentamos, no conseguimos ter acesso ao dado bruto. Ento como leremos o arquivo? Depois de .xlsx, colocaremos um smbolo de interrogao e passar o parmetro raw=True para trazer o arquivo bruto.

Aps executar, faremos a leitura do arquivo. Na terceira clula, criaremos uma varivel chamada dados_co2. Invocaremos a biblioteca Pandas e usaremos a funo read_excel(), responsvel por ler arquivos nesse formato. Dentro dos parnteses, passaremos a URL:

In [ ]:
dados_co2 = pd.read_excel(url)

# A execuo pode demorar um pouco, porque o arquivo  grande.
# Na sequncia, vamos consultar as cinco primeiras linhas do dataframe gerado, com a funo head():

dados_co2.head()

O retorno ser uma tabela com cinco linhas e as colunas com o nome do pas, cdigo do pas, ano, valor total de emisso de gs carbnico, emisses por tipo (carvo, leo, fs, cimento, queima, outro) e o valor per capita (por cabea).

Como comentamos, uma planilha pode ter diferentes pginas. Para descobrir se h mais pginas, usaremos uma classe da biblioteca Pandas chamada ExcelFile().

Entre os parnteses, passaremos a URL. Depois, empregamos o atributo sheet_names (nome das pginas):

In [ ]:
pd.ExcelFile(url).sheet_names

A execuo pode ser um pouco demorada. Como resultado, temos os nomes das trs pginas. Para especificar uma pgina (entre outras aes), podemos explorar alguns parmetros da funo read_excel(). Em breve, estudaremos esses parmetros.

# Para saber mais: aprofundando na funo read_excel


O Microsoft Excel  uma das ferramentas de planilha mais utilizadas no mundo, sendo amplamente utilizado para armazenar e analisar dados em formato de tabela. No vdeo anterior, demonstramos como a funo read_excel pode ser utilizada para ler um arquivo Excel no formato xlsx.

No entanto, essa funo  capaz de ler arquivos em outros formatos, como: xls, xlsm, xlsb, odf, ods e odt.

Vamos entender um pouco mais sobre esses diferentes tipos de arquivos?

# xls

O xls  um formato de arquivo do Excel mais antigo e usado at a verso de 2003.

# xlsx

J o xlsx  o formato de arquivo padro do Excel a partir da verso 2007. Esse formato  baseado em XML (Extensible Markup Language - Linguagem de marcao extensvel) e  amplamente suportado por outras ferramentas de planilha eletrnica, incluindo o Google Planilhas.

Ateno: Se surgiram algumas dvidas com o termo XML, no se preocupe! Mais adiante teremos uma aula sobre esse tema. Nela voc entender o que  esse formato, na medida em que l e escreve em XML.

# xlsm

H tambm o xlsm, uma extenso de arquivo usada pelo Excel para armazenar planilhas que contm as macros. Estas so sequncias de comandos ou instrues que podem ser executadas automaticamente para realizar tarefas especficas na planilha.

Ento, o formato xlsm permite que as macros sejam salvas juntamente com a planilha, para que possam ser executadas sempre que a planilha for aberta.

# xlsb

Por fim, temos o formato xlsb, uma extenso de arquivo usada pelo Excel para armazenar planilhas em formato binrio. A codificao binria permite que as planilhas sejam abertas e salvas com mais rapidez do que aquelas no formato xlsx.

J os formatos odf, ods e odt so arquivos abertos, livres e universais que podem ser usados por qualquer software, ou seja, foram criados para serem independentes de plataformas, isso significa que podem ser usados em sistemas operacionais diferentes, como Windows, Linux e Mac OS.

Alm disso, so independentes de aplicativos e podem ser usados em vrios programas diferentes, incluindo o OpenOffice, o LibreOffice, o Google Docs e o Microsoft Office.

Esse padro de arquivos foi criado e  mantido pela OASIS (Organization for the Advancement of Structured Information Standards), uma organizao internacional criada para desenvolver e promover padres digitais para uso na Internet.

Legal! Agora sabemos um pouco mais sobre todos os tipos de arquivos que podem ser lidos com a funoread_excel.

Caso queira aprofundar o assunto, deixamos alguns links para materiais que foram utilizados como referncia:

Formatos de arquivos com suporte no Excel
OpenDocument

Nesta aula, exploraremos alguns parmetros da funo que faz a leitura dos arquivos Excel. Vamos acessar a pgina https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html.

Logo no incio,  possvel conferir vrios parmetros. Recomendamos que voc explore alguns deles.

-------------------------------------------------------------------------

# Parmetro sheet_name

A seguir, estudaremos o parmetro sheet_name, com o qual podemos especificar a pgina da planilha queremos mostrar. Descendo um pouco a pgina, encontramos uma explicao mais detalhada sobre esse parmetro.

Por padro, esse parmetro  igual a zero. Ou seja, quando no alteramos esse valor, a primeira pgina ser mostrada. J se definirmos sheet_name=1, consultaremos a segunda pgina.

Alternativamente, podemos escrever o nome da pgina, por exemplo, sheet_name="Pagina2".

Vamos testar no Colab!

Nosso objetivo ser ler a segunda pgina, chamada "emissoes_percapita". Criaremos uma varivel chamada percapita e chamaremos a funo read_excel() da biblioteca Pandas.

Como parmetros, informaremos a URL e o `sheet_name="emissoes_percapita":

Aps a execuo, vamos consultar as cinco primeiras linhas com a funo head() novamente:

In [ ]:
percapita = pd.read_excel(url, sheet_name='emissoes_percapita')

# Aps a execuo, vamos consultar as cinco primeiras linhas com a funo head() novamente:

percapita.head()

Agora, temos um dataframe contendo somente valores per capita para cada um dos pases. Conseguimos ler uma pgina especfica da planilha.

Vamos repetir o processo para a terceira pgina, chamada "fontes":

In [ ]:
fontes = pd.read_excel(url, sheet_name='fontes')

# Aps executar a clula, visualizaremos o dataframe com a funo head():

fontes.head()

O retorno ser um dataframe com as fontes de onde os dados foram obtidos. Empregando o parmetro sheet_name, conseguimos fazer o carregamento de diferentes pginas da planilha.

# Parmetro usecols

Entre outros parmetros da funo read_excel(), existe o usecols, com o qual especificamos as colunas que queremos mostrar. Vamos explor-lo, a seguir.

Criaremos uma varivel chamada intevalo e chamaremos a funo read_excel() da biblioteca Pandas.

No primeiro parmetro, passaremos a URL.

No segundo, definiremos o nome da pgina, sheet_name='emissoes_C02'.

No terceiro, indicaremos o intervalo desejado, com usecols= 'A:D'.

Como aprendemos anteriormente, as colunas so nomeadas por letras. Ao indicar A:D, selecionamos o intervalo da coluna A at a coluna D:

In [ ]:
intervalo = pd.read_excel(url, sheet_name='emissoes_C02', usecols= 'A:D')

# Aps executar a clula, vamos consultar o intervalo:

intervalo

Agora, temos um dataframe com 63104 linhas (rows) e apenas 4 colunas (coluns). Ou seja, selecionamos apenas o intervalo com nossas colunas de interesse: o nome do pas, o cdigo do pas, o ano e o valor total de emisso de gs carbnico.

Definir as colunas  especialmente til quando temos uma pgina com mais de uma tabela. Assim, conseguimos selecionar somente o intervalo desejado.

# Parmetro nrows

Outro parmetro da funo read_excel()  o nrows, responsvel por definir a quantidade de linhas exibidas. Para demonstr-lo, vamos criar uma varivel chamada intervalo_2 e chamar read_excel().

Alm da URL, do nome da pgina e do intervalo de colunas, definiremos a exibio de apenas 10 linhas com nrows=10:

In [ ]:
intervalo_2 = pd.read_excel(url, sheet_name='emissoes_C02', usecols= 'A:D', nrows=10)

# Aps executar a clula, vamos conferir o resultado:

intervalo_2

# Salvando em formato Excel

Anteriormente, consultamos as cinco primeiras linhas do dataframe com os dados per capita com o seguinte comando:

In [ ]:
percapita.head()

Nosso grupo de pesquisa deseja analisar somente os valores per capita, ento vamos salv-los esse arquivo em formato Excel para mant-los separados.

Em uma nova clula no Colab, vamos usar o nome do dataframe "percapita" e usar a funo to_excel() para realizar a escrita no formato Excel.

Dentro dos parnteses, passaremos dois parmetros. O primeiro ser o nome do arquivo que queremos salvar, no caso, co2_percapita.xlsx.

O segundo parmetro ser o index, que estudamos anteriormente. No caso, o deixaremos com valor False:

In [ ]:
percapita.to_excel('co2_percapita.xlsx', index=False)

Aps executar a clula, vamos checar onde o arquivo foi salvo. No menu  esquerda, acessaremos na aba "Arquivos" e encontraremos o arquivo co2_percapita.xlsx.

Para fazer a leitura e conferir se deu tudo certo, vamos copiar o seu caminho. Basta clicar nos trs pontos no canto direito do nome do arquivo e selecionar "Copiar caminho".

Em uma nova clula, usaremos a funo read_excel() e passar o endereo do arquivo:

In [ ]:
pd.read_excel('/content/co2_percapita.xlsx')

Temos um dataframe contendo os dados per capita que acabaram de ser salvos. Temos 630104 linhas e 10 colunas. Conseguimos salvar o arquivo!

Na sequncia, vamos aprender como carregar dados no Google Colab a partir do Google Planilhas, usando a biblioteca Pandas.

# Para saber mais: importando no Google Planilhas

O Google Planilhas  uma ferramenta de planilha eletrnica baseada em nuvem que permite criar, editar e colaborar em planilhas de forma fcil e conveniente.  um dos aplicativos do Google Workspace que oferece uma alternativa ao Microsoft Excel.

Com o Google Planilhas  possvel criar e formatar planilhas, adicionar frmulas e funes, criar grficos e tabelas dinmicas, alm de trabalhar com dados em tempo real com outras pessoas.

Ele tambm suporta a importao e exportao de vrios formatos de arquivos, como CSV e XLSX.

Uma das principais vantagens do Google Planilhas  a colaborao em tempo real. Vrias pessoas podem trabalhar simultaneamente na mesma planilha, visualizando as alteraes simultaneamente.

Isso torna mais fcil trabalhar em projetos em equipe, aumentando a eficincia e a produtividade.

Para importar o arquivo Excel emissoes_CO2.xlsx no Google Planilhas, siga as seguintes etapas:

Abra a pgina do Google Planilhas e clique em Acesse o Sheets.

Faa login em sua conta do Google, se necessrio.

Clique em Arquivo (File) no menu superior e depois clique na opo Importar arquivo (Import).

Clique na guia "Fazer upload" (Upload) e selecione o arquivo que deseja importar.

Voc pode clicar na opo Browse para localizar o arquivo no seu computador ou arrastar o arquivo dentro da guia.

Aguarde enquanto o arquivo  carregado. Quando o upload estiver completo, voc ver uma mensagem de confirmao e pode clicar em Importar dados (Import data).

Aps a importao os dados sero exibidos.

Maravilha! Os dados foram importados com sucesso. No prximo vdeo voc aprender como ler esses dados no Google Colab, utilizando o link de compartilhamento do Google Planilhas.

-------------------------------------------------------------------------

No Google Planilhas,  possvel carregar dados no formato Excel e CSV. Uma vez carregados, vamos visualizar as pginas dessa planilha  algo que no tnhamos conseguido fazer no GitHub.

Com a planilha aberta no Google Planilhas, temos as seguintes pginas listadas na parte inferior da interface:

*   emissoes_CO2
*   Item da lista


emissoes_percapita
fontes

-------------------------------------------------------------------------

No Google Planilhas,  possvel carregar dados no formato Excel e CSV. Uma vez carregados, vamos visualizar as pginas dessa planilha  algo que no tnhamos conseguido fazer no GitHub.

Com a planilha aberta no Google Planilhas, temos as seguintes pginas listadas na parte inferior da interface:

*   emissoes_CO2
*   emissoes_percapita
*   fontes

# Acessando pelo Google Planilhas

No Google Planilhas,  possvel obter o link da planilha e compartilh-lo com outras pessoas. Alm disso, podemos usar esse link para acessar a planilha no Colab!

Ao clicar no boto "Compartilhar" no canto superior direito, ser aberta uma caixa de dilogo no centro da tela.

No tpico "Acesso geral", selecionaremos a opo "Qualquer pessoa com o link". Em seguida, clicaremos em "Copiar link" no canto inferior esquerdo, depois em "Concludo" no canto inferior direito.

No Colab, vamos colar o endereo em uma nova clula. No caso, trata-se da seguinte URL:

In [ ]:
# https://docs.google.com/spreadsheets/d/1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog/edit?usp=sharing
# Toda planilha possui um ID para identific-la. Este ID est presente nessa URL, entre /d/ e /edit?usp=sharing.
# No caso, o ID da planilha  o seguinte:
# 1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog
# Em uma nova clula, criaremos uma varivel chamada sheet_id para armazenar esse ID:

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'

Para acessar a planilha no Colab, precisaremos alterar alguns trechos da URL. Em uma nova clula, criaremos uma varivel chamada url, cujo valor inicial ser a URL de compartilhamento at o /d/:

url = https://docs.google.com/spreadsheets/d/

Aps /d/, vamos inserir a varivel sheet_id entre chaves:

url = https://docs.google.com/spreadsheets/d/{sheet_id}

Para acessar a varivel sheet_id nessa URL, empregaremos uma f-string, uma maneira interessante de formatar strings em Python. Basta envolver a URL entre aspas simples e incluir a letra "f" no incio:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}'

Assim, todos os elementos que aparecem entre chaves sero substitudos pelas variveis correspondentes. No caso, o trecho {sheet_id} da URL ser substitudo pela string que armazenamos na varivel sheet_id anteriormente.

Essa prtica torna o cdigo mais simples, melhorando sua escrita e a leitura.

A seguir, adicionaremos alguns parmetros para permitir o acesso  planilha. Vamos colocar uma barra aps {sheet_id} e inserir o parmetro gviz/tq:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq'

O que  esse parmetro e para que ele serve? Para ter acesso  planilha,  necessrio acessar a API de visualizao de dados do Google.

API significa Application Programming Interface, isto , uma interface de programao de aplicaes. Elas permitem sistemas diferentes se comuniquem.

No caso, queremos criar a comunicao entre o Google Colab e o Google Planilhas. O parmetro gviz/tq permite o acesso  API responsvel por essa comunicao.

Aps gviz/tq, adicionaremos um ponto de interrogao e o parmetro tqx=out:csv:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv'

Dessa forma, nossos dados sero retornados em formato CSV (que j temos familiaridade, de aulas anteriores). Por fim, incluiremos o smbolo do "e comercial" e a palavra sheet:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

Assim, todos os dados da planilha sero retornados, incluindo cabealho, linhas e colunas. Nossa URL est pronta!

A seguir, vamos verificar se tudo funciona como esperado.

Em uma nova clula, criaremos uma varivel chamada dados_co2_sheets. Como definimos que o retorno ser em formato CSV, chamaremos a funo read_csv() da biblioteca Pandas.

Como parmetro, passaremos a varivel url:

In [ ]:
dados_co2_sheets = pd.read_csv(url)

# Aps a execuo, vamos consultar as primeiras linhas do dataframe com head():

dados_co2_sheets.head()

Conseguimos retornar o dataframe!

# Retornando outras pginas

Verificamos anteriormente que j trs pginas diferentes em nossa planilha, recapitulando:

*   emissoes_CO2
*   emissoes_percapita
*   fontes

Quando trabalhamos com read_excel(), adicionamos parmetros na funo para especificar a pgina desejada. A seguir, vamos aprender como realizar essa especificao para o Google Planilhas.

Em uma nova clula, definiremos sheet_id com o ID da planilha (que permanece o mesmo):

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'

# Depois, criaremos uma varivel chamada sheet_name.

# Com o objetivo de acessar a segunda pgina, armazenaremos a string "emissoes_percapita":

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'

# Em seguida, vamos declarar a url_percapita, que ser igual  f-string que usamos anteriormente.

# Ela j contm o endereo correto com a varivel sheet_id:

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

# Para especificar a pgina da planilha que queremos acessar, basta inserir um smbolo de igual ao final da URL,
# seguida da varivel sheet_name entre chaves:

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

# Dessa forma, temos acesso ao ID da planilha e ao nome da pgina desejada.

# Aps executar a clula, criaremos uma varivel chamada per_capita_sheets para conferir
# o dataframe com os dados per capita. Vamos chamar a funo read_csv() do Pandas e passamos a URL como parmetro:

percapita_sheets = pd.read_csv(url_percapita)

# Para verificar as primeiras linhas, usaremos o head() novamente:

In [ ]:
percapita_sheets.head()

Temos o resultado esperado! Para finalizar, podemos repetir o processo com a ltima pgina da planilha, cujo nome  "fontes".

Podemos copiar a clula em que definimos o ID da planilha, o nome da pgina e a URL, fazendo as adaptaes necessrias. Basta trocar o nome de "emissoes_percapita" para "fontes" e alterar o nome da varivel de "url_percapita" para "url_fontes":

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

# Aps executar a clula, criaremos a varivel fontes_sheets e chamaremos a funo read_csv(), passando url_fontes como parmetro:

fontes_sheets = pd.read_csv(url_fontes)

# Por fim, verificaremos as cinco primeiras linhas do dataframe:

fontes_sheets.head()

Conseguimos visualizar as trs pginas da planilha, utilizando apenas uma URL do Google Planilhas! Aprendemos a ler e escrever no formato Excel e trabalhamos com dados provenientes do Google Planilhas.

# Desafio: lendo dados de outro link

Chegou a hora de voc testar os conhecimentos desenvolvidos durante a aula. Ns temos um link do Google Planilhas que contm dados importantes sobre as emisses de gs carbnico pelo mundo.

O conjunto de dados foi obtido no Kaggle e consiste em emisses de CO2 per capita de todos os pases do mundo de 1990 a 2019.

Neste desafio, a sua funo  efetuar a leitura desse link do Google Planilhas e depois salvar o DataFrame obtido no formato CSV. Pronto(a) para comear?

Vamos comear criando uma varivel que vai receber o ID da planilha.

E onde encontramos esse id? No prprio link.  tudo o que aparece entre d/ e /edit.

In [ ]:
sheet_id = '1pvBoLyX8kP0TjtUbadVMGdTl4yzm6bHMThhPiqCVtpw'

Em seguida, criamos uma varivel que vai armazenar o endereo da url, mas podemos facilitar a escrita utilizando uma f string para o sheet_id. Aps o sheet_id temos alguns parmetros que devem ser adicionados.

Nesse primeiro momento,  importante acessar a API de visualizao de dados do Google. Isso vai permitir a exibio dos dados da planilha do Google Planilhas no Google Colab.

Ento, o parmetro gviz/tq indica que voc deseja acessar o recurso de consulta de dados da API de visualizao de dados.

A API tambm oferece uma forma de recuperar dados da planilha como CSV que  um dos formatos que a biblioteca Pandas pode ler. Por conta disso, indicamos a utilizao do parmetro tqx=out:csv para que os dados sejam retornados no formato CSV. J o parmetro sheetrecupera todos os dados na planilha, incluindo cabealhos de coluna e linhas de dados.

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

# Feito isso, podemos ler os dados passando a varivel url  funo read_csv:

dados = pd.read_csv(url)

Para salvar os dados no formato CSV, basta usar a funo to_csv e, entre parnteses, dar um nome ao arquivo adicionando o parmetro index=False para que uma nova coluna de index no seja adicionada:

In [ ]:
dados.to_csv('dados_emissoes_co2.csv', index=False)

Prontinho! Conseguimos ler os dados do Google Planilhas com a biblioteca Pandas e ainda salvamos o DataFrame que agora pode ser compartilhado com outras pessoas ou usado em anlises posteriores.

![img_pandasIO.jpg]()

# Pandas I/O: trabalhando com diferentes formatos de arquivos: fazendo leitura de arquivos CSV - Aula 01

Dados:

*   https://github.com/alura-cursos/Pandas/blob/main/superstore_data.csv
*   https://github.com/alura-cursos/Pandas/blob/main/superstore_data_ponto_virgula.csv

# Lendo arquivos CSV

## Antes de comear

O Google Colaboratory, ou Colab para abreviar,  uma ferramenta gratuita baseada em nuvem que permite executar e escrever cdigos em Python sem precisar de configuraes de software e hardware local.  uma excelente ferramenta para executar cdigos de anlise de dados e outros tipos de projetos de programao.

Para comear a usar a plataforma  necessrio que voc tenha uma conta no Gmail. Se ainda no tem uma, ser necessrio cri-la. Depois de fazer login, v at a pgina do Google Colab e clique no menu superior em Arquivo e escolha a opo Novo notebook.

Ele  o ambiente de trabalho do Colab, no qual  possvel escrever e executar cdigos em Python.

O Colab  executado em servidores do Google, ento ele fornece uma mquina virtual na nuvem com recursos como CPU, memria e espao em disco. Para executar um cdigo, basta escrev-lo em uma clula de cdigo e clicar no boto Executar ou pressionar Shift + Enter.

Para acompanhar o desenvolvimento dos projetos ao longo do curso e reproduzir tudo o que foi feito, voc pode fazer o download dos arquivos no GitHub.

Para fazer download de um arquivo de um repositrio do GitHub, siga as seguintes etapas:

V para o repositrio do GitHub que contm o arquivo que voc deseja baixar.

Clique no arquivo que deseja baixar para visualiz-lo.

Clique no boto chamado Raw na parte superior da pgina do arquivo.

O contedo do arquivo ser exibido em uma nova guia do navegador. Para baix-lo, clique com o boto direito do mouse na pgina e selecione "Salvar como" no menu.

Escolha um local no seu computador para salvar o arquivo e clique em "Salvar". O arquivo ser salvo no local escolhido em seu computador em seu formato original.

Caso prefira, tambm oferecemos uma verso dos arquivos em uma pasta compactada, que voc pode baixar aqui.

-------------------------------------------------------------------------

Temos um supermercado que est planejando uma liquidao de fim de ano, eles querem oferecer uma assinatura que d 20% de desconto em todas as compras.

E o time de marketing desse supermercado entende que a melhor maneira de diminuir custos com essa campanha  analisar os dados de compras dos clientes e entender quais teriam mais chances de aderir a essa assinatura e oferecer diretamente a essas pessoas.

Ns temos os dados dessas pessoas l no GitHub vamos dar uma conferida?

O nome do arquivo  superstore_data.csv. Esse .csv  o formato do nosso arquivo, em breve entenderemos o que  isso.

A tabela  formada por uma primeira linha que  como se fosse um cabealho contendo os ttulos de cada uma das colunas e, em seguida, temos uma linha para cada cliente.

No canto direito dessa pgina do GitHub temos um boto intitulado "Raw". Ao clicarmos em "Raw" conseguiremos ver como esses dados esto estruturados de fato, sem nenhuma formatao prvia, so os "dados brutos".

Note que temos valores, tanto palavras quanto nmeros, separados por vrgulas.

Quando temos um arquivo separado por vrgulas, temos um arquivo .csv, que em ingls significa "comma-separated values" (valores separados por vrgula).

In [ ]:
import pandas as pd

# Utilizando a biblioteca Pandas no Google Colab

Vamos para o Google Colab para saber como ler esse arquivo com a biblioteca Pandas.

Acessaremos o Google Colab e nosso ambiente j est conectado, j temos uma clula disponvel. O primeiro passo  importar a biblioteca Pandas. Para isso, usaremos o seguinte comando:

In [ ]:
import pandas as pd

Para executar a clula podemos clicar na seta localizada  esquerda ou usar o atalho "Shift + Enter". Vamos executar.

Em seguida, vamos criar uma varivel chamada url com o endereo de onde esto os dados brutos do nosso arquivo. Podemos colocar o endereo da URL em que os dados brutos esto dentro aspas simples ou aspas duplas, tanto faz. Aqui vou usar aspas simples. Vamos executar esta clula:

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data.csv'

Em seguida, faremos a leitura desse arquivo. Para isso, criaremos uma varivel chamada dados_mercado que ser igual a pd.read_csv. A read_csv  a funo que consegue fazer a leitura de um arquivo .csv.

Vamos abrir parnteses e, dentro deles, passaremos a varivel na qual armazenamos o endereo URL dos dados brutos.

In [ ]:
dados_mercado = pd.read_csv(url)

# A funo read_csv vai pegar esse endereo que passamos e ler esses dados em um objeto Pandas chamado DataFrame.
# Ele  muito parecido com uma tabela, vamos visualizar isso agora.
# Para visualizar esse DataFrame executaremos o comando:

dados_mercado.head()

A funo read() permitiu a visualizao das 5 primeiras linhas desse DataFrame.

Quando executamos a clula do comando dados_mercado.head() obtemos  uma tabela contendo os nossos dados. Temos 5 linhas e 22 colunas.

Quais informaes ns temos?

O Id de cada cliente, que  um cdigo diferente para cada uma das pessoas; o ano de nascimento; nvel de escolaridade; estado civil; rendimento anual; e vrias colunas com informaes sobre as compras que essas pessoas fizeram no mercado.

Temos bastante informao.

Beleza! Conseguimos abrir esse arquivo .csv utilizando a biblioteca Pandas no Google Colab, mas tem um detalhe: os arquivos .csv nem sempre so separados por vrgulas.

-------------------------------------------------------------------------

s vezes eles podem estar separados por ponto e vrgula (;).

O que acontece nesse caso? Como podemos fazer a leitura?

Para entendermos isso, preparei um arquivo igual ao que usamos nesse vdeo, mas agora ele est separado por ponto e vrgula.  um arquivo chamado superstore_data_ponto_virgula.csv.


Acesse o arquivo "superstore_data_ponto_virgula.csv neste link".

Se clicarmos no boto "Raw" teremos os dados brutos desse arquivo. Agora vamos entender o que acontece se fizermos a leitura desses dados com o Pandas.

Vamos copiar o endereo URL dos dados brutos de superstore_data_ponto_virgula.csv e executaremos o seguinte comando para criar uma nova varivel que conter esse endereo:

In [ ]:
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

# Em seguida, criaremos uma nova varivel chamada dados_ponto_virgula que ser igual a pd.read_csv() passando a url_2.

dados_ponto_virgula = pd.read_csv(url_2)

# Agora, vamos visualizar as 5 primeiras linhas desse arquivo com a funo head().

dados_ponto_virgula.head()

Ao executar essa clula, aconteceu alguma coisa muito estranha. Note que no temos separao de colunas. Temos as linhas e as informaes esto todas juntas, sem espao. Muito diferente de como visualizamos antes.

O que aconteceu? Como podemos corrigir isso para quando quisermos ler um arquivo .csv separado por ponto e vrgula?

-------------------------------------------------------------------------

# Para saber mais: erro de encoding - Como resolver?

Giovanna  uma cientista de dados que trabalha em uma empresa de comrcio eletrnico. Ela  responsvel por analisar os dados de vendas para identificar padres e tendncias que possam ajudar a empresa a tomar decises informadas.

Recentemente, ela recebeu uma nova tarefa: analisar um arquivo CSV contendo informaes sobre as vendas da empresa em um determinado perodo. Para isso, Giovanna tentou fazer a leitura do um arquivo CSV no Google Colab, utilizando a biblioteca Pandas com o seguinte comando:

In [ ]:
import pandas as pd
df = pd.read_csv('/content/dados.csv')

Em portugus a mensagem quer dizer UnicodeDecodeError: o codec 'utf-8' no pode decodificar o byte 0xe7 na posio 18: byte de continuao invlido.

# Mas o que isso quer dizer? O que  esse tal de UTF-8?

O erro de encoding ocorre quando a biblioteca Pandas no consegue interpretar corretamente os caracteres de um arquivo CSV. Isso pode acontecer quando ele contm caracteres especiais que no so reconhecidos pela biblioteca Pandas ou quando foi salvo em um formato de codificao diferente do esperado.

Para resolver esse erro,  necessrio identificar a codificao correta do arquivo CSV e especific-la ao carregar o arquivo com a biblioteca Pandas. Essa codificao padro  o UTF-8, mas em alguns casos, o arquivo pode ter sido salvo com uma codificao diferente, como ISO-8859-1.

O UTF-8  uma codificao de caracteres universal usada para representar caracteres de diferentes idiomas de forma compatvel com a internet e com sistemas de computador em geral. A sigla UTF significa Unicode Transformation Format (Formato de Transformao Unicode) e o nmero 8 indica que essa codificao associa uma sequncia de 1 a 4 bytes (8 a 32 bits) com cada caractere.

A codificao UTF-8  amplamente utilizada na internet e em sistemas de computador em todo o mundo, pois permite a representao de caracteres de diferentes idiomas em um nico conjunto de caracteres. Alm disso, essa codificao  capaz de preservar a compatibilidade com outras mais antigas, como ASCII, o que a torna uma escolha popular para a criao e compartilhamento de arquivos de texto.

Pode ser que voc esteja pensando neste momento: como ser que a Giovanna conseguiu descobrir qual  a codificao do arquivo que ela est tentando ler?

Existem algumas formas para descobrir isso, no entanto, teremos a oportunidade de experimentar uma maneira prtica de fazer isso no prprio Google Colab.

Ns podemos usar uma biblioteca chamada chardet para detectar o encoding de um arquivo CSV. Para utilizar essa biblioteca no Google Colab, basta realizar sua importao:

In [ ]:
import chardet

# Em seguida, digitamos o seguinte bloco de cdigo:

with open('/content/dados.csv', 'rb') as file:
    print(chardet.detect(file.read()))

Note que a primeira linha deste cdigo abre o arquivo CSV em modo de leitura binria rb e atribui o objeto de arquivo retornado a uma varivel chamada file.

Na segunda linha do cdigo, o contedo do arquivo CSV  lido usando o mtodo read() e o resultado  passado para a funo chardet.detect(), que retorna um dicionrio contendo informaes sobre a codificao mais provvel do arquivo. O resultado  impresso com a funo print() que mostra a codificao e a confiana associada a essa codificao.

Ao executar o cdigo Giovanna obteve o seguinte resultado:

Note que a primeira linha deste cdigo abre o arquivo CSV em modo de leitura binria rb e atribui o objeto de arquivo retornado a uma varivel chamada file.

Na segunda linha do cdigo, o contedo do arquivo CSV  lido usando o mtodo read() e o resultado  passado para a funo chardet.detect(), que retorna um dicionrio contendo informaes sobre a codificao mais provvel do arquivo. O resultado  impresso com a funo print() que mostra a codificao e a confiana associada a essa codificao.

Ao executar o cdigo Giovanna obteve o seguinte resultado:

In [ ]:

import chardet

with open('/content/superstore_data.csv', 'rb') as file:
    print(chardet.detect(file.read()))

Note que a primeira linha deste cdigo abre o arquivo CSV em modo de leitura binria rb e atribui o objeto de arquivo retornado a uma varivel chamada file.

Na segunda linha do cdigo, o contedo do arquivo CSV  lido usando o mtodo read() e o resultado  passado para a funo chardet.detect(), que retorna um dicionrio contendo informaes sobre a codificao mais provvel do arquivo.

O resultado  impresso com a funo print() que mostra a codificao e a confiana associada a essa codificao.

Agora ela sabe que o arquivo CSV provavelmente possui a codificao ISO-8859-1 com uma confiana de 1.0 Para especificar a codificao correta ao carregar o arquivo CSV com a biblioteca Pandas,  possvel usar um parmetro chamado encoding:

In [ ]:
df = pd.read_csv('/content/superstore_data.csv', encoding='ISO-8859-1')

Desta forma, a biblioteca Pandas ir carregar o arquivo CSV usando a codificao ISO-8859-1, o que vai resolver o erro de encoding. Ento, se algum dia voc tentar ler um arquivo e surgir esse mesmo erro, lembre-se dessa dica!

Caso queira aprofundar o assunto, deixamos alguns links para materiais que foram utilizados como referncia:

Instituto de Matemtica e Estatstica

*  Instituto de Matemtica e Estatstica - IME/USP: Unicode e UTF-8
*  IBM: O que  Unicode
*   Kaggle:Character Encodings

-------------------------------------------------------------------------

Ns tentamos ler um arquivo CSV separado por ponto e vrgula e o resultado ficou muito esquisito, as informaes apareceram bagunadas. Vamos resolver isso agora, com a ajuda da documentao da biblioteca Pandas.

Na documentao ,consultaremos a parte que fala sobre a funo read_csv().

Existem vrios parmetros que podem ser alterados quando queremso fazer a leitura de um CSV.

Recomendo que voc leia essa documentao e explore cada parmetro. Aqui vamos direto ao ponto, que  o parmetro sep.

Esse parmetro  o que mostra qual ser o separador do arquivo CSV. A documentao indica que o default, o padro dele,  a separao por vrgulas. Ento, basta alterarmos esse parmetro.

De volta ao Colab, vamos adicionar uma nova clula de cdigo e criaremos uma varivel chamada dados_sem_vrgula que ser igual a pd.read_csv(url_2). Em seguida, adicionaremos o parmetro sep igual a pornto e vrgula. Assim ele vai entender que o separador  ponto e vrgula. Vamos executar esta clula:

In [ ]:
dados_ponto_virgula = pd.read_csv(url_2, sep = ';')

In [ ]:
dados_ponto_virgula.head()

Agora, dados apareceram corretamente no DataFrame. Ento,  importante verificar qual  o separador do seu arquivo CSV e indicar no parmetro sep caso no seja uma separao por vrgula.

Alm desse parmetro temos vrios outros que podem ser explorados. Vamos falar sobre alguns deles.

# Parmetro nrows

Comeamos com um parmetro que  interessante se voc quiser visualizar apenas algumas linhas do seu DataFrame  bom para quando temos um DataFrame muito grande e queremos apenas ter uma visualizao geral do contedo.

Criaremos uma varivel chamada dados_primeiras_linhas e dentro do pd.read_csv() passaremos a varivel url e o parmetro nrows igual  quantidade de linha que quero que sejam monstrada, vou colocar apenas 5.

In [ ]:
dados_primeiras_linhas = pd.read_csv(url,nrows=5)

dados_primeiras_linhas

# Parmetro usecols

Outro parmetro que tambm podemos testar agora  um parmetro que consegue mostrar apenas algumas colunas.

Por exemplo, vamos supor que queremos visualizar os clientes apenas pelo seu id, ano de nascimento e seu rendimento anual.

Para isso, criaremos uma varivel chamada dados_selecao igual a pd.read_csv() passando url e usecols, sinal de igual, e dentor de colchetes vamos informar quais colunas queremos visualizar.

Vamos querer as colunas Id, ano de nascimento (Year_Birth) e a coluna do rendimento anual (Income).

In [ ]:
dados_selecao = pd.read_csv(url, usecols=['Id', 'Year_Birth', 'Income'])

In [ ]:
dados_selecao.head()

In [ ]:
# Ou somente:

dados_selecao

Outra dica  que essas colunas que selecionamos podem ser indicadas pela posio ao invs do nome. Lembre-se que em Python comeamos a indexar em zero, ento as posies comeam a partir do zero.

Na tabela original, a coluna do Id seria a coluna 0; a coluna Year_Birth  a coluna 1 e a Income  a coluna 4.

Usaremos o mesmo cdigo, mas com os valores no lugar nos nomes das colunas.

In [ ]:
dados_selecao = pd.read_csv(url, usecols=[0,1,4])

dados_selecao

# Escrevendo arquivos CSV

Exploramos alguns parmetros da funo read_csv(), agora chegou um momento muito especial: como escrever no formato CSV usando a biblioteca Pandas? Como salvar um arquivo no formato CSV?

Por exemplo, ns obtivemos um DataFrame com algumas colunas que selecionamos: ID, ano de nascimento e rendimento anual. Que tal salvarmos esse DataFrame?

# Funo to_csv()

Para isso vamos colocar o nome do DataFrame, que est na varivel dados_selecao e usaremos a funo to_csv(), dentro do parnteses colocaremos entre aspas qual ser o nome do arquivo seguido do formato do arquivo.

In [ ]:
dados_selecao.to_csv('clientes_mercado.csv')

Aps executar essa clula, para visualizar o arquivo salvo podemos clicar no cone "Arquivos" do menu lateral  esquerda. Ser aberto um painel que vai exibir a estrutura dos arquivos que estamos salvando.

Ao selecionar um arquivo e clicar em "Mais opes" teremos as opes de:

Fazer download

*   Renomear arquivo
*   Excluir arquivo
*   Copiar caminho
*   Atualizar

Ns vamos escolher a opo "Copiar caminho" para entender como fazer a leitura de um arquivo que est salvo no Colab.

Agora, criaremos uma varivel chamada clientes_mercado igual a pd.read_csv().

Dentro do parnteses colocaremos entre aspas o caminho que acabamos de copiar:

In [ ]:
clientes_mercado = pd.read_csv('/content/clientes_mercado.csv')

# E vamos chamar clientes_mercado para visualizar o arquivo.

clientes_mercado

Mas agora, aconteceu alguma coisa que causou a duplicao do ndice e criou a coluna "Unamed". Ser que est faltando adicionar algum parmetro na hora de criar o arquivo CSV?

Vamos checar na documentao da biblioteca Pandas, na seo do to_csv. Recomendo que voc explore e entenda melhor sobre esses parmetros.

Entre os parmetro do to_csv, falaremos sobre o parmetro index, ele tem como default, padro, a opo true. Ou seja, sempre que no modificarmos esse parmetro, ser adicionada uma nova coluna de index porque o padro est index=true.

Se mudarmos index para false no teremos a adio dessa coluna.  o que vamos fazer.

In [ ]:
dados_selecao.to_csv('dados_mercado.csv', index=False)

Aps executar essa clula, podemos abrir o painel de arquivos e copiar o caminho desse arquivo dados_mercado.csv recm-criado. Vamos tentar visualizar esse arquivo:

In [ ]:
pd.read_csv('/content/dados_mercado.csv')

Agora foi exibido corretamente. No foi criada uma nova coluna. Ento, lembre-se de inserir o parmetro index=False quando for salvar um arquivo CSV.

# Concluso

Nesta aula conseguimos ler um CSV, executar alguns parmetros dentro da funo read_csv(), tambm escrever em CSV.

# Para saber mais: explorando a documentao

A biblioteca Pandas  uma das ferramentas mais poderosas disponveis para a anlise de dados em Python. Ela oferece uma ampla variedade de funcionalidades que tornam o processo de manipulao e anlise de dados muito mais fcil e eficiente.

Para aproveitar ao mximo todas as funcionalidades da biblioteca,  essencial explorar a sua documentao, que  extensa e bem organizada, e pode ser facilmente acessada no modo on-line. Confira as indicaes:

Funo read_csv

*   Funo to_csv
*   Funo read_csv


Explorar a documentao da biblioteca  importante por diversas razes. Ela pode ajudar a entender como as funes e mtodos da biblioteca funcionam e como elas podem ser usadas para analisar e manipular os dados.

Alm disso, a documentao fornece detalhes sobre os parmetros de cada funo e exemplos de como eles podem ser usados na prtica. Ento, busque aprofundar os seus estudos nesses parmetros das funes read_csv e to_csv e aprenda mais sobre cada um deles.

-------------------------------------------------------------------------

# Desafio: lendo dados com vrios parmetros

Chegou a hora de voc testar os conhecimentos desenvolvidos durante a aula.

Temos um arquivo no formato CSV, que foi obtido na pgina Informaes de Sade (TABNET) - DATASUS.

Este arquivo contm os gastos hospitalares pblicos de cada uma das Unidades da Federao brasileira no perodo de janeiro de 2008 a maro de 2021.

Seu desafio aqui ser fazer a leitura desse arquivo utilizando a funo read_csv da biblioteca Pandas. Alguns parmetros devem ser adicionados para que a leitura seja feita corretamente. Ento, seguem algumas dicas:

Verifique se o arquivo CSV est separado por vrgula ou ponto e vrgula.

1.   Verifique se o arquivo CSV est separado por vrgula ou ponto e vrgula.

2.   A codificao do arquivo  ISO-8859-1.

3.   As trs primeiras linhas do arquivo podem ser desconsideradas, pois o cabealho s comea na quarta linha.

4.   As 9 ltimas linhas tambm podem ser desconsideradas, pois so apenas informaes sobre onde os dados foram obtidos.

5.   Para deletar as ltimas linhas  necessrio adicionar o parmetro engine='python'.

Para fazer a leitura do arquivo podemos comear armazenando o endereo em uma varivel chamada url:

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/dados_sus.csv'

# Em seguida, podemos ler a url com a funo read_csv e adicionar os parmetros:



*   encoding='ISO-8859-1': tipo de codificao dos caracteres do arquivo. Neste caso,  a codificao ISO-8859-1 que  comum em arquivos de lngua portuguesa.

*   sep=' ; ' : separador dos valores no arquivo. Neste caso,  o ponto-e-vrgula (;).

*   kiprows=3: indica que as trs primeiras linhas do arquivo devem ser ignoradas, pois no contm dados relevantes.

*   skipfooter = 9: indica que as nove ltimas linhas do arquivo devem ser ignoradas, pois no contm dados relevantes.


*   engine='python': o motor usado para ler o arquivo  o Python. Isso  necessrio quando se usa o parmetro skipfooter, pois o motor padro no suporta essa opo.

In [ ]:
dados = pd.read_csv(url, encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter = 9, engine='python')

# Dessa forma os dados sero carregados com sucesso!

Pandas I/O: trabalhando com diferentes formatos de arquivos: Banco de Dados - Aula 05

Utilizamos dados em HTML e XML, agora temos um novo conjunto de dados para serem lidos.

O time de dados de uma Instituio Financeira possui um arquivo CSV que contm os dados de todos os clientes cadastrados.

Porm, o que eles querem  pegar esse arquivo, colocar em um banco de dados local e a partir dele realizar consultas SQL. Assim ser possvel analisar dados, obter insights e tomar decises estratgicas.

Quando falamos sobre banco de dados nos referimos a um sistema de gerenciamento no qual conseguimos armazenar, gerenciar e atualizar dados.

A linguagem trabalhada em banco de dados  a SQL, uma sigla que vem do ingls "Strictured Quert Language" e significa Linguagem de Consulta Estruturada.

Ser que conseguimos trabalhar com a criao de um banco de dados local no Google Colab com essas consultas SQL?  possvel essa integrao?

Sim,  possvel. Porm, para isso precisamos importar outra biblioteca, a SQLAlchemy, que permite a criao do banco.  isso que faremos agora.

# Criando um banco de dados local

No Google Colab, criamos uma nova linha de cdigo. Nela, escrevemos import sqlalchemy e executamos a clula.

In [ ]:
import sqlalchemy

Agora, precisamos fazer algumas importaes. Na linha de baixo, escrevemos from sqlalchemy import. A primeira importao ser create_engine, que serve para criar o motor, ou seja, a conexo com o banco de dados que o far funcionar.

Na mesma linha, inserimos uma vrgula e a importao MetaData. Essa  uma classe que representa os meta dados do banco de dados, isso inclui informaes sobre as tabelas, colunas e outros objetos.

Tambm importamos a classe Table que representa uma tabela em um banco de dados e  usada para manipular dados em uma tabela especfica.

Por fim, importamos a funo inspect, que permite inspecionar a estrutura do banco de dados. Em seguida, executamos a clula.

In [ ]:
import sqlalchemy

from sqlalchemy import create_engine, MetaData, Table, inspect

Agora, vamos criar o banco de dados. Para isso, criamos uma varivel chamada engine. Dela, chamamos o create_engine( ). Dentro das chaves abrimos aspas simples e escrevemos o banco de dados que ser utilizado, 'sqlite:///:memory:'.

Nesse caso, usaremos o SQLite, um banco de dados que vem naturalmente instalado no Google Colab. Nesse trecho de cdigo o memory indica que estamos usando um banco de dados local.

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
engine = create_engine('sqlite:///:memory:')

Nosso banco foi criado, j podemos comear a utiliz-lo.

O prximo desafio  pegar o arquivo CSV e colocar dentro desse banco. Faremos isso na prxima aula.

# Para saber mais: bancos de dados e SQLAlchemy

Bancos de dados so sistemas que permitem o armazenamento, organizao e recuperao de informaes de forma estruturada e eficiente. Eles so amplamente utilizados em muitas reas, desde gerenciamento de negcios  pesquisa cientfica. Um banco de dados bem projetado pode melhorar significativamente a eficincia e a preciso das operaes de uma organizao.

Existem bancos de dados relacionais e no-relacionais. Os bancos de dados relacionais representam e armazenam dados em tabelas. J os no-relacionais, tambm conhecidos como bancos de dados NoSQL (Not Only SQL - No SQL), usam uma variedade de estruturas de dados, como documentos, grafos ou pares de chave-valor.

Python oferece vrios pacotes e bibliotecas para trabalhar com bancos de dados, incluindo SQLite, MySQL, PostgreSQL, Oracle, MongoDB, entre outros. Um dos pacotes mais comuns usados para trabalhar com bancos de dados relacionais em Python  o pacote sqlite3 que oferece suporte a bancos de dados SQLite. Este banco de dados  leve e incorporado que no exige um servidor separado para ser executado que j vem nativamente instalado no Google Colab.

Para trabalhar com esse banco podemos utilizar a SQLAlchemy, uma biblioteca de mapeamento objeto-relacional (ORM), que possibilita interagir com bancos de dados relacionais usando cdigo Python. Ela fornece uma camada de abstrao que permite aos desenvolvedores trabalhar com objetos Python em vez de lidar diretamente com as complexidades da linguagem SQL (Structured Query Language - Linguagem de consulta estruturada).

Uma das principais vantagens do uso de SQLAchemy  a capacidade de criar cdigo mais legvel e fcil de manter. Com SQLAlchemy, as operaes do banco de dados so executadas usando mtodos em objetos Python, tornando o cdigo mais claro e menos propenso a erros.

Alm disso, a SQLAlchemy oferece suporte a consultas complexas em bancos de dados, permitindo que pessoas desenvolvedoras extraiam facilmente informaes relevantes de grandes conjuntos de dados. Isso  especialmente til em aplicaes que precisam lidar com grandes quantidades de dados.

Voc pode encontrar mais detalhes sobre a biblioteca SQLAchemy na [documentao](https://)

# Escrevendo em um banco de dados

Agora, nosso desafio  escrever no banco de dados local. Para isso, no GitHub, clicamos no arquivo clientes_banco.csv. Depois, no centro da tela, clicamos em "View raw" para acessarmos os dados brutos.

Feito isso, abre uma nova pgina. Copiamos o link e voltamos para o Google Colab.

# Escrevendo em um banco de dados

Em uma nova linha, criamos a varivel url. Inserimos o smbolo de igual, seguido de duas aspas simples. Dentro dela, colamos o link. Em seguida, executamos.

In [ ]:
#Cdigo omitido

url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

Para fazer a leitura do arquivo, fazemos um import pandas as pde executamos a clula.

In [ ]:
import pandas as pd

Agora, vamos criar uma varivel chamada dados. Ela ser igual a pd.read_csv(url).

In [ ]:
dados = pd.read_csv(url)

Para entender o que temos nesse conjunto de dados, faremos a leitura das 5 primeiras linhas. Para isso, escrevemos dados.head( ) e executamos:

In [ ]:
dados.head()

So vrias informaes dos clientes da instituio financeira.

Para coloc-las no nosso banco de dados utilizaremos a funo dados.to_sql( ), que deixar o dataframe no formato do banco. Dentro do parnteses, colocamos duas aspas simples e definimos o nome da tabela que ser criada. Nesse caso ser 'clientes'.

Na mesma linha inserimos uma vrgula e escrevemos a varivel engine, que  o motor do banco. Por fim, escrevemos o parmetro index=False.

Lembrando que se no inserirmos esse parmetro sempre ser criado uma nova coluna de index.

In [ ]:

# Ler os dados da tabela

clientes = pd.read_sql_table('clientes', engine)

# Mostrar os dados

print(clientes.head())

Pronto, passamos os arquivos para o to_sql().

Mas, como sabemos se a tabela foi realmente criada no banco de dados?

Lembra que anteriormente importamos uma funo chamada Funo Inspect? Vamos utiliz-la novamente para inspecionar o banco de dados.

Criamos uma varivel chamada inspector. Inserimos o smbolo de igual seguido da funo inspect(). Dentro dela, vamos passar o engine e executar a clula.

Dessa forma, conseguimos verificar o que temos no banco de dados e inspecionar algumas informaes.

In [ ]:
dados.to_sql('clientes', engine, if_exists='replace', index=False)

In [ ]:
#Cdigo omitido

inspector = inspect(engine)

Agora, podemos printar o nome das tabelas que temos dentro do banco de dados. Para fazer isso, escrvemos print( ). Em seguida, passamos o inspector.get_table_names( ), essa funo devolve os nomes das tabelas que esto dentro do banco de dados.

In [ ]:
print(inspector.get_table_names())

Ao executar a clula temos o seguinte resultado:

['clientes']

Essa  a tabela clientes que criamos anteriormente. Isso significa que deu certo.

A seguir descobriremos como fazer consultas SQL. At l!

In [ ]:
print(clientes.head())

# Para saber mais: clusulas SQL

SQL (Structured Query Language - Linguagem de consulta estruturada)  uma linguagem de consulta utilizada em bancos de dados relacionais para inserir, atualizar, consultar e gerenciar dados.

Para fazer tudo isso,existem as clusulas SQL, que so componentes fundamentais das instrues SQL, permitindo especificar detalhes sobre como a consulta ou a operao de banco de dados devem ser executadas. As clusulas so usadas para filtrar, classificar, agrupar e limitar os resultados das consultas.

As instrues SQL podem ser compostas por uma ou mais clusulas que fornecem informaes adicionais sobre o que a consulta deve fazer. As clusulas mais comuns so:

 - SELECT: especifica quais colunas devem ser selecionadas na consulta.

 - FROM: especifica as tabelas do banco de dados que devem ser consultadas.

 - WHERE: filtra os resultados da consulta com base em uma ou mais condies especificadas.

 - ORDER BY: classifica os resultados da consulta em ordem crescente ou decrescente com base em uma ou mais colunas.

 - GROUP BY: agrupa os resultados da consulta com base em uma ou mais colunas.

 - LIMIT: limita o nmero de linhas retornadas pelos resultados da consulta.

Temos um exemplo simples de sintaxe SQL que usa o comando SELECT para consultar dados de uma tabela de colaboradores(as) em um banco de dados:

In [ ]:
SELECT nome, sobrenome, salario

FROM colaboradores

WHERE departamento = 'vendas'

Nessa instruo SQL, a clusula SELECT  usada para especificar as colunas que se deseja consultar da tabela "colaboradores", incluindo "nome", "sobrenome" e "salario". A clusula FROM  usada para especificar a tabela que se deseja consultar, que  "colaboradores" neste caso.

A clusula WHERE  usada para filtrar os resultados da consulta com base em uma condio especificada. Neste exemplo, a condio  departamento = 'vendas', o que significa que a consulta retornar apenas as pessoas colaboradoras que trabalham no departamento de vendas.

No prximo vdeo vamos aprender a usar algumas dessas clusulas para realizar as primeiras consultas SQL na tabela que contm os dados de clientes de uma instituio financeira.

# Lendo uma consulta SQL

Criamos uma tabela chamada Clientes que possui as informaes das pessoas cadastradas na instituio financeira.

Agora, descobriremos como acessar essas informaes por meio de consultas SQL.

Para isso, criamos uma varivel chamada query. Inserimos o smbolo de igual e duas aspas simples.

In [ ]:
query = ''

Dentro das aspas escrevemos exatamente o que queremos consultar em SQL. Nesse caso, o que o time de dados quer  separar as pessoas que esto com a categoria de renda preenchidas como "Empregado", ou seja, s as pessoas que esto trabalhando no momento.

Quando trabalhamos com SQL utilizamos clusulas, ou seja, palavras que possuem funes especficas para a consulta.

Lembrando que em SQL as clusulas so escritas em caixa alta.

Sendo assim, aps as aspas, escrevemos SELECT seguido de *. Esse asterisco indica que queremos selecionar todas as colunas da tabela.

Agora, precisamos especificar qual tabela  essa. Ento, aps * inserimos a clusula FROM clientes.

Na mesma linha, escrevemos a clusula WHERE, que filtra as informaes, seguido do nome da coluna que queremos consultar Categoria_de_renda. Logo aps escrevemos ="Empregado" e executamos.

Estamos pedindo para selecionar todas as colunas da tabela clientes na qual a categoria de renda seja igual a "Empregado".

In [ ]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renda="Empregado"'

Para ler uma consulta em SQL criaremos a varivel empregados = pd.read_sql( ). Dentro do parntese, passamos a consulta e o motor do bando de dados, query, engine. Em seguida, a executamos.

In [ ]:
empregados = pd.read_sql(query, engine)

Agora, na linha de seguinte, escrevemos empregados e executamos a clula. Feito isso, temos o seguinte retorno:

In [ ]:
empregados = pd.read_sql(query, engine)

empregados

## Conseguimos fazer nossa primeira consulta SQL!

Para salv-la como uma nova tabela escrevemos empregados.to_sql( ). Dentro do parntese inserimos aspas simples e dentro dela escrevemos empregados. Adicionamos uma vrgula e passamos o parmetro con=engine seguido de index=False e executamos.

In [ ]:
empregados.to_sql('empregados', con=engine, index=False)

Utilizamos o read_sql para lermos uma consulta, mas e se quisermos ler uma tabela inteira como a que acabamos de salvar?

Para isso, utilizamos a funo pd.read_sql_table( ). Dentro do parntese inserimos aspas simples, seguido do nome da tabela que queremos executar 'empregados' e engine. Executamos em sequncia.

In [ ]:
pd.read_sql_table('empregados', engine)

Lembre-se sempre dessa diferena, o read_sql permite ler uma consulta e o read_sql_table uma tabela completa.

Alm disso, tambm podemos inserir outros parmetros, como especificar quais colunas queremos que sejam lidas.

Para testarmos, copiamos a mesma linha de cdigo que escrevemos anteriormente e colamos em uma nova linha.

Depois de engine, adicionamos o parmetro colums=[ ]. Dentro de colchetes adicionamos aspas simples e dentro delas adicionamos as colunas que queremos visualizar, sendo: 'ID_cliente', 'Grau_escolaridade', 'Rendimento_anual'.

In [ ]:
pd.read_sql_table('empregados', engine, columns=['ID_Cliente', 'Grau_escolaridade', 'Rendimento_anual'])

A partir disso o time de dados j pode fazer algumas anlises.

Mas, e se algum cliente no estiver mais cadastrado na instituio financeira ou tiver seu rendimento anual atualizado?

Na prxima aula aprenderemos como realizar alteraes nesses dados.

# Antes de atualizar o banco de dados

No prximo vdeo, vamos aprender como realizar algumas modificaes nos dados. Porm,  importante dizer que foram implementadas algumas atualizaes recentes na biblioteca que usamos, a SQLAlchemy.

Para garantir que voc consiga chegar nos mesmos resultados apresentados no vdeo, precisamos abordar os mtodos atualizados para interao com o banco de dados.

Aps ler todos os registros da tabela clientes,  fundamental iniciar importando a funo text do SQLAlchemy. Esta funo  essencial para criar e executar expresses SQL literais dentro do seu cdigo Python. Ao utilizar text, voc pode inserir diretamente instrues SQL que o SQLAlchemy compreender e executar:

In [ ]:
from sqlalchemy import text

In [ ]:
# Para deletar um registro na tabela clientes, agora utilizamos a seguinte estrutura:

query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

Vamos quebrar o cdigo em partes para entender melhor cada etapa:

 1. Definio da consulta SQL: Primeiro, definimos o que queremos fazer com o banco de dados em uma string de consulta SQL, armazenada na varivel query. Aqui, o comando DELETE  usado para remover o registro de um cliente especfico, identificado pelo ID_Cliente=5008804.

 2. Estabelecendo conexo com o banco de dados: Usamos with engine.connect( ) as conn para abrir uma conexo com o banco. O with  muito til porque gerencia automaticamente a abertura e o fechamento da conexo. Isso significa que, aps o bloco de cdigo ser executado, a conexo ser fechada automaticamente, evitando que recursos sejam desperdiados ou bloqueios no banco de dados se prolonguem.

 3. Executando a consulta: Dentro do bloco with, executamos a consulta com conn.execute(text(query)). A funo text( )  usada aqui para garantir que a string de consulta seja interpretada como SQL puro.

 4. Confirmar a transao: Por fim, chamamos conn.commit() para confirmar a transao. Isso  crucial porque, em muitos bancos de dados, as alteraes feitas (como deletar um registro) no so salvas permanentemente at que sejam confirmadas explicitamente.

Este processo garante que o registro seja removido de forma segura e eficiente, minimizando a possibilidade de erros ou problemas de segurana.

# De maneira similar, para atualizar informaes de um registro, como o grau de escolaridade de um cliente, voc pode proceder da seguinte forma:

In [ ]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

Aqui, a conexo  estabelecida novamente, a consulta de atualizao  executada para alterar o grau de escolaridade do cliente com ID 5008808 para "Ensino superior", e a transao  confirmada.

Estes passos so cruciais para manipular dados de forma segura e eficaz, utilizando as funcionalidades mais recentes do SQLAlchemy. Seguir estas instrues ajudar a assegurar que voc obtenha resultados precisos e consistentes, conforme demonstrado no vdeo.

Ento, d play no vdeo a seguir, experimente os cdigos e veja como  eficaz trabalhar com essa ferramenta atualizada!

# Atualizando um banco de dados

Existem inmeras situaes no dia a dia que podem precisar da atualizao das informaes do banco de dados.

Para colocar isso em prtica, vamos visualizar novamente os dados da tabela Clientes. Criamos uma varivel query, inserimos o smbolo de igual e aspas duplas. Dentro delas escrevemos SELECT * FROM clientes e executamos a clula

In [ ]:
query = 'SELECT * FROM clientes'

Em uma nova linha, escrevemos pd.read_sql( ). Dentro do parntese passamos nossa consulta query e o motor do banco engine. Executamos a clula.

In [ ]:
pd.read_sql(query, engine)

# Atualizando um banco de dados

Suponhamos que a pessoa de ID 5008804 cancelou sua conta na instituio financeira. Isso significa que ela no faz mais parte do quadro de clientes.

Para tir-la da tabela precisamos realizar uma consulta. Ento, escrevemos query = ''. Dentro das aspas, inserimos a instruo DELETE seguido da clusula FROM clientes. Agora, especificamos qual cliente ser deletado, ento, escrevemos WHERE seguido do nome da coluna ID_Cliente e o nmero do ID 5008804.

Apertamos "Enter" para a linha de baixo. Agora, fazemos um contexto with. Isso garante que a conexo com o banco de dados seja fechada corretamente aps a execuo da consulta. Depois, usamos o mtodo engine.connect( ), seguido de as conn.

Na linha de baixo, chamamos o conn.execute(query). Em seguida, executamos.

Com isso estamos usando um mtodo chamado connect para estabelecer uma conexo com o banco de dados. Estamos pedindo para executar a query com o mtodo execute que quando chamado, executa a instruo SQL diretamente no banco de dados, usando a conexo estabelecida.

In [ ]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    conn.execute(query)

Agora, vamos conferir se realmente no temos mais o cliente no banco de dados. Ao invs de fazer uma consulta, leremos a tabela clientes inteira.

Para isso, escrevemos pd.read_sql_table( ). Dentro do parntese escrevemos 'clientes', engine e executamos.

Assim, temos o seguinte resultado:

In [ ]:
pd.read_sql_table('clientes', engine)

Analisando a tabela, percebemos que antes ela comeava pelo cliente de ID 5008804. Depois de aplicar o DELET ela comea pelo cliente de ID 5008805. Isso significa que deu certo.

Mas, e se s quisermos atualizar um dado ao invs de apag-lo?

O cliente 5008808 est com o grau de escolaridade como Ensino mdio. Porm, ele fez faculdade e deseja mudar para Ensino superior.

Para isso, em uma nova linha escrevemos a consulta query =''. Dentro das aspas usamos a clausula UPDATE seguido do nome da tabela clientes e a clausula SET.

Aps, definimos qual coluna ser alterada, ento Grau_escolaridade. Inserimos o smbolo de igual, seguido da informao que queremos atualizar entre aspas duplas, nesse caso "Ensino superior".

Definimos onde isso ser alterado WHERE ID_Cliente. Inserimos o smbolo de igual e o ID do cliente 5008808.

Agora, copiamos o mesmo cdigo do contexto with que usamos anteriormente e colamos abaixo dessa nova consulta. Em seguida, executamos a clula. Dessa forma:

In [ ]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
    conn.execute(query)

Para visualizar se deu certo, leremos a tabela de clientes completa. Escrevemos pd.read_sql_table( ) e dentro do parntese passamos 'clientes', engine.

In [ ]:
pd.read_sql_table('clientes', engine)

Analisando a tabela, conseguimos identificar que o cliente 5008808 agora consta com o grau de escolaridade como Ensino superior. Deu tudo certo!

Assim, aprendemos a trabalhar com banco de dados local e como realizar consultas SQL.

# Desafio: manipulando um banco de dados

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Voc  responsvel por criar um banco de dados local de clientes para uma instituio financeira. Temos o arquivo CSV com os dados de clientes.

Sua misso :

 1. Criar o banco de dados local com a biblioteca SQLAlchemy.

 2. Escrever os dados do arquivo CSV neste banco de dados local.

 3. Realizar trs atualizaes no banco de dados:

   - Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.

   - Excluir o registro do cliente de ID 5008809, pois essa pessoa no possui mais conta na instituio financeira.

   - Criar um novo registro de cliente seguindo as especificaes abaixo:

      - ID_Cliente: 6850985

      - Idade: 33

      - Grau_escolaridade: Doutorado

      - Estado_civil: Solteiro

      - Tamanho_familia: 1

      - Categoria_de_renda: Empregado
        
      - Ocupacao: TI

      - Anos_empregado: 2

      - Rendimento_anual: 290000

      - Tem_carro: 0

      - Moradia: Casa/apartamento prprio
      
Dica importante: Para adicionar um(a) novo(a) cliente  tabela, utilize a clusula INSERT INTO seguida do nome da tabela e depois especifique entre parnteses os nomes das colunas da tabela. Utilize a clusula VALUES e, em seguida, passe entre parnteses os novos valores para esse novo registro. Certifique-se de que os valores estejam na ordem correta e no formato adequado para cada coluna.

Para criar o banco de dados local  necessrio executar os comandos abaixo.

Esse cdigo consiste em importar a biblioteca sqlalchemy e criar um objeto engine que representa uma conexo com um banco de dados SQLite em memria. O mtodo create_engine  usado para criar o objeto engine e especificar o banco de dados que ser usado. Nesse caso, o banco de dados  um banco de dados SQLite em memria, que  criado usando o sqlite:///:memory::

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
engine = create_engine('sqlite:///:memory:')

Em seguida, podemos ler os dados com a funo read_csv e escrev-los no formato do banco de dados com a funo to_sql:

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'
dados = pd.read_csv(url)
dados.to_sql('clientes', engine, index=False)

Aps a criao da tabela, podemos obter um DataFrame com a funo read_sql_table:

In [ ]:
pd.read_sql_table('clientes', engine)

Agora vamos comear as atualizaes do banco de dados!

Antes de comear, precisamos fazer a seguinte importao:

In [ ]:
from sqlalchemy import text

# Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000

O cdigo a seguir atualiza o rendimento anual do cliente de ID 6840104 na tabela clientes. Para realizar essa tarefa, usamos uma instruo SQL UPDATE, que permite alterar os dados existentes em uma tabela.

A atualizao ser feita no campo Rendimento_anual, alterando o valor para 300000.0, mas isso s ser aplicado ao registro onde o ID_Cliente  igual a 6840104. O SQL para essa operao  construdo e armazenado na varivel query.

A execuo da query  feita utilizando uma conexo com o banco de dados criada pelo objeto engine. O cdigo segue estas etapas:

 1. Abrir a conexo: Usamos engine.connect( ) para estabelecer uma comunicao com o banco de dados.

 2. Executar a query: O mtodo conn.execute( ) executa a instruo SQL armazenada em query.

 3. Confirmar a alterao: O mtodo conn.commit( )  chamado para garantir que a modificao seja salva permanentemente no banco de dados. Sem isso, as alteraes podem no ser aplicadas.

In [ ]:
query = 'UPDATE Clientes SET Rendimento_anual=300000.0 WHERE ID_Cliente=6840104'
with engine.connect() as conn:
  result = conn.execute(text(query))
  conn.commit()

Depois de rodar esse cdigo voc pode checar se a atualizao realmente aconteceu fazendo a leitura da tabela clientes

# Excluir o registro do cliente de ID 5008809, pois essa pessoa no possui mais conta na instituio financeira

In [ ]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008809'
with engine.connect() as conn:
  result = conn.execute(text(query))
  conn.commit()

# Criar um novo registro de cliente seguindo as especificaes dadas anteriormente

Quando trabalhamos com bancos de dados,  comum precisar inserir novos registros em nossas tabelas. Para isso, podemos utilizar a clusula INSERT INTO que nos permite adicionar novos dados de forma prtica e rpida.

Para utilizar essa clusula, primeiro  necessrio especificar o nome da tabela na qual o registro ser inserido. Em seguida, devemos passar, entre parnteses, os nomes das colunas onde sero adicionados os novos valores.  importante lembrar que a ordem dos nomes deve ser a mesma ordem em que os valores sero passados.

Aps especificar as colunas, utilizamos a clusula VALUES para adicionar os novos valores. Novamente, devemos passar entre parnteses os valores a serem inseridos na mesma ordem em que as colunas foram especificadas.  importante garantir que os valores estejam no formato correto para cada tipo de dado.

Como a query  longa voc pode usar ' \ para dizer que o cdigo continua na linha seguinte.

In [ ]:
query = 'INSERT INTO clientes (ID_Cliente, Idade, Grau_escolaridade, Estado_civil, ' \
        'Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, ' \
        'Rendimento_anual, Tem_carro, Moradia) ' \
        'VALUES (6850985, 33, "Doutorado", "Solteiro", 1, "Empregado", "TI", ' \
        '2, 290000, 0, "Casa/apartamento prprio")'

with engine.connect() as conn:
  result = conn.execute(text(query))
  conn.commit()

# Para verificar se as alteraes foram feitas, voc pode ler a tabela com o seguinte cdigo:

# Nova seo

In [ ]:
pd.read_sql_table('clientes', engine)